/*========================== reset.css ==========================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, time {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a, input, select, textarea {
    outline: none;
}

img, input {
	border: none;
	height: auto;
	max-width: 100%;
}

input[type=submit] {
    cursor: pointer;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*========================== END reset.css ==========================*/

@font-face {
    font-family: 'a_futuricabsbold';
    src: url('fonts/a_FuturicaBs_Bold/a_futuricabs_bold-webfont.eot');
    src: url('fonts/a_FuturicaBs_Bold/a_futuricabs_bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/a_FuturicaBs_Bold/a_futuricabs_bold-webfont.woff2') format('woff2'),
        url('fonts/a_FuturicaBs_Bold/a_futuricabs_bold-webfont.woff') format('woff'),
        url('fonts/a_FuturicaBs_Bold/a_futuricabs_bold-webfont.ttf') format('truetype'),
        url('fonts/a_FuturicaBs_Bold/a_futuricabs_bold-webfont.svg#a_futuricabsbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'a_futuricamedium';
    src: url('fonts/a_FuturicaMedium/a_futuricamedium_2305-webfont.eot');
    src: url('fonts/a_FuturicaMedium/a_futuricamedium_2305-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/a_FuturicaMedium/a_futuricamedium_2305-webfont.woff2') format('woff2'),
        url('fonts/a_FuturicaMedium/a_futuricamedium_2305-webfont.woff') format('woff'),
        url('fonts/a_FuturicaMedium/a_futuricamedium_2305-webfont.ttf') format('truetype'),
        url('fonts/a_FuturicaMedium/a_futuricamedium_2305-webfont.svg#a_futuricamediumregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'a_futuraroundregular';
    src: url('fonts/a_futuraround/a_futuraround-webfont.eot');
    src: url('fonts/a_futuraround/a_futuraround-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/a_futuraround/a_futuraround-webfont.woff2') format('woff2'),
        url('fonts/a_futuraround/a_futuraround-webfont.woff') format('woff'),
        url('fonts/a_futuraround/a_futuraround-webfont.ttf') format('truetype'),
        url('fonts/a_futuraround/a_futuraround-webfont.svg#a_futuraroundregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'a_futuraortobold';
    src: url('fonts/a-futuraorto-bold/a-futuraorto-bold-webfont.eot');
    src: url('fonts/a-futuraorto-bold/a-futuraorto-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/a-futuraorto-bold/a-futuraorto-bold-webfont.woff2') format('woff2'),
        url('fonts/a-futuraorto-bold/a-futuraorto-bold-webfont.woff') format('woff'),
        url('fonts/a-futuraorto-bold/a-futuraorto-bold-webfont.ttf') format('truetype'),
        url('fonts/a-futuraorto-bold/a-futuraorto-bold-webfont.svg#a_futuraortobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'a_futuricablackregular';
    src: url('fonts/a_futuricablack/a_futuricablack-webfont.eot');
    src: url('fonts/a_futuricablack/a_futuricablack-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/a_futuricablack/a_futuricablack-webfont.woff2') format('woff2'),
        url('fonts/a_futuricablack/a_futuricablack-webfont.woff') format('woff'),
        url('fonts/a_futuricablack/a_futuricablack-webfont.ttf') format('truetype'),
        url('fonts/a_futuricablack/a_futuricablack-webfont.svg#a_futuricablackregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'a_futuricabookregular';
    src: url('fonts/a_FuturicaBookRegular/a_futuricabook_regular-webfont.eot');
    src: url('fonts/a_FuturicaBookRegular/a_futuricabook_regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/a_FuturicaBookRegular/a_futuricabook_regular-webfont.woff2') format('woff2'),
        url('fonts/a_FuturicaBookRegular/a_futuricabook_regular-webfont.woff') format('woff'),
        url('fonts/a_FuturicaBookRegular/a_futuricabook_regular-webfont.ttf') format('truetype'),
        url('fonts/a_FuturicaBookRegular/a_futuricabook_regular-webfont.svg#a_futuricabookregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'a_futuricaltsemibold';
    src: url('fonts/a_FuturicaLt SemiBold/a_futuricalt_semibold-webfont.eot');
    src: url('fonts/a_FuturicaLt SemiBold/a_futuricalt_semibold-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/a_FuturicaLt SemiBold/a_futuricalt_semibold-webfont.woff2') format('woff2'),
        url('fonts/a_FuturicaLt SemiBold/a_futuricalt_semibold-webfont.woff') format('woff'),
        url('fonts/a_FuturicaLt SemiBold/a_futuricalt_semibold-webfont.ttf') format('truetype'),
        url('fonts/a_FuturicaLt SemiBold/a_futuricalt_semibold-webfont.svg#a_futuricaltsemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*========================== Общие классы ==========================*/

.clearfix {
    display:inline-block;
}

.clearfix {
    zoom:1;
    display:block;
}

.clearfix:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden
}
.clearfix.both {
    clear:both;
}

.left {float: left;}
.right {float: right;}

.center {
	margin-left: auto;
	margin-right: auto;
    width: 1200px;
}

.order_btn {
    border: 2px solid #6bbe39;
    border-radius: 3px;
    color: #6bbe39;
    font-family: 'a_futuricamedium';
    font-size: 20px;
    height: 43px;
    line-height: 40px;
    text-align: center;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
.order_btn:hover, .footer .order_btn:hover {
    color:#fff;
    border-color:#6bbe39;
    background-color:#6bbe39;
}
.green_btn {
    background: -webkit-linear-gradient(90deg, #309200 0%, #6dca00 73%, #75ce02 100%);
    background: -moz-linear-gradient(90deg, #309200 0%, #6dca00 73%, #75ce02 100%);
    background: -o-linear-gradient(90deg, #309200 0%, #6dca00 73%, #75ce02 100%);
    background: -ms-linear-gradient(90deg, #309200 0%, #6dca00 73%, #75ce02 100%);
    background: linear-gradient(0deg, #309200 0%, #6dca00 73%, #75ce02 100%);
    border-radius: 3px;
    box-shadow: 0 2px 0 #184701, inset 0 1px 0 rgba(255, 255, 255, 0.75);
    color: #ffffff;
    display: inline-block;
    font-size: 15px;
    height: 51px;
    line-height: 53px;
    padding: 0 59px 0 18px;
    position: relative;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}
.green_btn.min_1  {
    padding: 0 69px 0 25px;
    font-size:17px;
    height:42px;
    line-height: 44px;
}
.st_p .products_item .green_btn  {
    padding: 0 69px 0 25px;
    font-size:19px;
    height:42px;
    line-height: 44px;
    font-family: 'a_futuricamedium';
}
.green_btn.min_1:after   {
    height: 49px;
    top: -5px;
}
.st_p .products_item .green_btn:after {
    height: 49px;
    top:-1px;
}
.green_btn.subscribe {
    font-size:17px;
    height:46px;
    line-height: 50px;
}

.green_btn:after {
    background: url(img/green_btn_after.png) no-repeat;
    content: "";
    height: 53px;
    position: absolute;
    right: 15px;
    top: 0;
    width: 31px;
}


.blue_btn {
    background: #62b4e0;
    background: -moz-linear-gradient(left,  #62b4e0 0%, #61b3de 73%, #62b4e0 73%, #61b3de 100%);
    background: -webkit-linear-gradient(left,  #62b4e0 0%,#61b3de 73%,#62b4e0 73%,#61b3de 100%);
    background: linear-gradient(to right,  #62b4e0 0%,#61b3de 73%,#62b4e0 73%,#61b3de 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62b4e0', endColorstr='#61b3de',GradientType=1 );
    border-radius: 3px;
    color: #ffffff;
    display: inline-block;
    font-family: 'a_futuricabookregular';
    font-size: 19px;
    height: 42px;
    line-height: 42px;
    padding: 0 52px 0 20px;
    position: relative;
    text-align: center;
}

.blue_btn:before {
    background: url(img/Arrow-Down-Icon.png) no-repeat;
    content: "";
    height: 19px;
    margin-top: -8px;
    position: absolute;
    right: 16px;
    top: 50%;
    width: 10px;
}
.blue_btn:after {
    content: "";
    position: absolute;
    width:20px;
    height:44px;
    top:0px;
    right:22px;
    background: url(img/blue_but_shed.png) no-repeat;
    
}

/*========================== END ==========================*/

body {
    color: #151c26;
    font-family: 'a_futuraortobold';
    font-size: 15px;
}

a {
    color: #151c26;
    text-decoration: none;
}

h2 {
    font-family: 'a_futuricabsbold';
    font-size: 17px;
    text-align: center;
    text-transform: uppercase;
}

strong {
    font-family: 'a_futuricabsbold';
    font-weight: normal;
}

input[type=text] {
    background-color: #ffffff;
    background-position: 15px center;
    background-repeat: no-repeat;
    border: 2px solid #cad3df;
    border-radius: 5px;
    color: #777d87;
    height: 45px;
    font-size: 15px;
    padding: 0 12px 0 45px;
}
textarea {
    color: #777d87;
    border: 2px solid #cad3df;
    border-radius: 5px;
    padding: 11px 12px 12px 45px;
   
}
textarea.msg {
  background-repeat: no-repeat;
  background-position: 15px 14px;
  background-image: url(img/msg_ic.png);   
}

input.name {
    background-image: url(img/User-Icon.png);
}

input.email {
    background-image: url(img/Mail-Icon.png);
    border-color: #6bbe39;
}

input.phone {
    background-image: url(img/phone_ico.png);
}

.wrapper {
    border-top: 4px solid #62b4e0;
    margin: 0 auto;
    max-width: 2200px;
    min-width: 1200px;
}

.header {
    background-color: #293444;
    color: #fff;
    padding: 0 0 12px 0;
}

.header .center {
    overflow: hidden;
}

.logo {
    margin: 39px 0 0 5px;
}

.header_contact {
    padding: 11px 0 0 0;
    width: 197px;
}

.phone {
    background: url(img/phone_bg.png) no-repeat left center;
    font-size: 20px;
    margin: 0 0 14px 0;
    padding: 0 0 0 20px;
}

.adres {
    color: #fefefe;
    font-family: 'a_futuraroundregular';
    font-size: 14px;
    line-height: 17px;
    margin: 0 0 5px 0;
}

.adres img {
    display: inline-block;
    margin: 0 10px 0 0;
}

.header .order_btn {
    display: block;
}

.header_menu {
    margin: 58px 0 0 29px;
}

.header_menu li {
    float: left;
    margin: 0 15px 0 0;
    padding: 0 0 0 20px;
    position: relative;
}

.header_menu li:before {
    background: #ffffff;
    content: "";
    height: 5px;
    left: 0;
    position: absolute;
    top: 2px;
    width: 5px;
}

.header_menu li:first-child:before {
    display: none;
}

.header_menu li a {
    color: #ffffff;
    font-size: 13px;
    display: block;
    text-transform: uppercase;
}

.header_menu li a:hover {
    color: #62b4e0;
}

.slick-dots {
    bottom: 146px;
}

.slick-dots li {
    height: 6px;
    width: 6px;
}

.slick-dots li button:before {
    background-color: #ffffff;
    border-radius: 1px;
    content: "";
    height: 6px;
    opacity: 1;
    width: 6px;
}

.slick-dots li.slick-active button:before {
    height: 8px;
    top: -1px;
    width: 8px;
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.slick-slide {
    position: relative;
}

.slick-slide .center {
    left: 50%;
    margin-left: -600px;
    position: absolute;
    top: 52px;
}

.slider .slick-arrow {
    background: url(img/slider_arrow.png) no-repeat;
    cursor: pointer;
    height: 40px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
    width: 42px;
}

.slider .slick-slide .prev {
    background-position: 0 -40px;
    left: 0;
}

.slider .slick-slide .prev:hover {
    background-position: -42px -40px;    
}

.slider .slick-slide .next {
    background-position: 0 0;
    right: 0;
}

.slider .slick-slide .next:hover {
    background-position: -42px 0;
}

.slide_title {
    color: #fff;
    font-family: 'a_futuricablackregular';
    font-size: 34px;
    line-height: 37px;
    margin: 80px 0 30px 0;
    text-align: center;
    text-shadow: 0 0 77.4px rgba(10, 13, 18, 0.31);
    text-transform: uppercase;
}

.slide_descript {
    color: #ffffff;
    line-height: 26px;
    margin: 0 0 34px 146px;
    width: 775px;
}

.wrap_green_btn {
    text-align: center;
}

.slider .green_btn img {
    padding: 0 15px 0 35px;
}

.slide_item {
    height: 548px;
}

.block_1 {
    background: #495260;
    background: -moz-linear-gradient(left,  #495260 0%, #495260 55%, #293444 56%, #293444 100%);
    background: -webkit-linear-gradient(left,  #495260 0%,#495260 55%,#293444 56%,#293444 100%);
    background: linear-gradient(to right,  #495260 0%,#495260 55%,#293444 56%,#293444 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#495260', endColorstr='#293444',GradientType=1 );
    margin: 0 0 38px 0;
}

.block_1 .center {
    overflow: hidden;
}

.preim {
    background: #495260;
    padding: 35px 0 64px 0;
    width: 875px;    
}
.preim.full {
    width:auto;
    padding: 35px 0 100px 0;

}
.preim h2 {
    color: #ffffff;
    line-height: 35px;
    margin: 0 0 49px 0;
    transform: scaleY(1);
    text-align: center;
    text-transform: uppercase;
}

 .preim .about_us h2 {
    
}

.title_arrow {
    background: url(img/Arrow-Down-Icon2.png) no-repeat bottom center;    
    padding: 0 0 15px 0;
}
.title_arrow.whb {
    background-image:url(img/arrow_down_1.png)
}

.ul_preim {
    margin: 0 0 0 99px;
    overflow: hidden;
}
.full .ul_preim {
     margin: 0 0 0 0px;
}
.ul_preim > li {
    color: #ffffff;
    float: left;
    font-family: 'a_futuricamedium';
    font-size: 16px;
    height: 58px;
    line-height: 27.991px;
    margin-bottom: 59px;
    padding: 0 0 0 97px;
    width: 250px;
}
.full .ul_preim > li {
    margin:0px 2%;
}

.ul_preim > li:nth-last-child(1), .ul_preim > li:nth-last-child(2) {
    margin-bottom: 0;
}

.ul_preim > li:nth-child(2n+1) {
    clear: both;
}

.ul_preim > li:nth-child(2n) {
    margin-left: 175px;
}
.full .ul_preim > li:nth-child(2n) {
    margin-left:auto;
}
.full .ul_preim > li:nth-child(2n+1) {
    clear:none;
}
.ul_preim > li:nth-child(1) {
    background: url(img/ico_1.png) no-repeat left center;
}

.ul_preim > li:nth-child(2) {
    background: url(img/ico_2.png) no-repeat left center
}

.ul_preim > li:nth-child(3) {
    background: url(img/ico_3.png) no-repeat left center
}

.ul_preim > li:nth-child(4) {
    background: url(img/ico_4.png) no-repeat left center
}

.ul_preim > li span {
    color: #aedef8;
    font-family: 'a_futuricabsbold';
    font-size: 18px;
}

.form1 {
    background-color: #293444;
    padding: 34px 0 0 43px;
    width: 324px;
}

.form1 .submit {
    display: block;
    font-size: 18px;
    padding-left: 0;
    text-align: center;
    width: 235px;
    margin:11px 0px 0px 0px;
}

.form1 input {
    margin: 0 0 10px 0;
    width: 235px;
}
.form1 input::-webkit-input-placeholder,.form1 textarea::-webkit-input-placeholder  {color:#777d87;}
.form1 input::-moz-placeholder, .form1 textarea::-moz-placeholder            {color: #777d87; }
.form1 input:-moz-placeholder, .form1 textarea:-moz-placeholder            {color: #777d87; }
.form1 input:-ms-input-placeholder, .form1 textarea:-ms-input-placeholder   {color:#777d87;}

.form1 input[type=submit] {
    display: block;
}

.subscribe:after {
    width:35px;
    background: url(img/subscribe.png) no-repeat -1px -3px;
}

.form_title {
    background: url(img/Arrow-Down-Icon2.png) no-repeat bottom center;
    color: #ffffff;
    line-height: 35px;
    margin: 0 0 30px 0;
    padding: 0 0 16px 0;
    text-transform: uppercase;
}

.products .products_item {
    float: left;
    height: 350px;
    position: relative;
    width: 205px;
}
.products.st_p .products_item {
    width: 179px;
}
.products.prtfol .products_item  {
    height:228px;
}

.products .products_item + .products_item {
    margin-left: 40px;
    margin-bottom:45px;
}

.products.st_p .products_item + .products_item:nth-child(4n + 1) {
    clear:left;
    margin-left:0px;
}

.products .products_item  .prod {
    position: absolute;
    top: 0;
}

.produts_main > h2 {
    color: #151c26;
    margin: 0 0 42px 0;
}

.products {
    margin: 0 0 229px 5px;
}
.produts_main.st_1 {
    background-color:#495260;
}
.produts_main.st_1 .products {
        margin: 0 0 0px 0px;
        padding-left:14px;
}
.produts_main.st_1 .products.white {
    background:#fff;
}
.products.st_p .products_title {
    color:#fff;
    margin: 0 0 12px 0;
    font-size:16px;
}
.products.prtfol .products_title {
    margin-bottom:0px;
}
.products.st_p.white .products_title {
    color:#121a24;
}
.st_p .products_ul > li:nth-child(1) {
    float:none;
    line-height: 25px;
}
.products_img {
    padding: 0 0 20px 0;
    position: relative;
}
.prod.hover .products_img img {
    border:2px solid #878d97;
}

.products_img img {display: block; width: 100%;}

.products_img:after {
    background-color: rgba(56, 51, 47, 0.5);
    bottom: 20px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.products_title {
    color: #151c26;
    line-height: 19.994px;
    margin: 0 0 5px 0;
    overflow: hidden;
    text-align: left;
    text-transform: none;
}

.products_ul {
    margin: 0 0 9px 0;
    overflow: hidden;
}
.st_p .products_ul {
     margin: 0 0 20px 0;
}

.products_ul > li {
    float: left;
}

.products_ul > li:nth-child(1) {
    color: #151c26;
    font-size: 14px;
    line-height: 35px;
    padding: 0 13px 0 0;
    font-family: 'a_futuraroundregular';

}

.products_ul > li:nth-child(2) {
    color: #6bbe39;
    font-family: 'a_futuricaltsemibold';
    font-size: 19.99px;
    position: relative;
    top: 5px;
}
.st_p  .hover .products_ul > li:nth-child(2) {
    color:#4695c0;
}
.st_p .products_ul > li:nth-child(2) {
    top:0px;
}
.products_ul > li:nth-child(2) span {
    font-size: 13px;
}

.products_descript {
    display: none;
    margin: 15px 0 0 2px;
    
}

.products_descript > li {
    color: #151c26;
    font-family: 'a_futuricaltsemibold';
    font-size: 14px;
    margin: 0 0 8px 0;

}

.products_item .green_btn {
    box-shadow: 0 2px 0 #2b640f, inset 0 1px 0 rgba(255, 255, 255, 0.75);
    display: none;
    font-family: 'a_futuricabookregular';
    font-size: 15px;
    height: 42px;
    line-height: 14px;
    padding: 9px 0 0 25px;
}

.colors {
    display: none;
    margin: 23px 0 16px 0;
}

.colors_1 {
    font-family: 'a_futuricabsbold';
    font-size: 14px;
}

.products .products_item .prod.hover {
    background-color: rgba(56, 51, 47, 0.05);
    border: 1px solid #b0cad7;
    left: -17px;
    padding: 17px;
    top: -17px;
    width: 239px;
}

 .products .products_item  .prod.hover,  .products.st_p .products_item .prod  {
    background-color: rgba(56, 51, 47, 0.05);
    border: 1px solid #b0cad7;
    left: -17px;
    padding: 17px;
    top: -17px;
    width: 239px;
}
.products.st_p .products_item  .prod.hover {
    background-color:#fff;
}
.products.st_p .products_item  .prod {
    width:202px;
    padding: 14px 9px 14px 9px;
    background-color:rgba(121,129,143,.2);
    border: 1px solid #4e667a;
    left:-6px;
    margin-top:17px;
}
.products.white .products_item  .prod  {
    border-color:transparent;
    background-color:transparent;
    
}
.products.st_p.white .products_item  .prod.hover {
    border-color:#c9e5f4;
}


 
.products .products_item  .prod.hover .products_img:after {
    background-color: transparent;
}


.products .products_item  .prod.hover .blue_btn {
    display: none;
}

 .products .products_item .prod.hover .products_title {
    color: #4594bf;
    text-transform: uppercase;
}
 .products.prtfol .products_item .prod.hover .products_title {
    color: #121a24;
}
.products.st_p .products_item .prod.hover .products_title {
    text-transform: inherit;
}
.products.st_p.white .products_item .prod.hover .products_title {
    color:#121a24;
}

.products .products_item .prod.hover .products_descript,
.products .products_item  .prod.hover .green_btn,
.products .products_item  .prod.hover .colors {
    display: block;
}


.products .products_item  .prod.hover .products_title > li:nth-child(2) {
    color: #4594bf;
}

.products_item .green_btn {
    background: -webkit-linear-gradient(90deg, #309200 0%, #6dca00 73%, #75ce02 100%);
    background: -moz-linear-gradient(90deg, #309200 0%, #6dca00 73%, #75ce02 100%);
    background: -o-linear-gradient(90deg, #309200 0%, #6dca00 73%, #75ce02 100%);
    background: -ms-linear-gradient(90deg, #309200 0%, #6dca00 73%, #75ce02 100%);
    background: linear-gradient(0deg, #309200 0%, #6dca00 73%, #75ce02 100%);
}

.products_item .green_btn:after {
    background: url(img/green_btn_after2.png);
    height: 42px;
    width: 26px;
}

.news_main {
    background: #293444;
    background: -moz-linear-gradient(left,  #293444 0%, #293444 64%, #495260 65%, #495260 100%);
    background: -webkit-linear-gradient(left,  #293444 0%,#293444 64%,#495260 65%,#495260 100%);
    background: linear-gradient(to right,  #293444 0%,#293444 64%,#495260 65%,#495260 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#293444', endColorstr='#495260',GradientType=1 );
}
.news_main.full {
    
}

.news_main .center, .block_5 .center  {
    overflow: hidden;
}

.news {
    background: #293444;   
    padding: 40px 100px 81px 0;
    width: 876px;
}
.news_main.full .news {
    padding: 40px 0px 81px 0;
    width:auto;
}
.news_main.full, .news_main.full .news  {
    background:#495260;
}

.news .title_arrow {
    color: #ffffff;
    padding-bottom: 29px;
    text-align: center;
}
.about_us .title_arrow {
    margin: 0 0 38px 0;
    padding-bottom: 25px;
   
}
.partbox .title_arrow {
    margin: 0 0 38px 0;
    padding-bottom: 25px;
}
.st_2 .news_title {
  
} 
.news_title {
    color: #4594bf;
    font-family: 'a_futuricabsbold';
    font-size: 14px;
    margin: 0 0 17px 0;
    text-transform: uppercase;
}

.news_list {
    margin: 28px 0 0 4px;
}

.news_list > li {
    color: #fefefe;
    overflow: hidden;
}

.news_list > li+ li {
    margin-top: 35px;
}

.news_img {
    height: 88px;
    display: block;
    margin: 0 28px 0 0;
    width: 88px;
}
.full .news_img {
    height: 122px;
    margin: 0 28px 0 0;
    width: 122px;
}
.full.st_2 .news_img {
    width:235px;
    height:184px;
    margin:0px 20px 10px 0px;
}
.news_txt {
    font-family: 'a_futuricabookregular';
    font-size: 16px;
    line-height: 18px;
    margin: 0 0 7px 0;
}

.full .news_txt {
    height:69px;
} 
.full.st_2 .news_txt {
    height:auto;
    font-size:17px;
}
.more {
    color: #62b4e0;
    font-family: 'a_futuricabsbold';
    font-size: 14px;
}

.news_date {
    color: rgba(254, 254, 254, 0.3);
    font-family: 'a_futuricamedium';
    font-size: 13px;
    position: absolute;
    right: 0;
    top: 0;
}

.news_descript {
    position: relative;
    width: 655px;
}
.full .news_descript {
    width:calc(100% - 122px - 28px);
}
.full.st_2 .news_descript {
    
    width:calc(100% - 235px - 28px);
}
.news_form {
    background: #495260;
}

.reviews {
    background: url(img/bg1.jpg) no-repeat center top;
    background-size:cover;
    color: #ffffff;
    overflow: hidden;
    padding: 42px 0 85px 0;
}

.reviews .title_arrow {
    padding-bottom: 26px;
}

.reviews_list {
    margin: 41px 0 0 5px;
}

.reviews_list > li {
    float: left;
    margin-bottom: 44px;
    overflow: hidden;
    position: relative;
    width: 555px;
}

.reviews_list > li:nth-child(2n+1) {
    clear: both;
}

.reviews_list > li:nth-child(2n) {
    margin-left: 84px;
}

.reviews_list > li:nth-last-child(1), .reviews_list > li:nth-last-child(2) {
    margin-bottom: 0;
}

.reviews_img {
    display: block;
    height: 139px;
    margin: 0 20px 0 0;
    width: 139px;
}

.reviews_title {
    font-family: 'a_futuricabsbold';
    font-size: 14px;
    margin: 0 0 17px 0;
    text-transform: uppercase;
}

.reviews_descript {
    font-family: 'a_futuricamedium';
    line-height: 20px;
}

.reviews_date {
    font-family: 'a_futuricabsbold';
    font-size: 12px;
    position: absolute;
    right: 0;
    top: 0;
}

.footer {
    background-color: #293444;
    border-bottom: 4px solid #62b4e0;
    padding: 0 0 11px 0;
}

.footer .center {
    overflow: hidden;
}

.footer_menu {
    margin: 22px 0 0 4px;
}

.footer_menu li {
    margin-right: 22px;
}

.footer_menu li a {
    text-transform: none;
}

.footer_menu li:first-child {
    padding-left: 0;
}

.footer_menu li:before {
    display: none;
}

.footer .logo {
    display: block;
    margin-bottom: 30px;
    margin-top: 24px;
}

.footer .header_contact {
    margin: 8px 10px 0 0;
    width: 200px;
}

.footer .phone {
    color: #ffffff;
    font-size: 15px;
    margin-bottom: 30px;
    margin-top: 10px;
}

.footer .order_btn {
    border-color: #ffffff;
    color: #ffffff;
    display: block;
}

.copyright {
    color: #151c26;
    font-family: 'a_futuricamedium';
    font-size: 16px;
    line-height: 19px;
    padding: 6px 15px 0 0;
    text-align: right;
}

.soc_btn {
    overflow: hidden;
}

.soc_btn > li {
    float: left;
    margin-right: 25px;
}

.soc_btn > li a {
    background-position: 0 0;
    display: block; 
    height: 21px;
}

.soc_btn .tw a {
    background: url(img/tw.png) no-repeat;
    width: 21px;
}

.soc_btn .tw a:hover {
    background-position: -21px 0;
}

.soc_btn .fb a {
    background: url(img/fb.png) no-repeat;
    display: block;
    width: 13px;
}

.soc_btn .fb a:hover {
    background-position: -13px 0;
}

.soc_btn .inst a {
    background: url(img/inst.png) no-repeat;
    display: block;
    width: 22px;
}

.soc_btn .inst a:hover {
    background-position:  0 -21px;
}

.vk a {
    color: #8493a8;
    font-size: 23px;
}


.vk a:hover {
    color: #d4d6da;
}

.h2s {
    font-family: 'a_futuricabsbold';
    font-size:17px;
    display:inline-block;
}
.block_5 {
    padding: 40px 0px 0px 0;
    background-color:#48505b;
}


.block_5  .title_arrow {
    color:#fff;
    padding-bottom:26px;
}
.sinfo  {
    margin:0px 0px 0px 0px;
}
.sinfo .itm {
    font-size:16px;
    color:#fff;
}
.cblc  {
    width:307px;
    font-size:16px;
    color:#fff;
    font-family: 'a_futuricamedium';
    margin:57px 58px 58px 140px;
}
.cblc li {
    line-height: 1.6em;
}
.cblc .uloc  {
        padding:4px 0px 0px 49px;
        margin:0px 0px 33px 0px;
        background: url(img/u_loc_ic.png) no-repeat left top;
}

.cblc .uphone  {
     background: url(img/u_phone_ic.png) no-repeat left 4px;
     padding:0px 0px 0px 72px;
}
.cblc .uphone .h2s {
    display:block;
}
.fmbox .green_btn {
   float:right;
   width:auto;
   padding-left:23px;
   padding-right:66px;
}
.fmbox .tit {
    margin:50px 0px 0px 0px;
    font-size:13px;
    font-family: 'a_futuricamedium';
    color:#fff;
    display:block;
}
.fmbox .form1 {
    padding: 6px 0 195px 0px;
    width:auto;
    background-color:transparent;
}
.fmbox .form1 {
    color:#777d87;
  
}
.fmbox {
    overflow:hidden;
}
.fmbox .form1  .inps {
    width:235px;
    float:left;
}
.fmbox .form1 .rtxt {
    margin:0px 0px 0px 19px;
  
    float:left;
}
.fmbox .form1 textarea {
    width:292px;
    height:155px;
    float:left;
    color:#777d87;
    font-size:17px;  
}


.gm_out {
    height:281px; /* :calc(436px - 155px);*/
}

.google-maps {
    transform:translateY( -155px);
/*    top:-155px;*/
    position: relative;
    overflow: hidden;
    height:436px;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    }
    
    .about_us {
       color:#fff; 
       background:#495260;
       margin-bottom:40px;    
    }
    .block_6  {
    background:#495260    
    }
    
    .about_us p {
       font-family: 'a_futuricamedium';
       padding:0px 0px 4px 0px;
       font-size:15px;
       line-height: 1.6em;
    }
    .about_us .text {
        padding:0px 0px 75px 0px;
    }
    
    .outslp {
        padding:0px 3%;
        margin:35px 0px 110px 0px;
        position:relative;
    }
    .outslp .itm {
        
    }
    .outslp .itm img:last-child {
        display:none;
    }
    .outslp .itm:hover img:first-child {
        display: none;
    }
    .outslp .itm:hover img:last-child {
        display: block;
    }
    
     .slp_arrow.slp_prev {
       background-position: -57px -5px;
    left: 0;
    }
     .slp_arrow.slp_prev:hover {
    background-position: -5px -46px;
    }
     .slp_arrow.slp_next {
    background-position: -5px -5px;
    right: 0;
    }
     .slp_arrow.slp_next:hover {
    background-position: -31px -5px;
    }
    
    
    
    .slp_arrow {
    cursor: pointer;    
    z-index: 2;    
    background: url(img/prt_arrows.png) no-repeat;
    cursor: pointer;
    height: 31px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
    width: 16px;
}


.block_7 {
    margin:0px 0px 27px 0px;       
    background-color:#f6f6f7;
}
.box_lorem .line:before, .box_lorem  .line:after, .flt_block .line:before, .flt_block .line:after {
    content:'';
    display:table;
}
.box_lorem  .line:after, .flt_block .line:after {
    clear:both;
}
.box_lorem  .itm {
    padding:34px 0px 10px 0px;
    background-repeat: no-repeat;
    width:33%;
    float:left;
}
.box_lorem  .itm .wrp:before {
    content:'';
    width:40px;
    height:50px;
    margin:0px 15px 0px 25px;
    float:left;
}
.box_lorem  .itm .wrp {
    padding:18px 33px 0px 0px;
    position:relative;
    margin:0px 0px 35px 0px;
}
.box_lorem  .itm .wrp:after {
    content:'';
    position:absolute;
    width:1px;
    height:100%;
    background:#d3d5d9;
    right:0px;
    top:0px;
}
.box_lorem  .itm:last-child .wrp:after {
    display:none;
}
.box_lorem  .itm.money .wrp:before {
    width:46px;
    height:61px;
    background-image: url(img/money_pick.png); 
}
.box_lorem  .itm.pack .wrp:before {
     width:50px;
     height:63px;
     background-image: url(img/pack_pick.png);
}
.box_lorem  .itm.doll .wrp:before {
    width:75px;
    height:61px;
    background-image: url(img/doll_pick.png);
}
.box_lorem  .itm span {
    display:block;
}
.box_lorem  .itm  .t {
    padding:0px 0px 10px 14px;
    display: inline-block;
    background: url(img/link_arrow.png) no-repeat 0px 1px;
    text-transform: uppercase;
    color:#4695c0;
    font-family: 'a_futuricabsbold';
    font-size:13px;
}
.box_lorem  .itm   a {
    color:#4695c0;
}
.box_lorem  .itm  .val {
    padding:0px 0px 18px 0px;
    font-family: 'a_futuricamedium';
    color:#293444;
    font-size:14px;
}
.news .pagination  {
     margin: 100px 0 65px 0px;
}
 .products .pagination, .produts_main .pagination  {
     margin: 60px 0 65px 0px;
}
.pagination {
    margin: 0 0 0 19px;
    overflow: hidden;
}
.pagination > li:first-child {
   margin-left:0px;
}
 .pagination > li:last-child {
   margin-right:0px;
}
.pagination > li {
    font-family: 'a_futuraortobold';
    color: #666666;
    float: left;
    font-size: 13px;
    text-align: center;
     margin-left:10px;
    margin-right:10px;
}
.pagination > li a {
    color:#fff;
    display: block;
}
.pagination > li a:hover {
    color:#62b5e1;
}

.product_page {
    background: #293444;
    background: -moz-linear-gradient(left,  #293444 0%, #293444 37%, #495260 38%, #495260 100%);
    background: -webkit-linear-gradient(left,  #293444 0%,#293444 37%,#495260 38%,#495260 100%);
    background: linear-gradient(to right,  #293444 0%,#293444 37%,#495260 38%,#495260 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#293444', endColorstr='#495260',GradientType=1 );
}

.product_page .center {
    overflow: hidden;
}

.product_page_1 {
    background-color: #293444;
    width: 324px;
}

.product_page_2 {
    background-color: #495260;
    padding: 0 0 39px 0;
    width: 869px;
}

.breadcrumbs {
    overflow: hidden;
    padding: 46px 0 20px 19px;
}

.breadcrumbs > li {
    float: left;
    position: relative;
}

.breadcrumbs > li + li {
    margin-left: 38px;
}

.breadcrumbs > li a {
    color: #ffffff;
    display: block;
    font-family: 'a_futuricamedium';
    font-size: 14px;
}

.breadcrumbs > li:after {
    background: url(img/breadcrumbs_arr.png) no-repeat;
    height: 5px;
    content: "";
    position: absolute;
    right: -27px;
    top: 5px;
    width: 17px;
}

.breadcrumbs > li:last-child:after {
    display: none;
}

.white_content {
    background-color: #ffffff;
    border: 1px solid #52738c;
    border-radius: 2px;
    margin: 0 0 0 6px;
    overflow: hidden;
    padding: 19px 15px 21px 13px;
}

.accordeon {
    color: #ffffff;
    font-size: 16px;
    line-height: 35px;
    padding: 35px 0 0 35px;
}

.accord_title {
    background: url(img/accord_title_bg.png) no-repeat left center;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    padding: 0 0 0 18px;
}

.open {
    background-image: url(img/accord_arrow.png);
}

.accord_item {
    margin: 0 0 3px 0;
}

.accord_answer {
    font-size: 14px;
}

.accord_answer a {
    background-color: #222b38;
    color: #62b4e0;
    display: block;
    padding: 0 0 0 40px;
}

.accord_answer p {
    padding: 0 0 0 40px;    
}

.slider_wrap_1 {
    border: 1px solid #afb3b9;
    width: 375px;
}

.slider_wrap_2 {
    margin: 4px 0 0 0;
    width: 375px;
}

.slider_wrap_2 .slick-slide img {
    border: 1px solid #b7bbc0;
}

.slider_wrap_2 .slick-slide {
    outline: none;    
}

.slider_wrap_2 .slick-prev, .slider_wrap_2 .slick-next {
    background: url(img/slider_arrow2.png) no-repeat;
    height: 20px;
    width: 10px;
}

.slider_wrap_2 .slick-list {
    margin: 0 auto;
    overflow: hidden;
    width: 275px;
}

.slider_wrap_2 .slick-prev:hover, .slider_wrap_2 .slick-prev:focus, .slider_wrap_2 .slick-next:hover, .slider_wrap_2 .slick-next:focus {
    color: transparent;
}

.slider_wrap_2 .slick-prev:before, .slider_wrap_2 .slick-next:before {
    display: none;
}

.slider_wrap_2 .slick-prev {
    background-position: -10px -20px;
    left: 0;
}

.slider_wrap_2 .slick-prev:hover {
    background-position: 0 0;
}

.slider_wrap_2 .slick-next {
    background-position: -10px 0;
    right: 0;
}

.slider_wrap_2 .slick-next:hover {
    background-position: 0 -20px;
}

.wrap_2 {
    margin: 0 13px 0 0;
}

.title_1 {
    background: url(img/title_1_bg.png) no-repeat left center;
    color: #495260;
    font-size: 17px;
    padding: 0 0 0 15px;
    text-align: left;
    text-transform: uppercase;
}

.wrap_3 {
    position: relative;
    width: 438px;
}

.wrap_3 .products_ul li {
    float: none;
    line-height: 1;
}

.wrap_3 .products_ul > li:nth-child(2) {
    color: #4695c0;
    margin-top: 7px;
    position: static;
}

.wrap_3 .colors {
    display: block;
}

.wrap_3 .products_descript {
    display: block;
    margin: 25px 0 0 12px;
}

.products_descript_2 {
    margin: 25px 0 10px 12px;
    overflow: hidden;
    width: 100%;
}

.products_descript_2 li {
    height: 51px;
    line-height: 51px;
}

.products_descript_2 li:nth-child(1) {
    float: left;
    font-size: 14px;    
}

.products_descript_2 li:nth-child(1) span {
    color: #4695c0;
}

.products_descript_2 li:nth-child(2) {
    float: right;
}

.wrap_3 .box_lorem  .itm {
    border-top: 1px solid #edf2f9;
    padding-top: 0;
    width: 100%;
}

.wrap_3 .box_lorem  .itm .wrp {
    margin-bottom: 20px;
}

.table_1 {
    margin: 27px 0 0 14px;
}

.table_1 td:first-child {
    padding-right: 10px;
}

.table_1 td {
    padding-bottom: 3px;
}

.content_2 {
    clear: both;
    color: #293444;
    font-family: 'a_futuricamedium';
    font-size: 15px;
    line-height: 17px;
}

.show_portf {
    color: #4695c0;
    font-family: 'a_futuricabsbold';
    font-size: 14px;
    position: absolute;
    right: -8px;
    line-height: 14.995px;
    transform: scale(1,1);
    top: -5px;
    width: 80px;
}

.wrap_3 .products_ul {
    margin: 18px 0 9px 14px;
}

.flt_block {
    color:#fff;
    background-color:#495260;
}
.flt_block .title_arrow {
        padding-top:30px;
        padding-bottom: 48px;
        background-position: center bottom 22px;
/*        margin-bottom:22px;*/
}
.flt_block .line.first {
    padding:0px 0px 0px 0px;
}
.flt_block .col {
    float:left;
}
.flt_block .col .tit {
    text-align:right;
    width:90px;
    margin:9px  14px  4px 40px;
    float:left;
}
.flt_block .buthold {
    position:relative;
    top:-9px;
    margin: 0px 0px 0px 21px;
    float:left;
}
.flt_block  .text {
    padding:48px 0px 40px 0px;
    margin:0px 0px 0px 7px;
    line-height: 1.3em;
    font-family: 'a_futuricamedium';
    font-size:15px;
}
.flt_block.white  .text {
   background:#fff;
   color:#293444;
   padding-top:31px;
   padding-bottom:40px;
   padding-left:17px;
   margin:15px 0px 0px 0px;
 } 


select.soflow-color {
   font-family: 'a_futuricamedium';
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-position: 94% center;
   background-repeat: no-repeat;
   border: 1px solid #cad3df;
   color: #555;
   font-size: inherit;
   margin: 0px 0px 0px 0px;
   overflow: hidden;
   padding: 4px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 169px;
}

select.soflow-color {
   color: #535f72;
   font-size:15px;
   background-image:url(img/select_arr.png);
   background-color: #fff;
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   border-radius: 2px;
   padding-left: 9px;
}
select.soflow-color:focus {
    box-shadow: 0 0px 0px 2px #6bbe39;
}

.flt_block select {
    margin:0px 0px 20px 0px;
}
.colors select {
    margin:0px 0px 0px 3px;
    width:145px;
}





















