/*========================== reset.css ==========================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, time {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a, input, select, textarea {
    outline: none;
}

img, input {
	border: none;
}

input[type=submit] {
    cursor: pointer;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*========================== END reset.css ==========================*/

@font-face {
    font-family: 'pt_sansbold';
    src: url('fonts/pt_sansbold/pt_sans-web-bold-webfont.eot');
    src: url('fonts/pt_sansbold/pt_sans-web-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/pt_sansbold/pt_sans-web-bold-webfont.woff') format('woff'),
         url('fonts/pt_sansbold/pt_sans-web-bold-webfont.ttf') format('truetype'),
         url('fonts/pt_sansbold/pt_sans-web-bold-webfont.svg#pt_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pt_sansregular';
    src: url('fonts/pt_sansregular/pt-sans-webfont.eot');
    src: url('fonts/pt_sansregular/pt-sans-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/pt_sansregular/pt-sans-webfont.woff2') format('woff2'),
         url('fonts/pt_sansregular/pt-sans-webfont.woff') format('woff'),
         url('fonts/pt_sansregular/pt-sans-webfont.ttf') format('truetype'),
         url('fonts/pt_sansregular/pt-sans-webfont.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*========================== Общие классы ==========================*/

.clearfix {
    display:inline-block;
}

.clearfix {
    zoom:1;
    display:block;
}

.clearfix:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden
}

.left {float: left;}
.right {float: right;}

.center {
	margin-left: auto;
	margin-right: auto;
}

/*========================== END ==========================*/

h1, h2, h3 {font-family: 'pt_sansbold';}

a {
	color: #cb1b26;
	text-decoration: none;
}

body {
    font-family: Arial;
	font-size: 13px;
}

.block_1 {
	height: 648px;
	position: relative;
}

.background.img_1 {
	background: url('img/bg_1.jpg') center top no-repeat;
}

.background.img_2 {
	background: url('img/cats.jpg') center top no-repeat;
}

.background {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

.header {
	background: rgba(205, 23, 30, .9);
	color: #fff;
	font-family: 'pt_sansregular';
	left: 0;
	padding: 10px 0 10px 5px;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2;
}

.logo {
	background: url(img/logo.png) no-repeat left top;
	color: #ffffff;
	display: block;
    font-family: 'pt_sansregular';
	font-size: 12px;
	margin: 0 33px 0 0;
	padding: 14px 0 7px 67px;
}

.logo span {
	display: block;
	font-family: 'pt_sansbold';
	font-size: 16px;
	padding: 0 0 2px 0;
	text-transform: uppercase;
}

.header_menu {
	margin: 0 25px 0 0;
	overflow: hidden;
	padding: 19px 0 0 0;
}

.header_menu > li {
	float: left;
}

.header_menu > li + li {
	margin-left: 18px;
}

.header_menu > li a {
	color: #ffffff;
	font-family: 'pt_sansbold';
	font-size: 16px;
}

.header_contact {
	padding: 10px 0 0 0;
}

.header_contact > li {
	float: left;
	font-size: 12px;
}

.header_contact > li + li {
	border-left: 1px solid rgba(255, 255, 255, .3);
	margin-left: 15px;
	padding-left: 15px;
}

.header_contact > li p {
	text-align: right;
}

.header_phone {
	display: block;
	font-family: 'pt_sansbold';
	font-size: 21px;
	margin: 0 0 1px 0;
}

.header_ico_1 {
	display: block;
	margin: 5px 3% 0px 0;
}

