/*========================== reset.css ==========================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, time {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a, input, select, textarea {
    outline: none;
}

img, input {
	border: none;
	height: auto;
	max-width: 100%;
}

input[type=submit] {
    cursor: pointer;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*========================== END reset.css ==========================*/

@font-face {
    font-family: 'helveticaneuecyrlight';
    src: url('fonts/helveticaneuecyr-light/helveticaneuecyr-light-webfont.eot');
    src: url('fonts/helveticaneuecyr-light/helveticaneuecyr-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaneuecyr-light/helveticaneuecyr-light-webfont.woff2') format('woff2'),
         url('fonts/helveticaneuecyr-light/helveticaneuecyr-light-webfont.woff') format('woff'),
         url('fonts/helveticaneuecyr-light/helveticaneuecyr-light-webfont.ttf') format('truetype'),
         url('fonts/helveticaneuecyr-light/helveticaneuecyr-light-webfont.svg#helveticaneuecyrlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneuecyrbold';
    src: url('fonts/helveticaneuecyr-bold/helveticaneuecyr-bold-webfont.eot');
    src: url('fonts/helveticaneuecyr-bold/helveticaneuecyr-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaneuecyr-bold/helveticaneuecyr-bold-webfont.woff2') format('woff2'),
         url('fonts/helveticaneuecyr-bold/helveticaneuecyr-bold-webfont.woff') format('woff'),
         url('fonts/helveticaneuecyr-bold/helveticaneuecyr-bold-webfont.ttf') format('truetype'),
         url('fonts/helveticaneuecyr-bold/helveticaneuecyr-bold-webfont.svg#helveticaneuecyrbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneuecyrthin';
    src: url('fonts/helveticaneuecyr-thin/helveticaneuecyr-thin-webfont.eot');
    src: url('fonts/helveticaneuecyr-thin/helveticaneuecyr-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaneuecyr-thin/helveticaneuecyr-thin-webfont.woff2') format('woff2'),
         url('fonts/helveticaneuecyr-thin/helveticaneuecyr-thin-webfont.woff') format('woff'),
         url('fonts/helveticaneuecyr-thin/helveticaneuecyr-thin-webfont.ttf') format('truetype'),
         url('fonts/helveticaneuecyr-thin/helveticaneuecyr-thin-webfont.svg#helveticaneuecyrthin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneuecyrmedium';
    src: url('fonts/helveticaneuecyr-medium/helveticaneuecyr-medium-webfont.eot');
    src: url('fonts/helveticaneuecyr-medium/helveticaneuecyr-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaneuecyr-medium/helveticaneuecyr-medium-webfont.woff2') format('woff2'),
         url('fonts/helveticaneuecyr-medium/helveticaneuecyr-medium-webfont.woff') format('woff'),
         url('fonts/helveticaneuecyr-medium/helveticaneuecyr-medium-webfont.ttf') format('truetype'),
         url('fonts/helveticaneuecyr-medium/helveticaneuecyr-medium-webfont.svg#helveticaneuecyrmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'als_rublregular';
    src: url('fonts/rouble/rouble-webfont.eot');
    src: url('fonts/rouble/rouble-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/rouble/rouble-webfont.woff2') format('woff2'),
         url('fonts/rouble/rouble-webfont.woff') format('woff'),
         url('fonts/rouble/rouble-webfont.ttf') format('truetype'),
         url('fonts/rouble/rouble-webfont.svg#als_rublregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneuecyrroman';
    src: url('fonts/helveticaneuecyr-roman/helveticaneuecyr-roman-webfont.eot');
    src: url('fonts/helveticaneuecyr-roman/helveticaneuecyr-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaneuecyr-roman/helveticaneuecyr-roman-webfont.woff2') format('woff2'),
         url('fonts/helveticaneuecyr-roman/helveticaneuecyr-roman-webfont.woff') format('woff'),
         url('fonts/helveticaneuecyr-roman/helveticaneuecyr-roman-webfont.ttf') format('truetype'),
         url('fonts/helveticaneuecyr-roman/helveticaneuecyr-roman-webfont.svg#helveticaneuecyrroman') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MyriadProCondRegular";
    src: url("fonts/MyriadProCondRegular/MyriadProCondRegular.eot");
    src: url("fonts/MyriadProCondRegular/MyriadProCondRegular.eot?#iefix")format("embedded-opentype"),
    url("fonts/MyriadProCondRegular/MyriadProCondRegular.woff") format("woff"),
    url("fonts/MyriadProCondRegular/MyriadProCondRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/*========================== Общие классы ==========================*/

.clearfix {
    display:inline-block;
}

.clearfix {
    zoom:1;
    display:block;
}

.clearfix:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden
}

.left {float: left;}
.right {float: right;}

.center {
	margin-left: auto;
	margin-right: auto;
}
/*========================== END ==========================*/


body {
        -webkit-transition: background 0.5s linear;
        transition: background 0.5s linear;
        background: fixed url(img/bg_1.jpg) no-repeat center 0px  / cover; 
	color: #000000;
	font-family: 'helveticaneuecyrlight';
	font-size: 14px;
}
body.bg_2 {
    background-image:url(img/bg_3.png);
}


a {
	color: #071d80;
	text-decoration: none;
}

strong {
	font-family: 'helveticaneuecyrbold';
	font-weight: normal;
}

h1, h2, h3, h4 {
	font-family: 'helveticaneuecyrthin';	
}

h2, .title_1 {
	color: #3d3d3d;
	font-size: 48px;
	font-weight: normal;
	letter-spacing: 1px;
	text-align: center;
}

h3, .title_2 {
	font-size: 40px;
	text-align: center;
	text-transform: uppercase;
}

.wrapper {
	margin: 0 auto;
	min-width: 320px;
	max-width: 2944px;
	overflow: hidden;
}

.center {
	margin: 0 auto;
	width: 1278px;
}

.rouble {
	font-family: 'als_rublregular';
	text-transform: lowercase !important;
}

.out_header {
    background-color:#fff;
}

header.center {
	padding-bottom: 9px;
}

.orange_btn {
	background-color: #fbad3a;
	color: #ffffff;
	font-family: 'helveticaneuecyrbold';
	font-size: 16px;
}

.orange_btn.hvr-shutter-out-horizontal:before {
	background: #0054a6;
	color: #fff;
}

.btn_transp {
	background: transparent;
	border: 1px solid #000;
	color: #030303;
	display: block;
	font-family: 'helveticaneuecyrlight';
	font-size: 18px;
	height: 49px;
	word-spacing: 3px;
	line-height: 49px;
	padding: 0 40px;
	text-transform: uppercase;
}

.btn_transp.hvr-shutter-out-horizontal:before {
	background: #0054a6;
}

.btn_transp_2 {
	border: 1px solid #dedfe0;
	border-radius: 5px;
	color: #ffffff;
	display: inline-block;
	font-family: 'helveticaneuecyrlight';
	font-size: 16px;
	height: 38px;
	line-height: 38px;
	padding: 0 19px;
}

.btn_transp_2.hvr-shutter-out-horizontal {
	background: transparent;
}

.btn_transp_2.hvr-shutter-out-horizontal:before {
	background: #dedfe0;
	color: #033152;
}

.logo {
	margin: 20px 0 0 0;
}

.header_right {
	margin-right: 2%;
	width: 415px;
}

.link_1 {
	line-height: 1.4;
	margin: 35px 61px 0 0;
	text-align: right;
}

.link_1 a {
	display: block;
	font-size: 11px;
	text-decoration: underline;
}

.block_1 {
	line-height: 1.3;
	margin: 35px 0 0 0;
	text-align: right;
}

.block_1 strong {
	font-size: 18px;
}

.block_1 a {
	color: #071d80;
	display: block;
	font-size: 11px;
	text-decoration: underline;
}

.top_menu {
	background: #fff;
	border-top: 1px solid #e1e1e1;
	clear: both;
	overflow: hidden;
}

.top_menu_ul {
	overflow: hidden;
	width: calc(100% - 300px);
}

.top_menu_ul > li {
	float: left;
}

.top_menu_ul > li + li {
	margin-left: 32px;
}

.top_menu_ul > li a {
	color: #353535;
	display: block;
	font-size: 18px;
	height: 49px;
	line-height: 49px;
}

.top_menu .orange_btn {
	height: 49px;
	line-height: 49px;
	text-align: center;
	width: 268px;
}

.orange_btn.hvr-shutter-out-horizontal:active, .orange_btn.hvr-shutter-out-horizontal:focus, .orange_btn.hvr-shutter-out-horizontal:hover {
	color: #fff;
}

.pos_fixed {
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 999;
}

/*========================== select header ==========================*/

.select_town {
	margin: 26px 0 0 0;
}

.select_town .selecter {
	max-width: 100%;
        max-width:140px;
	/*width: 140px; */ 
}
.select_town .selecter.open {
    z-index:100;
}

.select_town .selecter-selected {
        padding-right:27px;
        /*width:140px;*/ 
        max-width:140px;
	border: none;
	color: #3a3a3a;
	font-size: 12px;
}

.select_town .selecter-options {
        width:140px;
	border-width: 1px 1px 1px 0;
}

.select_town .selecter-item.selected {
	background: #fff;
}

.select_town .selecter.open .selecter-selected,
.select_town .selecter.focus .selecter-selected {
  	box-shadow: none;
}

.select_town .selecter-selected:after {
        top:3px;
        width:7px;
        height:3px;
        background:url(img/drop_arrow.png) no-repeat;
        border:0px;
}
/*========================== END select header ==========================*/

.block_2 {
/*	background: url(img/bg_1.jpg) no-repeat center top fixed, url(img/bg_1.1.jpg) no-repeat center 1386px fixed;*/
	padding: 97px 0 0 0;
	position: relative;
	z-index: 20;
}




.block_2 .center {
	background: #fff;
	-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
	box-shadow: 0px 0px 3px 0.00px rgba(0, 0, 0, 0.21);
	padding: 0 0 114px 0;
}

.slick_slider  {
	background: #dedfe0;
	padding: 2px 0;
}

.slick-prev, .slick-next {
	background: url(img/slider_arrows_4.png) no-repeat;
	border: none;
	cursor: pointer;
	height: 63px;
	margin-top: -31.5px;
	outline: none;
	padding: 0;
	position: absolute;
	top: 50%;
	text-indent: -9999px;
	width: 60px;
	z-index: 20;
}

.slick-prev {
	background-position: 0 0;
	left: 0;
}
.slick-prev:hover {
    background-position: -0px -63px;
}
.slick-next {
	background-position: -60px 0;
	right: 0;
}
.slick-next:hover {
    background-position: -60px -63px;
}

.slick-slide img {
	margin-left: auto;
	margin-right: auto;
}

.block_orange {
	background-color: #fbad3a;
	-webkit-box-shadow: 0px 0px 3px 0.00px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0px 0px 3px 0.00px rgba(0, 0, 0, 0.35);
	box-shadow: 0px 0px 3px 0.00px rgba(0, 0, 0, 0.35);
	font-family: 'helveticaneuecyrroman';
	margin: 0 0 75px 0;
	padding: 12px 0 20px 58px;
	position: relative;
}

.block_orange .btn_transp {
	position: absolute;
	right: 57px;
	top: 15px;
}

.block_orange .btn_transp.hvr-shutter-out-horizontal:active, .block_orange .btn_transp.hvr-shutter-out-horizontal:focus, .block_orange .btn_transp.hvr-shutter-out-horizontal:hover {
	color: #fff;
}

.p_1 {
	font-size: 24px;
	letter-spacing: 1px;
	margin: 5px 0;
	word-spacing: -3px;
}

.p_2 {
	word-spacing: 3px;
}

.bussines {
	margin: 83px 0 0 182px;
	overflow: hidden;
}

.bussines > li {
	color: #000000;
	float: left;
	font-size: 20px;
	line-height: 1.2;
	text-align: center;
  
}


.bussines > li img {
	display: block;
	margin-bottom: 18px;
	margin-left: auto;
	margin-right: auto;
}

.bussines > li span {
	display: block;
	font-family: 'helveticaneuecyrmedium';
}

.bussines > li:first-child {
	margin: 0 85px 0 0;
	width: 140px;
}

.bussines > li:nth-child(2) {
	margin-right: 54px;
	padding: 7px 0 0 0;
	width: 199px;
}

.bussines > li:nth-child(3) {
	margin: 0 58px 0 0;
	padding: 4px 0 0 0;
	width: 206px;
}

.bussines > li:nth-child(4) {
	padding: 6px 0 0 0;
	width: 190px;
}

.bussines > li:nth-child(5) {
	clear: both;
	margin: 49px 78px 0 213px;
	width: 219px;
}


.bussines > li:nth-child(6) {
	margin: 53px 0 0 0;
	width: 168px;
}

.bussines > li:nth-child(5) img, .bussines > li:nth-child(6) img {
	margin-bottom: 14px;
}

.gray_line {
	background: #e1e1e1;
	border: none;
	color: #e1e1e1;
	height: 1px;
	margin: 102px 0 80px 0;
}

.tarif {
	margin: 57px 0 196px 90px;
}

.tarif_1 {
	border: 1px solid #c6c6c6;
	margin: 121px 0 0 0;
}

.tarif_1 .tarif_1_wrap {
	background-color: #fafafa;
	border-bottom: 1px solid #ededed;
	color: #3d3d3d;
}

.tarif_1_wrap > div {
	display: table-cell;
	height: 61px;
	padding: 0 15px 0 17px;
	vertical-align: middle;
	width: 183px;
}

.price_tarif {
	font-family: 'helveticaneuecyrmedium';
}

.tarif_item {
	border-bottom: 1px solid transparent;
/*	border-right: 1px solid #c6c6c6;*/
	font-family: 'helveticaneuecyrroman';
	position: relative;
	text-align: center;
	width: 181px;
}

.tarif_item div {
	text-align: center;
}

.tarif_item .tarif_1_wrap {
	border-bottom: 1px solid #ededed;
	position: relative;
}

.tarif_item .tarif_1_wrap:last-child {
	border-bottom: none;
}

.tarif_item .tarif_1_wrap > div {
	padding: 0;
}

.tarif_item .tarif_1_wrap:last-child > div {
	height: auto;
	padding: 24px 0 21px 0;
}

.blue_bg {
	background-color: #00aae7;
	color: #ffffff;
	text-align: center;
}

.blue_bg strong, .tarif_1_wrap strong {
	font-size: 16px;
	text-transform: uppercase;
}

.style_1 {
	display: block;
	font-family: 'helveticaneuecyrlight';
	font-size: 20px;
	line-height: 1.2;
}

.tarif_1_wrap.border_top {
	border-top: 1px dashed #1cc0fa;
}

.tarif_1_wrap.blue_bg, .tarif_1_wrap.blue_bg_1 {
	border-bottom: none;	
}

.price_tarif {
	font-size: 36px;
}

.text_shadow {
	text-shadow: 0px 1px 0px #086688;	
}

.tarif_1_wrap .rouble {
	font-size: 20px;
}

.download {
	background: url(img/ico_download.png) no-repeat left center;
	color: #0054a6;
	font-size: 16px;
	padding: 0 0 0 22px;
	text-decoration: underline;
}

.tarif_more {
	border-bottom: 1px dashed #0054a6;
	color: #0054a6;
	display: inline-block;
	font-size: 14px;
	padding: 0 0 1px 0;
}

.tarif_btn {
	display: inline-block;
	font-size: 16px;
	height: 45px;
	line-height: 45px;
	margin: 0 0 21px 0;
	padding: 0 12px;
}

.blue_bg_1 {
	background-color: #0496cb;
	color: #ffffff;
}

.tarif_item_wrap {
	background: #ffffff;
	border-bottom: 1px solid #c6c6c6;
	border-right: 1px solid #c6c6c6;
	left: 0;
	position: absolute;
	right: 0;
}

.tarif_item_wrap:before {
	background: transparent;
	content: "";
	height: 12px;
	left: 0;
	position: absolute;
	right: 0;
	top: -12px;
}

.tarif_item_wrap:hover {
	box-shadow: 0px 0px 7px 0.00px rgba(0, 0, 0, 0.53);
	padding: 0 0 8px 0;
	width: 191px;	
	z-index: 20;
}

.tarif_item_wrap:hover:before {
	background: #fbad3a;
}

.tarif_item_wrap:hover .blue_bg {
	background: #fbad3a;
}

.tarif_item_wrap:hover .tarif_1_wrap strong {
	font-size: 18px;
}

.tarif_item_wrap:hover .tarif_1_wrap > div {
	width: 191px;	
}

.tarif_item_wrap:hover .blue_bg > div, .tarif_item_wrap:hover .blue_bg_1 > div {
	background-color: #fbad3a;
}

.tarif_item_wrap:hover .tarif_1_wrap.border_top {
	border-top-color: #ffc876;
}

.border_left:before {
	background: #c6c6c6;
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	top: 0;
	width: 1px;
}



.fontz {
	font-size: 16px;
	line-height: 1.2;
}

.fontz .rouble {
	font-size: 13px;
}

.descript {
	color: #a8a8a8;
	font-size: 12px;
	line-height: 1.2;
	margin: 0 45px 0 91px;
}

.gray {
	color: #7f7f7f;
	display: block;
	font-size: 12px;
	margin: 7px 0 0 0;
}

.block_3 {
	color: #ffffff;
	margin-top: -40px;
	padding: 107px 0 80px 0;
      /*  background-image:url(img/bg_2.png); */
        background-repeat:no-repeat;
        background-position:center top;
     
}
.block_3 {
    /*for test*/
    position:relative;
}
.block_3:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.2;
    background-repeat: no-repeat;
    background-position: center top;
    background-image: url(img/bg_2.png);
    -webkit-transition: all 1.2s linear;
    -moz-transition: all 1.2s linear;
     transition: all 1.2s linear
}

.block_3.in-view:before{
     opacity:1;
    }
.block_3 .center_2, .block_3 .center {
    z-index: 1;
    position:relative;
}
.center_2 {
	margin-left: auto;
	margin-right: auto;
	padding: 0 0 93px 0;
	width: 923px;
}

.block_3 .title_1 {
	color: #ffffff;
}

.p_4 {
	font-size: 18px;
	line-height: 24px;
	margin: 18px 0 33px 0;
	text-align: center;
}


.block_3_ul {
        box-sizing: border-box;
	border: 1px solid #76a8d3;
	border-radius: 5px;
	margin: 0 auto 49px;
	overflow: hidden;
         width: 841px;
	
}

.block_3_ul > li {
        cursor:pointer;
	float: left;
	font-size: 20px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	padding: 0 1%;
	width:33.33%;
}
.block_3_ul > li span {
    display:block;
    z-index:2;
}
.block_3_ul > li span, .block_3_ul > li {
	position:relative;
}
.block_3_ul > li.act {
        cursor:default;
	border-radius: 5px;

}

.block_3_ul > li, .tabs > li {
    position:relative;
}
.block_3_ul > li:after {
    border-radius: 5px;
    background-color:#76a8d3;

}
.block_3_ul > li:after, .tabs > li:after {
    content:'';
    position:absolute;
    width:0%;
    height:100%;
    left:0px;
    top:0px;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms  ease-in;
}
.block_3_ul > li.act:after, .tabs > li.active:after {
    width:100%;
}
/*try toggle end*/
.arrs_s2 {
    display: none;
	position:relative;
}

.arrs_s2 span {
    position:absolute;
    z-index:2;
    cursor:pointer;
    display:block;
    width:30px;
    height:30px;
}
.arrs_s2 span.prev {
    left:0px;
    background:red;
}
.arrs_s2 span.next {
    right:0px;
    
}

.slick_2 .slick-slide  {
    outline:0;
}

.phone {
	background: url(img/phone_img.png) no-repeat left top;
	margin: 0 0 0 202px;
	min-height: 506px;
	padding: 48px 0 0 321px;
}

.descript_2 {
	border-left: 10px solid #fbad3a;
	font-size: 20px;
	line-height: 30px;
	margin: 0 0 50px 0;
	padding: 0 0 0 15px;
}

.smart {
	font-size: 18px;
	line-height: 1.3;
	margin: 99px 0 0 6px;
	width: 250px;
}

.smart a {
	display: inline-block;
	margin: 11px 19px 0 0;
}

.block_3 .center {
	background: #fff;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	padding: 66px 0 107px 0;
}

.block_3_ul_2 {
	margin: 72px 0 0 168px;
	overflow: hidden;
}

.block_3_ul_2 > li {
	color: #212121;
	float: left;
	font-size: 20px;
	line-height: 1.2;
    
}

.bussines > li, .block_3_ul_2 > li, .block_4_ul > li {
        opacity:0.3;
        -webkit-transform: scale(0.6);
        -moz-transform: scale(0.6);
        transform:scale(0.6);
 
    
}
.bussines > li, .block_3_ul_2 > li, .block_4_ul > li {
         -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        transition: all 0.5s linear;
}
.bussines > li.in-view, .block_3_ul_2 > li.in-view, .block_4_ul > li.in-view {
         opacity:1;
         -webkit-transform: scale(1);
         -moz-transform: scale(1);
         transform: scale(1);
}

.block_3_ul_2 > li + li {
	margin-left: 173px;
}

.block_3_ul_2 > li:nth-child(1) {
	width: 185px;
}

.block_3_ul_2 > li:nth-child(2) {
	width: 185px;
}

.block_3_ul_2 > li:nth-child(3) {
	width: 202px;
}

.orange_1 {
	color: #fbad3a;
	display: block;
	font-family: "MyriadProCondRegular";
	font-size: 60px;
	line-height: 1;
	margin: 0 0 10px 0;
}

.orange_1:after {
	background-color: #fbad3a;
	content: "";
	display: block;
	height: 4px;
	width: 53px;
}

.orange_2 {
	color: #e29018;
	display: block;
	font-size: 16px;
	margin: 5px 0 0 0;
}

.block_3 .title_1 {
	color: #3d3d3d;
}

.count > li {
	background: #f2a433;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyYTQzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2YyYTQzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2YyYTQzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYmFkM2EiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #f2a433 0%, #f2a433 50%, #f2a433 51%, #fbad3a 100%);
	background: -webkit-linear-gradient(top,  #f2a433 0%,#f2a433 50%,#f2a433 51%,#fbad3a 100%);
	background: linear-gradient(to bottom,  #f2a433 0%,#f2a433 50%,#f2a433 51%,#fbad3a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2a433', endColorstr='#fbad3a',GradientType=0 );

/*	background-color: #fbad3a;*/
	border: 1px solid #ffffff;
	border-radius: 5px;
	box-shadow: -1px 1px 3px 0.00px rgba(0, 0, 0, 0.25);
	float: left;
	font-family: 'helveticaneuecyrbold';
	font-size: 147.36px;
	height: 164px;
	line-height: 164px;
	position: relative;
	text-align: center;
	width: 106px;
}

.count > li:after {
	background-color: rgba(0,0,0,.05);
	-webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.05);
	-moz-box-shadow:    1px 1px 3px 0px rgba(0, 0, 0, 0.05);
	box-shadow:         1px 1px 3px 0px rgba(0, 0, 0, 0.05);
	content: "";
	height: 50%;
	left: 0;
	position: absolute;
	right: 0;
}

.count > li + li {
	margin-left: 2px;
}

.count_us {
	display: table;
	margin-left: auto;
	margin-right: auto;
}

.count_us > .count_1 {
	padding-left: 20px;
}

.count_us > .count_1:first-child {
	text-align: right;
	width: 141px;
}

.count_us > .count_1:last-child {
	width: 175px;
}

.count_1 {
	display: table-cell;
	vertical-align: middle;
}

.count_us span {
	color: #3d3d3d;
	font-family: 'helveticaneuecyrmedium';
	font-size: 33px;	
}

.margin_1 {
	margin: 71px 0 77px 0;
}

.block_4.center {
	background: -webkit-linear-gradient(-39deg, rgba(4, 55, 117, 0.6) 19%, rgba(0, 170, 231, 0.6) 80%);
	background: -moz-linear-gradient(-39deg, rgba(4, 55, 117, 0.6) 19%, rgba(0, 170, 231, 0.6) 80%);
	background: -o-linear-gradient(-39deg, rgba(4, 55, 117, 0.6) 19%, rgba(0, 170, 231, 0.6) 80%);
	background: -ms-linear-gradient(-39deg, rgba(4, 55, 117, 0.6) 19%, rgba(0, 170, 231, 0.6) 80%);
	background: linear-gradient(129deg, rgba(4, 55, 117, 0.6) 19%, rgba(0, 170, 231, 0.6) 80%);
	border-radius: 0;
	color: #fefefe;
	padding: 52px 0 84px 0;
}

.block_4 .title_1 {
	color: #fefefe;
}

.block_4_ul {
	margin: 69px 0 0 165px;
	overflow: hidden;
}

.block_4_ul > li {
	float: left;
	padding: 81px 0 66px 0;
	position: relative;
}

.block_4_ul > li + li {
	margin-left: 89px;
}

.block_4_ul > li .btn_transp_2 {
	bottom: 0;
	left: 0;
	position: absolute;
}

.hvr-shutter-out-horizontal:active, .hvr-shutter-out-horizontal:focus, .hvr-shutter-out-horizontal:hover {
	color: #043152;
}

.block_4_ul > li:first-child {
	background: url(img/ico_7.png) no-repeat left top;
	width: 185px;
}

.block_4_ul > li:nth-child(2) {
	background: url(img/ico_8.png) no-repeat left top;
	width: 215px;
}

.block_4_ul > li:nth-child(3) {
	background: url(img/ico_9.png) no-repeat left top;
	width: 145px;
}

.block_4_ul > li:nth-child(4) {
	background: url(img/ico_10.png) no-repeat left top;
	width: 175px;
}

.title_3 {
	color: #ffffff;
	font-family: 'helveticaneuecyrbold';
	font-size: 20px;
	line-height: 1.2;
	margin: 0 0 11px 0;
}

.block_4_ul > li p {
	font-size: 16px;
	line-height: 24px;
}

.block_5 .center {
	border-radius: 0;
}

.style_2 {
	color: #fbae3b;
	font-size: 24px;
	margin: 8px 0 12px 0;
	text-align: center;
}

.tabs {
	border: 1px solid #fbad3a;
	border-radius: 5px;
	display: table;
	margin: 0 auto 55px;
	overflow: hidden
}

.tabs > li {
	float: left;
	text-align: center;
	width: 132px;
}

.tabs > li a {
        position: relative;
        z-index: 2;
	color: #3d3d3d;
	display: block;
	height: 38px;
	line-height: 38px;
}

.tabs > li.active {
	border-radius: 5px;
	color: #ffffff;
}

.tabs > li.active a {
	color: #fff;
}
.tabs > li.active:after {
        background-color: #fbad3a;
}

.for_tabs {
	margin: 0 auto;
	width: 1160px;
}

.answer {
	background-color: #00aae7;
}

.answer a:hover {
	color: #093c64;
}

.accord_title {
	background: url(img/accord_arrow.png) no-repeat right 32px center;
	border: 1px solid #dedfe0;
	color: #3d3d3d;
	cursor: pointer;
	display: inline-block;
	font-size: 24px;
	height: 70px;
	line-height: 70px;
	padding: 0 0 0 50px;
	width: 100%;
}

.accord_title:hover, .accord_title.open {
	background-color: #00aae7;
	background-image: url(img/accord_arrow_hover.png);
	border-color: transparent;
	color: #fffefe;
}

.accord_title:hover {
	background-color: #20c4ff;
}

.accord_title.open {
	background-color: #00aae7;
	border-bottom-color: #20c4ff;
}

.answer {
	overflow: hidden;
	padding: 45px 140px 0 105px;
}

.accord_item {
	margin: 0 0 22px 0;
}

.accord_item:last-child {
	margin-bottom: 0;
}

.answer_item {
	background: url(img/pdf_ico.png) no-repeat left top;
	color: #ffffff;
	float: left;
	font-size: 20px;
	line-height: 1.2;
	margin: 0 70px 55px 0;
	padding: 55px 0 0 0;
	width: 255px;
}

.answer_item:nth-of-type(3n) {
	margin-right: 0;
}

.answer_item:hover {
	background-image: url(img/pdf_ico_hover.png);
}

.block_form.center {
	background-color: #20c4ff;
	border-radius: 0;
	overflow: hidden;
	padding: 107px 0 67px 0;
}

.block_form a {
	color: #043775;
}

.block_form .title_2 {
	margin: 0 0 87px 0;
}

.form.left {
	margin: 0 0 19px 113px;
}

.form.right {
	margin: 0 153px 19px 0 ;
}

.form label {
	font-size: 18px;
	margin: 0 0 27px 0;
	vertical-align: middle;
	width: 432px;
}

.form.right label {
	width: 450px;
}

.form label span.left {
	width: 160px;
}

.form input, .captcha input {
	background-color: #ffffff;
	border: 1px solid #dedbdb;
	color: #84bed3;
	float: right;
	font-family: 'helveticaneuecyrroman';
	font-size: 16px;
	height: 46px;
	padding: 0 14px;
	width: 268px;
}

.form input::-webkit-input-placeholder {color:#84bed3;}
.form input::-moz-placeholder          {color:#84bed3; opacity: 1;}/* Firefox 19+ */
.form input:-moz-placeholder           {color:#84bed3; opacity: 1;}/* Firefox 18- */
.form input:-ms-input-placeholder      {color:#84bed3;}



.form input:focus  {color:#043775;}

.form .selecter {
	float: right;
	margin: 0;
	max-width: 268px;
	width: 268px;
}

.form .selecter-selected {
	border: 1px solid #dedbdb;
	border-radius: 0;
	color: #84bed3;
	font-family: 'helveticaneuecyrroman';
	font-size: 16px;
	padding: 14px 15px;
}

.form .selecter-item {
	color: #84bed3;
	font-family: 'helveticaneuecyrroman';
	font-size: 16px;
	padding: 14px 15px;
}

.form .selecter-selected:after {
	background: url(img/selecter_ico.png) no-repeat;
	border: none;
	height: 9px;
	width: 13px;
}

.captcha {
	clear: both;
	margin: 0 auto 26px;
	overflow: hidden;
	width: 460px;
}

.captcha img {
	float: left;
}

.captcha input {
	height: 38px;
	width: 227px;
}

.checkbox {
	display: table;
	font-size: 18px;
	margin: 0 auto 38px;
}

.checkbox a {
	border-bottom: 1px dashed #043775;
}

.submit {
	text-align: center;
}

.submit a {
	background-color: #fbad3a;
	color: #ffffff;
	display: inline-block;
	font-family: 'helveticaneuecyrbold';
	font-size: 24px;
	height: 77px;
	line-height: 77px;
	padding: 0 40px;
}

.footer.center {
	background: -webkit-linear-gradient(-39deg, rgba(48, 48, 48, 0.6) 40%, rgba(138, 138, 138, 0.6) 60%);
	background: -moz-linear-gradient(-39deg, rgba(48, 48, 48, 0.6) 40%, rgba(138, 138, 138, 0.6) 60%);
	background: -o-linear-gradient(-39deg, rgba(48, 48, 48, 0.6) 40%, rgba(138, 138, 138, 0.6) 60%);
	background: -ms-linear-gradient(-39deg, rgba(48, 48, 48, 0.6) 40%, rgba(138, 138, 138, 0.6) 60%);
	background: linear-gradient(129deg, rgba(48, 48, 48, 0.6) 40%, rgba(138, 138, 138, 0.6) 60%);
/*	background: url(img/footer_bg.png) no-repeat center top / cover;*/
	-moz-box-shadow: 0 0 3px rgba(0,0,0,.35);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.35);
	box-shadow: 0 0 3px rgba(0,0,0,.35);
	color: #ffffff;
	padding: 15px 0 25px 0;
}

.footer p {
	font-size: 12px;
	line-height: 1.2;
	margin: 0 57px 0 114px;
}

.tarif_mobile {
	display: none;
}

.submit .hvr-shutter-out-horizontal:before {
	background: #0054a6;
}

.submit .hvr-shutter-out-horizontal:active, .submit .hvr-shutter-out-horizontal:focus, .submit .hvr-shutter-out-horizontal:hover {
	color: #fff;	
}

@media only screen and (max-width: 1279px) {
	.center {
		width: 100%;
	}
	.bussines, .descript, .phone, .block_3_ul_2, .block_4_ul {
		margin-left: auto;
		margin-right: auto;
	}
	.header_right {
		margin-right: 2%;
	}
	.bussines {
		display: table;
	}
	.tarif {
		margin-left: 2%;
	}
	.descript {
		width: 90%;
	}
	.phone {
		display: table;
		height: 506px;
	}
	.block_3_ul_2 {
		display: table;
	}
	.block_4_ul {
		display: table;
	}
	.top_menu_ul > li:first-child {
		margin-left: 2%;
	}
	.top_menu_ul > li a {
		font-size: 14px;
	}
}

@media only screen and (max-width: 1200px) {
	.answer {
		padding-left: 4%;
		padding-right: 3%;
	}
	.form.left {
		margin-left: 3%;
	}
	.form.right {
		margin-right: 3%;
	}
}

@media only screen and (max-width: 1161px) {
	.for_tabs {
		margin-left: 2%;
		margin-right: 2%;
		width: 96%;
	}
}

@media only screen and (max-width: 1140px) {
	.tarif_1 {display: none;}
	.tarif_item {
		height: 683px;
	}
	.tarif {
		border-left: 1px solid #c6c6c6;
		margin-bottom: 70px;
	}
}

@media only screen and (max-width: 1130px) {
	.top_menu_ul > li + li {
		margin-left: 15px;
	}
	.top_menu .orange_btn {
		width: 180px;
	}
	.top_menu_ul {
		width: calc(100% - 180px)
	}
}

@media only screen and (max-width: 1020px) {
	.block_4_ul > li:nth-child(2n+1) {
		clear: both;
		margin-left: 0;
	}
	.block_4_ul > li {
		margin-bottom: 40px;
	}
	.block_4_ul {
		margin-left: auto;
		margin-right: auto;
		width: 90%;
	}
	.block_4_ul > li:first-child, .block_4_ul > li:nth-child(2), .block_4_ul > li:nth-child(3), .block_4_ul > li:nth-child(4) {
		width: 40%;
	}
	.block_4_ul > li + li {
		margin-left: 15%;
	}
	.count > li {
		font-size: 100px;
		width: 90px;
	}
	.answer_item {
		margin-right: 2%;
		width: 48%;
	}
	.answer_item:nth-child(2n) {
		margin-right: 0;
	}
	.answer_item:nth-child(2n+1) {
		clear: both;
		margin-right: 2%;
	}
	
}

@media only screen and (max-width: 960px) {
	.block_3_ul_2 > li + li {
		margin-left: 30px;
	}
	.bussines > li:nth-child(n) {
		margin-right: 5%;
	}
	.bussines > li:nth-child(2n) {
		margin-right: 0;
	}
	.bussines > li:nth-child(2n+1) {
		clear: both;
	}
	.bussines > li {
		margin-bottom: 45px;
	}
	.bussines > li:first-child, .bussines > li:nth-child(2), .bussines > li:nth-child(3), .bussines > li:nth-child(4), .bussines > li:nth-child(5), .bussines > li:nth-child(6) {
		width: 45%;		
	}
	.bussines > li:nth-child(5) {
		margin-left: 0;
	}
	.form.left, .form.right {
		display: table;
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
	.form label {
		width: 450px;
	}
}

@media only screen and (max-width: 930px) {
	.center_2 {
		width: 100%;
	}
	.p_4 {
		margin-left: 2%;
		margin-right: 2%;
	}
}

@media only screen and (max-width: 919px) {
	.top_menu_ul, .top_menu .orange_btn {display: none;}
}

@media only screen and (max-width: 910px) {
	.count_us > .count_1 {
		display: block;
		margin: 0 0 8px 0;
		padding-left: 0;
	}
	.count_us > .count_1:first-child, .count_us > .count_1:last-child {
		text-align: center;
		width: 100%;
	}
}

@media only screen and (max-width: 850px) {
	.block_3_ul {
		background: #3171ad;
		margin-left: 1%;
		margin-right: 1%;
		width: 98%;
	}
}

@media only screen and (max-width: 800px) {
	.p_1, .p_2 {
		display: none;
	}
	.block_orange .btn_transp {
		display: table;
		float: none;
		position: static;
		margin-left: auto;
		margin-right: auto;
	}
/*
	.select_town.left {
		clear: left;
		margin-top: 0;
	}
*/
	.header_right {
		margin-top: 82px;
		width: auto;
	}
	.link_1 {
		clear: right;
		margin-right: 0;
	}
	.block_1, .link_1 {
		margin-top: 0;
	}
	.link_1 a {
		display: inline-block;
	}
	.link_1 a + a {
		margin-left: 12px;
	}
}

@media only screen and (max-width: 640px) {
    
	.block_3_ul_2 > li {
		float: none;
	}
	.block_3_ul_2 > li + li {
		margin-left: 0;
		margin-top: 30px;
	}
	.block_3_ul_2 > li:nth-child(1), .block_3_ul_2 > li:nth-child(2), .block_3_ul_2 > li:nth-child(3) {
		width: 90%;
	}
	.accord_title, .answer_item {
		font-size: 14px;
	}
	.block_form .title_2, .block_3 .title_1 {
		font-size: 22px;
	}
	.footer p {
		margin-left: 2%;
		margin-right: 2%;
	}
	.style_2 {
		font-size: 16px;
	}
	.count > li {
		font-size: 67px;
		height: 74px;
		line-height: 74px;
		width: 49px;
	}
	.count_us span {
		font-size: 14px;
	}
	.title_2 {
		font-size: 22px;
	}
	.p_4, .bussines > li, .block_4_ul > li p {
		font-size: 14px;
	}
	h2, .title_1 {
		font-size: 22px;
	}
	.title_3 {
		font-size: 18px;
	}
}

@media only screen and (max-width: 620px) {
	.block_3_ul {
		margin-left: auto;
		margin-right: auto;
		width: 70%;
	}
	.block_3_ul > li {
		display: none;
		float: none;
		margin: 0 auto;
	}
	.block_3_ul > li.act {
		background: transparent;
		display: block;
		width: 75%;
	}
        .block_3_ul > li.act:after {
            background:transparent;
        }
	.for_arrows {
		position: relative;
	}
	.arrs_s2 {
		display: block;
		left: 2%;
		position: absolute;
		right: 2%;
		top: 9px;
	}
	.arrs_s2 span.prev, .arrs_s2 span.next {
		background: url(img/slider_arrows_2.png) no-repeat 0 0;
		height: 34px;
		width: 21px;
	}
	.arrs_s2 span.next {
		background-position: -21px 0;
		right: 0;
	}
	.block_3 .center_2 {
		position: relative;
	}
	.block_3 .center {
		padding-bottom: 0;
	}
	.count_us {
		padding-bottom: 48px;
	}
	.for_tabs {
		margin-bottom: 65px;
	}
	.block_form.center {
		padding-bottom: 28px;
	}
}

@media only screen and (max-width: 580px) {
	.tarif {
		display: none;
	}
	.tarif_mobile {
		display: block;
		margin: 14px 0 0 0;
		overflow: hidden;
	}
	.tarif_mobile_item {
		margin: 0 0 14px 0;
		text-align: center;
	}
	.tarif_ul {
		background: #00aae7;
		display: table;
/*		margin: 0 0 40px 0;*/
		width: 100%;
	}
	.tarif_ul > li {
		color: #fff;
		display: table-cell;
		font-size: 12px;
		line-height: 1.2;
		padding: 15px 0 10px 0;
		vertical-align: middle;
		width: 50%;
	}
	.tarif_ul > li strong {
		display: block;
		font-size: 16px;
		text-transform: uppercase;
	}
	.price_tarif_mob {
		font-family: 'helveticaneuecyrmedium';
		font-size: 30px;
	}
	.price_tarif_mob .rouble {
		font-size: 20px;
	}
	.tarif_ul > li:first-child {
		padding-left: 2%;
		text-align: left;
	}
	.tarif_ul > li:last-child {
		text-align: center;
	}
	.title_tarif {
		color: #3d3d3d;
		font-size: 14px;
		line-height: 1.2;
		margin: 0 0 20px 0;
	}
	.show_hide + .title_tarif {
		padding-top: 40px;
	}
	.tarif_descript {
		color: #010101;
		font-family: 'helveticaneuecyrroman';
		font-size: 22px;
		margin: 0 0 50px 0;
	}
	.tarif_mobile .download {
		background: none;
		font-size: 16px;
		padding: 0;
	}
	.tarif_mobile .tarif_btn {
		display: table;
		margin: 0 auto 45px;
	}
	.tarif_mobile .tarif_more {
		margin: 0 0 50px 0;
	}
	.tarif_block {
		background: #00aae7;
		cursor: pointer;
		height: 42px;
		text-align: center;
	}
	.tarif_block .ico_close_open {
		background: url(img/ico_close_open.png) no-repeat 0 0;
		display: inline-block;
		height: 10px;
		margin: 15px 0 0 0;
		width: 15px;
	}
	.select_town.left {
		float: none;
		margin-top: 15px;
	}
	.header_right {
		margin-top: -80px;
	}
	.block_1 {
		margin-bottom: 10px;
	}
	
 /*========================== phone ==========================*/
	.phone {
		-webkit-background-size: 153px auto;
		-moz-background-size: 153px auto;
		-o-background-size: 153px auto;
		background-size: 153px auto;
		background-position: center 68%;
		padding-left: 2%;
	}
	.smart {
		margin-top: 365px;
		text-align: center;
		width: 100%;
	}
	.block_3 .center_2 {
		padding-bottom: 20px;		
	}
	.descript_2 {
		font-size: 14px;
	}
}

@media only screen and (max-width: 500px) {
	.block_4_ul > li {
		float: none;
		height: auto !important;
		width: 90%;
	}
	.block_4_ul > li + li {
		margin-left: 0;
	}
	.block_4_ul {
		margin-left: auto;
		margin-right: auto;
		width: 90%;
	}
	.block_4_ul > li:first-child, .block_4_ul > li:nth-child(2), .block_4_ul > li:nth-child(3), .block_4_ul > li:nth-child(4) {
		background-position: center top;
		margin-right: 0;
		text-align: center;
		width: 90%;
	}
	.block_4_ul > li .btn_transp_2 {
		margin-top: 20px;
		position: static;
	}
	.block_4_ul > li {
		margin-bottom: 0;
		padding-bottom: 40px;
	}
	.block_4 {
		padding-bottom: 30px;
	}
	
}

@media only screen and (max-width: 480px) {
	.bussines > li {
		float: left;
	}
	.bussines > li:first-child, .bussines > li:nth-child(2), .bussines > li:nth-child(3), .bussines > li:nth-child(4), .bussines > li:nth-child(5),  .bussines > li:nth-child(6) {
		margin-bottom: 30px;
		margin-right: 0;
		width: 49%;
	}
	.gray_line {
		display: none;
	}
	.accord_title {
		padding-left: 2%;
	}
	.form label span.left, .form input, .captcha input {
		display: block;
		float: none;
		width: 100%;
	}
	.form label span.left {
		line-height: 1.2;
		margin: 0 0 3px 0;
		text-align: center;
	}
	.form .selecter {
		max-width: 100%;
		width: 100%;
	}
	.captcha {
		text-align: center;
	}
	.captcha img {
		float: none;
	}
	.captcha input {
		margin-top: 13px;
	}
	.form label, .form.right label {
		display: block;
		width: 310px;
	}
	.captcha, .checkbox {
		margin-left: auto;
		margin-right: auto;
		width: 310px;
	}
	.checkbox {
		line-height: 1.3;
	}
	.checkbox input {
		margin-right: 10px;
	}
	.top_menu_ul, .top_menu .orange_btn {display: none;}
	.block_3_ul_2 {
		margin-bottom: 68px;
	}
	.count {
		margin-bottom: 20px;
	}
	.submit a {
		height: 55px;
		line-height: 55px;
	}
	.accord_title {
		height: auto;
		line-height: 1.2;
		padding-bottom: 20px;
		padding-right: 70px;
		padding-top: 20px;
	}
}

@media only screen and (max-width: 400px) {
	.answer_item {
		display: block;
		float: none;
		padding-left: 50px;
		padding-top: 0;
		width: 98%;
	}
}
