/*========================== reset.css ==========================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, time {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a, input, select, textarea {
    outline: none;
}

img, input {
	border: none;
	height: auto;
	max-width: 100%;
}

input[type=submit] {
    cursor: pointer;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*========================== END reset.css ==========================*/

@font-face {
    font-family: 'helveticaneuecyrlight';
    src: url('fonts/helveticaneuecyr-light/helveticaneuecyr-light-webfont.eot');
    src: url('fonts/helveticaneuecyr-light/helveticaneuecyr-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaneuecyr-light/helveticaneuecyr-light-webfont.woff2') format('woff2'),
         url('fonts/helveticaneuecyr-light/helveticaneuecyr-light-webfont.woff') format('woff'),
         url('fonts/helveticaneuecyr-light/helveticaneuecyr-light-webfont.ttf') format('truetype'),
         url('fonts/helveticaneuecyr-light/helveticaneuecyr-light-webfont.svg#helveticaneuecyrlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneuecyrbold';
    src: url('fonts/helveticaneuecyr-bold/helveticaneuecyr-bold-webfont.eot');
    src: url('fonts/helveticaneuecyr-bold/helveticaneuecyr-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaneuecyr-bold/helveticaneuecyr-bold-webfont.woff2') format('woff2'),
         url('fonts/helveticaneuecyr-bold/helveticaneuecyr-bold-webfont.woff') format('woff'),
         url('fonts/helveticaneuecyr-bold/helveticaneuecyr-bold-webfont.ttf') format('truetype'),
         url('fonts/helveticaneuecyr-bold/helveticaneuecyr-bold-webfont.svg#helveticaneuecyrbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneuecyrthin';
    src: url('fonts/helveticaneuecyr-thin/helveticaneuecyr-thin-webfont.eot');
    src: url('fonts/helveticaneuecyr-thin/helveticaneuecyr-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaneuecyr-thin/helveticaneuecyr-thin-webfont.woff2') format('woff2'),
         url('fonts/helveticaneuecyr-thin/helveticaneuecyr-thin-webfont.woff') format('woff'),
         url('fonts/helveticaneuecyr-thin/helveticaneuecyr-thin-webfont.ttf') format('truetype'),
         url('fonts/helveticaneuecyr-thin/helveticaneuecyr-thin-webfont.svg#helveticaneuecyrthin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneuecyrmedium';
    src: url('fonts/helveticaneuecyr-medium/helveticaneuecyr-medium-webfont.eot');
    src: url('fonts/helveticaneuecyr-medium/helveticaneuecyr-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaneuecyr-medium/helveticaneuecyr-medium-webfont.woff2') format('woff2'),
         url('fonts/helveticaneuecyr-medium/helveticaneuecyr-medium-webfont.woff') format('woff'),
         url('fonts/helveticaneuecyr-medium/helveticaneuecyr-medium-webfont.ttf') format('truetype'),
         url('fonts/helveticaneuecyr-medium/helveticaneuecyr-medium-webfont.svg#helveticaneuecyrmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'als_rublregular';
    src: url('fonts/rouble/rouble-webfont.eot');
    src: url('fonts/rouble/rouble-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/rouble/rouble-webfont.woff2') format('woff2'),
         url('fonts/rouble/rouble-webfont.woff') format('woff'),
         url('fonts/rouble/rouble-webfont.ttf') format('truetype'),
         url('fonts/rouble/rouble-webfont.svg#als_rublregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneuecyrroman';
    src: url('fonts/helveticaneuecyr-roman/helveticaneuecyr-roman-webfont.eot');
    src: url('fonts/helveticaneuecyr-roman/helveticaneuecyr-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaneuecyr-roman/helveticaneuecyr-roman-webfont.woff2') format('woff2'),
         url('fonts/helveticaneuecyr-roman/helveticaneuecyr-roman-webfont.woff') format('woff'),
         url('fonts/helveticaneuecyr-roman/helveticaneuecyr-roman-webfont.ttf') format('truetype'),
         url('fonts/helveticaneuecyr-roman/helveticaneuecyr-roman-webfont.svg#helveticaneuecyrroman') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*========================== Общие классы ==========================*/

.clearfix {
    display:inline-block;
}

.clearfix {
    zoom:1;
    display:block;
}

.clearfix:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden
}

.left {float: left;}
.right {float: right;}

.center {
	margin-left: auto;
	margin-right: auto;
}
/*========================== END ==========================*/

body {
    color: #000000;
	font-family: 'helveticaneuecyrlight';
	font-size: 14px;
}

a {
	color: #071d80;
	text-decoration: none;
}

strong {
	font-family: 'helveticaneuecyrbold';
	font-weight: normal;
}

h2, .title_1 {
	color: #3d3d3d;
	font-family: 'helveticaneuecyrthin';
	font-size: 48px;
	font-weight: normal;
	text-align: center;
/*	transform: scale(8.087,8.087);*/
}

.wrapper {
	margin: 0 auto;
	min-width: 320px;
	max-width: 2944px;
}

.center {
	margin: 0 auto;
	width: 1278px;
}

header.center {
	margin-bottom: 9px;
}

.orange_btn {
	background-color: #fbad3a;
	color: #ffffff;
	font-family: 'helveticaneuecyrbold';
	font-size: 16px;
}

.orange_btn:hover {
	background-color: #0054a6;
}

.btn_transp {
	border: 1px solid #000;
	color: #030303;
	display: block;
	font-family: 'helveticaneuecyrlight';
	font-size: 18px;
	height: 49px;
	word-spacing: 3px;
	line-height: 49px;
	padding: 0 40px;
	text-transform: uppercase;
}

.logo {
	margin: 76px 0 0 0;
}

.link_1 {
	line-height: 1.4;
	margin: 89px 0 0 61px;
	text-align: right;
}

.link_1 a {
	display: block;
	font-size: 11px;
	text-decoration: underline;
}

.block_1 {
	line-height: 1.3;
	margin: 89px 0 0 0;
	text-align: right;
}

.block_1 strong {
	font-size: 18px;
}

.block_1 a {
	color: #071d80;
	display: block;
	font-size: 11px;
	text-decoration: underline;
}

.top_menu {
	border-top: 1px solid #e1e1e1;
	clear: both;
	overflow: hidden;
}

.top_menu_ul {
	overflow: hidden;
}

.top_menu_ul > li {
	float: left;
}

.top_menu_ul > li + li {
	margin-left: 34px;
}

.top_menu_ul > li a {
	color: #353535;
	display: block;
	font-size: 18px;
	height: 49px;
	line-height: 49px;
}

.top_menu .orange_btn {
	height: 49px;
	line-height: 49px;
	text-align: center;
	width: 268px;
}

/*========================== select header ==========================*/

.select_town {
	margin: 82px 0 0 0;
}

.select_town .selecter {
	max-width: 100%;
	width: 140px;
}

.select_town .selecter-selected {
	border: none;
	color: #3a3a3a;
	font-size: 12px;
}

.select_town .selecter-item.selected {
	background: #fff;
}

.select_town .selecter.open .selecter-selected,
.select_town .selecter.focus .selecter-selected {
  	box-shadow: none;
}

.select_town .selecter-selected:after {
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #4d4d4d;
}
/*========================== END select header ==========================*/

.block_2 {
	background: url(img/bg_1.jpg) no-repeat center top;
	padding: 97px 0 0 0;
}

.block_2 .center {
	background: #fff;
}

.slick_slider  {
	background: #dedfe0;
	padding: 2px 0;
}

.slick-prev, .slick-next {
	background: url(img/slider_arrows.png) no-repeat;
	border: none;
	cursor: pointer;
	height: 63px;
	margin-top: -31.5px;
	outline: none;
	padding: 0;
	position: absolute;
	top: 50%;
	text-indent: -9999px;
	width: 60px;
	z-index: 20;
}

.slick-prev {
	background-position: 0 0;
	left: 0;
}

.slick-next {
	background-position: -60px 0;
	right: 0;
}

.slick-slide img {
	margin-left: auto;
	margin-right: auto;
}

.block_orange {
	background-color: #fbad3a;
	-webkit-box-shadow: 0px 0px 3px 0.00px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0px 0px 3px 0.00px rgba(0, 0, 0, 0.35);
	box-shadow: 0px 0px 3px 0.00px rgba(0, 0, 0, 0.35);
	font-family: 'helveticaneuecyrroman';
	margin: 0 0 75px 0;
	padding: 12px 0 20px 58px;
	position: relative;
}

.block_orange .btn_transp {
	position: absolute;
	right: 57px;
	top: 15px;
}

.p_1 {
	font-size: 24px;
	letter-spacing: 1px;
	margin: 5px 0;
	word-spacing: -3px;
}

.p_2 {
	word-spacing: 3px;
}

.bussines {
	margin: 83px 0 0 182px;
	overflow: hidden;
}

.bussines > li {
	color: #000000;
	float: left;
	font-size: 20px;
	line-height: 1.3;
	text-align: center;
}

.bussines > li img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.bussines > li span {
	display: block;
	font-family: 'helveticaneuecyrmedium';
}

.bussines > li:first-child {
	width: 140px;
}

.bussines > li:nth-child(2) {
	width: 199px;
}

.bussines > li:nth-child(3) {
	width: 206px;
}

.bussines > li:nth-child(4) {
	width: 190px;
}

.bussines > li:nth-child(5) {
	width: 219px;
}

.bussines > li:nth-child(6) {
	width: 168px;
}
