html
    height 100%
body,
div,
ul,
li,
h1,
h2,
h5,
p
    padding 0
    margin 0

a
    text-decoration none
    outline none
    &:hover
        text-decoration none

img
    border 0

em,
strong
    font-weight normal
    font-style normal

strong
    font-weight bold

ul
    list-style none
    margin 0
    padding 0
h3
    font-weight 600
h1,
h2,
h5
    font-weight 600
    font-size 100%
    margin 0
    padding 0
    color #000
h4
    font-size 26px
    font-weight 600
    margin: 0;
button
    border none
    outline none !important
    background none
    cursor pointer
body
    font-family 'HelveticaNeue-Light', Arial, sans-serif !important
    font-weight 500
    background #fff
    color #000
    font-size 15px
    min-width 320px
    height 100%
    letter-spacing: 0.75px;
.wrapper-contant
    min-height:100%;
    position relative

*
    box-sizing border-box
