@media (max-width: 1200px) 
    .container
        width 100%
        padding 0 10px
    .top-block .logo
        margin: 0 20px 0 0;
    .parameter-block
        min-height: 128px;    
    .block-tabs-text .item
        width 25%

@media (max-width: 1024px) 
    .block-tabs-text .item
        width 25%
    .main-content .text
        width 100%
        float none
        text-align center
        margin-bottom 20px
    .main-content h3
        margin 0 
    .bottom-block .proposal
        display none
    .main-content .form-block
        float none
        margin 0 auto
    .contact .left-column
        width 100%
        padding: 34px 0 0 0;
    .special-proposal .img-wrapper
        width 33%
    .parameter-block
        min-height 177px
    .contact .right-column
        float none
        margin 0 auto
    .modal-window-order
        width 96%
    .parameter-block .content .choose-tires-block.tires-type.tires-first
        margin: 0px 0 5px 0px;
        

@media (max-width: 922px) 
    .block-tabs-text .item
        width 33.33333%
    .parameter-block .content .choose-tires-block
        margin-bottom 20px
    .parameter-block .content .choose-tires-block.tires-type
        width: 100%;
        margin 15px 0 0 0
    .additionally-option
        margin: 60px 0 0 0;
    .choose-tires:nth-child(2), .choose-tires:nth-child(5)
        min-width 121px;
    footer .form-block
        width 100%
    .additionally-option .close-tires
        float right
        margin 0
    .additionally-option .find-tires
        margin 0
        float left
    .additionally-option .tire-size
        display block
        width 100%
@media (max-width: 767px)

    .block-tabs-text .item
        width 50%
    .special-proposal .img-wrapper
        width 46%
    .payment .type-method 
        li
            width 100%
        li:last-child
            display none
    .payment .method .hide-desktop 
        display block
        padding 0
        font-weight 500  
    .payment .method li
        width 100%
    .parameter-block .content
        padding: 20px 0px 20px 0px;
        position: relative;
        left: 0;
    .parameter-block .content > .icon
        left -27px
    .parameter-block .content.auto .icon
        left: -27px;
    .bottom-block .count-order
        display none
    .bottom-block nav
        text-align center
        float none
    .top-block .logo
        float none
        display block
        margin 0 auto
    .phone
        float left
    .bottom-block nav li
        padding 0 10px
    .contact .right-column
        width 100%
    .main-content
        padding 0 0 30px 0
        h2
            font-size 23px
            padding 0
            .icon
                display none
        h3
            margin 0
            font-size 20px
        h4
            font-size 14px
    .main-content .form-block
        width 100%
    .special-proposal .img-wrapper
        width 100%
    .delivery p
        border-bottom none
        margin 0
    .payment .method
        margin 0
        border-bottom 0
    .special-proposal .img-wrapper-border
        box-shadow none
    .special-proposal .img-wrapper
        margin-bottom 15px
    .block-tabs-text .item
        margin-bottom 10px
    .parameter-block .content .choose-tires-block.tires-type .choose-tires
        min-width 48% !important
    .choose-tires:nth-child(2), .choose-tires:nth-child(5)
        min-width: 130px;
    footer
        padding: 50px 0px 40px 0px;
        .form-block
            width 100%
    footer h3
        font-size 18px
    footer p
        font-size 16px
    .modal-window-order
        input
            width 90%
            margin 0 0 20px 0
        button
            width 90%
        .form-block
            text-align center
    .additionally-option
        margin: 0px 0 0 0;
        .tire-size strong
            text-align left
            display block
    
    .parameter-block .content .choose-tires-block.tires-type.tires-first
        margin: 0 0 10px 0px;
@media (max-width: 480px)
    .block-tabs-text .item
        width 100%
    .title
        font-size 16px
    footer .form-block .data-phone, footer .form-block button
        width 100%
        margin 0 0 20px 0
    
    

        

    