/*========================== reset.css ==========================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, time {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a, input, select, textarea {
    outline: none;
}

img, input {
	border: none;
}

input[type=submit] {
    cursor: pointer;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*========================== END reset.css ==========================*/

@font-face {
    font-family: 'pf_beausans_probbook';
    src: url('fonts/PFBeauSansPro-Bbook/pfbeausanspro-bbook-webfont.eot');
    src: url('fonts/PFBeauSansPro-Bbook/pfbeausanspro-bbook-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/PFBeauSansPro-Bbook/pfbeausanspro-bbook-webfont.woff2') format('woff2'),
         url('fonts/PFBeauSansPro-Bbook/pfbeausanspro-bbook-webfont.woff') format('woff'),
         url('fonts/PFBeauSansPro-Bbook/pfbeausanspro-bbook-webfont.ttf') format('truetype'),
         url('fonts/PFBeauSansPro-Bbook/pfbeausanspro-bbook-webfont.svg#pf_beausans_probbook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pf_beausans_probold';
    src: url('fonts/PFBeauSansPro-Bold/pfbeausanspro-bold-webfont.eot');
    src: url('fonts/PFBeauSansPro-Bold/pfbeausanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/PFBeauSansPro-Bold/pfbeausanspro-bold-webfont.woff2') format('woff2'),
         url('fonts/PFBeauSansPro-Bold/pfbeausanspro-bold-webfont.woff') format('woff'),
         url('fonts/PFBeauSansPro-Bold/pfbeausanspro-bold-webfont.ttf') format('truetype'),
         url('fonts/PFBeauSansPro-Bold/pfbeausanspro-bold-webfont.svg#pf_beausans_probold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pf_beausans_problack';
    src: url('fonts/PFBeauSansPro-Black/pfbeausanspro-black-webfont.eot');
    src: url('fonts/PFBeauSansPro-Black/pfbeausanspro-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/PFBeauSansPro-Black/pfbeausanspro-black-webfont.woff2') format('woff2'),
         url('fonts/PFBeauSansPro-Black/pfbeausanspro-black-webfont.woff') format('woff'),
         url('fonts/PFBeauSansPro-Black/pfbeausanspro-black-webfont.ttf') format('truetype'),
         url('fonts/PFBeauSansPro-Black/pfbeausanspro-black-webfont.svg#pf_beausans_problack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pf_beausans_proregular';
    src: url('fonts/PFBeauSansPro-Regular/pfbeausanspro-regular-webfont.eot');
    src: url('fonts/PFBeauSansPro-Regular/pfbeausanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/PFBeauSansPro-Regular/pfbeausanspro-regular-webfont.woff2') format('woff2'),
         url('fonts/PFBeauSansPro-Regular/pfbeausanspro-regular-webfont.woff') format('woff'),
         url('fonts/PFBeauSansPro-Regular/pfbeausanspro-regular-webfont.ttf') format('truetype'),
         url('fonts/PFBeauSansPro-Regular/pfbeausanspro-regular-webfont.svg#pf_beausans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pf_beausans_proitalic';
    src: url('fonts/PFBeauSansPro-Italic/pfbeausanspro-italic-webfont.eot');
    src: url('fonts/PFBeauSansPro-Italic/pfbeausanspro-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/PFBeauSansPro-Italic/pfbeausanspro-italic-webfont.woff2') format('woff2'),
         url('fonts/PFBeauSansPro-Italic/pfbeausanspro-italic-webfont.woff') format('woff'),
         url('fonts/PFBeauSansPro-Italic/pfbeausanspro-italic-webfont.ttf') format('truetype'),
         url('fonts/PFBeauSansPro-Italic/pfbeausanspro-italic-webfont.svg#pf_beausans_proitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*========================== Общие классы ==========================*/

.clearfix {
    display:inline-block;
}

.clearfix {
    zoom:1;
    display:block;
}

.clearfix:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden
}

.left {float: left;}
.right {float: right;}

.center {
	margin-left: auto;
	margin-right: auto;
}

/*========================== END ==========================*/

body {
    font-family: 'pf_beausans_proregular';
	font-size: 12px;
}

a {color: #363636; text-decoration: none;}
a:hover {color: #e83d1b;}
strong, b {font-weight: normal; font-family: 'pf_beausans_probold';}
i {font-family: 'pf_beausans_proitalic'; font-style: normal;}

h2, .h2 {
	font-family: 'pf_beausans_probold';
	font-size: 24px;
	text-transform: uppercase;
}

h3 {
	font-size: 18px;
}
h2, h3, h4 {
	color: #e83d1b;
}

.wrapper {
	margin: 0 auto;
	width: 1200px;
}

.header {
	margin: 0 0 14px 0;
	padding: 0 0 0 31px;
}

.menu {
	background: url(img/menu_bg.png) no-repeat left top;
	height: 90px;
	padding-top: 30px;
	width: 515px;
}

.menu.left {
	margin: 0 13px 0 0;
	padding-left: 50px;
}

.menu > ul > li {
	float: left;
	padding-bottom: 35px;	
	position: relative;
}

.menu > ul > li > a {
	color: #fff;
	display: block;
	font-family: 'pf_beausans_probold';
	font-size: 11px;
	padding: 0 21px;
	text-transform: uppercase;
}

.menu > ul > li > a:hover {
	text-decoration: underline;
}

.menu > ul > li > ul {
	background: #fff url(img/pod_menu_bg.png) repeat-x left top;
	-moz-box-shadow: 0 5px 10px rgba(0,0,0,.47);
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.47);
	box-shadow: 0 5px 10px rgba(0,0,0,.47);
	display: none;
	padding: 7px 0 0 0;
	position: absolute;
	left: 4px;
	top: 42px;
	width: 225px;
	z-index: 200;
}

.menu > ul > li + li {
	margin-left: 34px;
}

.menu > ul > li:hover ul {
	display: block;
}

.menu > ul > li > ul > li {
	padding: 0 0 13px 0;
}

.menu > ul > li > ul > li:first-child {
	padding-top: 3px;
}

.menu > ul > li > ul > li > a {
	color: #000;
	display: block;
	font-family: 'pf_beausans_probbook';
	font-size: 14px;
	letter-spacing: 1px;
	padding: 0 0 0 22px;
}

.menu > ul > li > ul > li > a:hover {color: #b73218;}

.menu.right {
	margin: 0 27px 0 0;
	padding-left: 55px;
	text-align: right;
}

.menu.right > ul > li > a {
	line-height: 1.2;
}

.slider_1 {
	position: relative;
}

.slider_1 .slick-slide {
	position: relative;
}

.slider_1 .slider_content {
	background: rgba(29, 29, 29, .8);
	bottom: 0;
	color: #fff;
	left: 148px;
	padding: 75px 45px 0 20px;
	position: absolute;
	top: 0;
	width: 295px;
}

.slider_1 .slick-next {
	right: 0;
	top: 205px;
	width: 149px;
}

.slider_1 .slick-prev:before, .slider_1 .slick-next:before {
	display: none;
}

.slider_1 .slick-prev {
	left: 0;
}

.slider_1 .slick-prev, .slider_1 .slick-next {
	height: 410px;
	width: 149px;
	z-index: 10;
}

.slider_1 .slick-dots li button {
	background: url(img/slider_btn.png) no-repeat;
	height: 13px;
	width: 16px;
}

.slider_1 .slick-active {
	background: url(img/slider_btn_active.png) no-repeat;
}

.slider_1 .slick-dots {
	bottom: 9px;
}

.slider_1 .slick-dots {
	left: 365px;
	width: auto;
}

.slider_1 .slick-dots li {
	margin: 0;
}

.slider_1 .slick-dots li + li {margin-left: 2px;}

.slider_1 .slick-dots li button:before {display: none;}

.title_slider {
	font-family: 'pf_beausans_problack';
	font-size: 30px;
	letter-spacing: 1px;
	line-height: 1.3;
	margin: 0 0 25px 0;
	opacity: .8;
	text-transform: uppercase;
}

.slider_descript {
	font-size: 18px;
	line-height: 1.3;
	margin: 0 0 34px 0;
}

.more {
	border: 1px solid #fff;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	color: #ffd;
	display: inline-block;
	font-size: 14px;
	height: 29px;
	line-height: 29px;
	padding: 0 20px;
}

.slider_2 {
	margin: 0 0 5px 0;
}

.slider_2 .h2 {
	font-family: 'pf_beausans_problack';
	letter-spacing: 1px;
	margin: 0 0 0 82px;
}

#slider_2 {
	margin: 31px 0 19px 108px;
	position: relative;
	width: 975px;
}

#slider_2:before {
	background: url(img/slider_2_left.png) no-repeat;
	content: "";
	left: -109px;
	position: absolute;
	height: 400px;
	top: -3px;
	width: 175px;
}

#slider_2:after {
	background: url(img/slider_2_right.png) no-repeat;
	content: "";
	height: 400px;
	position: absolute;
	right: -116px;
	top: 15px;
	width: 186px;
}

#slider_2 .slick-slide {
	height: 430px;
}

#slider_2 .slider_2_ul {
	 margin: 15px 0 0 0;
	position: relative;	
}

#slider_2 .slider_2_ul > li {
	position: absolute;
	top: 0;
	width: 292px;
	z-index: 2;
}

#slider_2 .slider_2_ul > li:hover {
	z-index: 4;
}

#slider_2 .slider_2_ul > li:first-child {
	left: 0;
}

#slider_2 .slider_2_ul > li:nth-child(2) {
	left: 225px;
}

#slider_2 .slider_2_ul > li:nth-child(3) {
	left: 454px;
}

#slider_2 .slider_2_ul > li:nth-child(4) {
	left: 680px;
}

#slider_2 .slick-prev, #slider_2 .slick-next {
	background: url(img/slider_2_arrow.png) no-repeat;
	height: 34px;
	top: 32%;
	transform: none;
	width: 34px;
}

#slider_2 .slick-prev {
	background-position: 0 0;
	left: -91px;
	top: 59%;
}

#slider_2 .slick-next {
	background-position: -34px 0;
	right: -113px;
	z-index: 10;
}

#slider_2 .slick-prev:before, #slider_2 .slick-next:before {
	content: "";
}

#slider_2 .slick-prev.slick-disabled, #slider_2 .slick-next.slick-disabled {
	background: none;
}

/*========================== odd ==========================*/

.slider_2_ul > li:nth-child(odd) {
	background: url(img/slider_2_bg_1.png) no-repeat;
}

.slider_2_ul > li:nth-child(odd) .slider_2_ul__title {
	margin: 0 0 7px 0;
}

.slider_2_ul > li:nth-child(odd) .descript_products {
	height: 63px;	
}

.slider_2_ul > li:nth-child(odd) img {
	margin: 11px 0 25px 12px;
}

/*========================== even ==========================*/

#slider_2 .slider_2_ul > li:nth-child(even) {
	background: url(img/slider_2_bg_2.png) no-repeat;
	top: -14px;
}

.slider_2_ul > li:nth-child(even) .slider_2_ul__title {
	height: 69px;
	padding: 22px 0 5px 0;
}

.slider_2_ul > li:nth-child(even) .descript_products {
	height: 45px;
	margin-bottom: 5px;
	width: 175px;
}

.slider_2_ul > li:nth-child(even) .box {
	margin-bottom: 26px;
}

.slider_2_ul > li:nth-child(even) img {
	margin: 0 0 20px 14px;
}

/*========================== END even ==========================*/

.slider_2_ul > li a, .slider_2_ul > li img {
	display: block;
}


.slider_2_ul__title {
	color: rgba(0, 0, 0, .8);
	font-family: 'pf_beausans_problack';
	font-size: 18px;	
	letter-spacing: 1px;
	line-height: 1.2;	
	overflow: hidden;
	text-align: center;
	text-transform: uppercase;
}

.slider_2_ul > li a:hover .slider_2_ul__title {
	color: #e83d1b;
}

.descript_products {
	color: #000;
	display: block;
	font-size: 14px;
	line-height: 1;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
	width: 180px;
}

.box {
	height: 0;
	margin: 0 auto 9px;
	width: 0;	
}

.slider_2_ul > li:nth-child(odd) .box {
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 9px solid #4a4a4a;
}

.slider_2_ul > li:nth-child(odd) a:hover .box {
	border-bottom-color: #e83d1b;
}

.slider_2_ul > li:nth-child(even) .box {
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 9px solid #4a4a4a;
}

.slider_2_ul > li:nth-child(even) a:hover .box {
	border-top-color: #e83d1b;
}

.link_1 {
	margin: 16px 0 19px 84px;
	overflow: hidden;
}

.link_1 a {
	border: 1px solid #fff;
	-moz-border-radius: 13px / 12px;
	-webkit-border-radius: 13px / 12px;
	border-radius: 13px / 12px;
	color: #010101;
	float: left;
	font-family: 'pf_beausans_probbook';
	font-size: 18px;
	height: 25px;
	letter-spacing: 1px;
	line-height: 25px;
	margin: 0 5px 0 0;
	padding: 0 10px;
}

a.active {
	border-color: #000;
}

.gord_item {
	height: 300px;
	padding: 22px 0 0 0;
}

.gord .first {
	background: url(img/gord_1.jpg) no-repeat;
}

.gord .two {
	background: url(img/gord_2.jpg) no-repeat;
}

.gord .three {
	background: url(img/gord_3.jpg) no-repeat;
}

.gord .four {
	background: url(img/gord_4.jpg) no-repeat;
}

.gord_txt {
	background: url(img/gord_txt_bg.png) no-repeat;
	color: #fff;
	font-family: 'pf_beausans_probbook';
	font-size: 18px;
	line-height: 1.3;
	margin: 0 auto;
	text-align: center;
	width: 224px;
}

.gord_txt > div {
	height: 258px;
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}

.gord .slick-prev, .gord .slick-next {
	background: url(img/slider_3_4_arrows.png) no-repeat;
	height: 100px;
	width: 50px;
	z-index: 10;
}

.gord .slick-prev {background-position: 0 0; left: 0;}
.gord .slick-next {background-position: -50px 0; right: 0;}

.gord .slick-prev.slick-disabled, .gord .slick-next.slick-disabled {
	background: none;
}

.gord .slick-prev:before, .gord .slick-next:before {display: none;}

#tab2 {visibility: hidden;}

.wrap_tab {
	height: 300px;
	margin: 0 0 35px 0;
	position: relative;
}

.tabs {
	left: 0;
	margin: 0 0 36px 0;
	position: absolute;
	top: 0;
	width: 100%;
}


/*========================== content ==========================*/

.content {
	margin: 0 0 43px 0;
}

.content .title_1 {
	color: #e03311;
	font-family: 'pf_beausans_probold';
	font-size: 24px;
	letter-spacing: 1px;
	margin: 0 0 24px 0;
	text-align: center;
	text-transform: none;
}

.content .article, .content .news {
	border: 1px solid rgba(0, 0, 0, .15);
	padding: 14px 28px 21px 28px;
	margin: 0 0 0 75px;
	width: 505px;
}

.content .news {
	margin: 0 75px 0 0;
}

.content .date_news {
	background: rgba(0, 0, 0, .8);
	bottom: 0;
	color: #fff;
	height: 20px;
	line-height: 20px;
	left: 1px;
	position: absolute;
	text-align: center;
	width: 86px;
}

.content_item {
	border-bottom: 1px solid rgba(0, 0, 0, .2);
	margin: 0 0 15px 0;
	overflow: hidden;
	padding: 0 0 16px 26px;
}

.content_item:last-child {
	border-bottom: none;
	padding-bottom: 0;
}

.content_item p {
	line-height: 1.2;
}

.content_item img {
	display: block;
	height: 145px;
	width: 145px;
}

.content_item a.left {
	display: block;
	margin: 0 50px 0 0;
	position: relative;
}

.content_item__title {
	color: #363636;
	font-family: 'pf_beausans_probold';
	font-size: 18px;
	line-height: 1.2;
	margin: 13px 0 5px 0;
}

/*========================== footer ==========================*/

.footer {
	background: #b73218;
	color: #fff;
	font-family: 'pf_beausans_probbook';
	overflow: hidden;
	padding: 17px 0 0 77px;
}

.footer a {color: #fff;}

.footer_ul_1 {
	margin: 0 225px 0 0;
	width: 200px;
}

.footer_ul_1 span {
	background-image: url(img/footer_sprite.png);
	background-repeat: no-repeat;
	display: inline-block;
	position: relative;
}

.footer_phone {
	margin: 0 0 15px 0;
}

.footer_phone span {
	background-position: 0 0;
	height: 16px;
	margin: 0 19px 0 0;
	top: 5px;
	width: 10px;
}

.footer_addr {
	line-height: 1.4;
	margin: 0 0 17px 0;
	padding: 6px 0 0 28px;
	position: relative;
}

.footer_addr span {
	background-position: -10px 0;
	height: 16px;
	left: 1px;
	position: absolute;
	top: 12px;
	width: 9px;
}

.footer_email span {
	background-position: -19px 0;
	height: 12px;
	margin: 0 12px 0 0;
	width: 15px;
}

.footer_menu {
	margin: 6px 0 0 0;
	overflow: hidden;
	width: 250px;
}

.footer_menu a {
	font-size: 10px;
	float: left;
	line-height: 1.4;
	margin: 0 35px 20px 0;
	text-transform: uppercase;
	width: 100px;
}

.footer_menu a:nth-child(2n) {
	margin-right: 0;
}

.soc_btn {
	margin: 36px 77px 0 0;
	overflow: hidden;
}

.soc_btn a {
	background-image: url(img/sprite_soc_ico.png);
	background-repeat: no-repeat;
	display: block;
	float: left;
	height: 29px;
	width: 30px;
}

.soc_btn a + a {
	margin-left: 14px;
}

.soc_btn a.vk {
	background-position: 0 0;
}

.soc_btn a.fb {
	background-position: -30px 0;
}



