/*========================== reset.css ==========================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, time {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a, input, select, textarea {
    outline: none;
}

img, input {
	border: none;
}

input[type=submit] {
    cursor: pointer;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*========================== END reset.css ==========================*/

@font-face {
	font-family: 'Conv_pfbeausanspro-light';
	src: url('fonts/PFBeauSansPro-Light/pfbeausanspro-light.eot');
	src: local('☺'), url('fonts/PFBeauSansPro-Light/pfbeausanspro-light.woff') format('woff'), url('fonts/PFBeauSansPro-Light/pfbeausanspro-light.ttf') format('truetype'), url('fonts/PFBeauSansPro-Light/pfbeausanspro-light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'pf_beausans_probbook';
    src: url('fonts/PFBeauSansPro-Bbook/pfbeausanspro-bbook-webfont.eot');
    src: url('fonts/PFBeauSansPro-Bbook/pfbeausanspro-bbook-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/PFBeauSansPro-Bbook/pfbeausanspro-bbook-webfont.woff2') format('woff2'),
         url('fonts/PFBeauSansPro-Bbook/pfbeausanspro-bbook-webfont.woff') format('woff'),
         url('fonts/PFBeauSansPro-Bbook/pfbeausanspro-bbook-webfont.ttf') format('truetype'),
         url('fonts/PFBeauSansPro-Bbook/pfbeausanspro-bbook-webfont.svg#pf_beausans_probbook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pf_beausans_probold';
    src: url('fonts/PFBeauSansPro-Bold/pfbeausanspro-bold-webfont.eot');
    src: url('fonts/PFBeauSansPro-Bold/pfbeausanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/PFBeauSansPro-Bold/pfbeausanspro-bold-webfont.woff2') format('woff2'),
         url('fonts/PFBeauSansPro-Bold/pfbeausanspro-bold-webfont.woff') format('woff'),
         url('fonts/PFBeauSansPro-Bold/pfbeausanspro-bold-webfont.ttf') format('truetype'),
         url('fonts/PFBeauSansPro-Bold/pfbeausanspro-bold-webfont.svg#pf_beausans_probold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pf_beausans_problack';
    src: url('fonts/PFBeauSansPro-Black/pfbeausanspro-black-webfont.eot');
    src: url('fonts/PFBeauSansPro-Black/pfbeausanspro-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/PFBeauSansPro-Black/pfbeausanspro-black-webfont.woff2') format('woff2'),
         url('fonts/PFBeauSansPro-Black/pfbeausanspro-black-webfont.woff') format('woff'),
         url('fonts/PFBeauSansPro-Black/pfbeausanspro-black-webfont.ttf') format('truetype'),
         url('fonts/PFBeauSansPro-Black/pfbeausanspro-black-webfont.svg#pf_beausans_problack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pf_beausans_proregular';
    src: url('fonts/PFBeauSansPro-Regular/pfbeausanspro-regular-webfont.eot');
    src: url('fonts/PFBeauSansPro-Regular/pfbeausanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/PFBeauSansPro-Regular/pfbeausanspro-regular-webfont.woff2') format('woff2'),
         url('fonts/PFBeauSansPro-Regular/pfbeausanspro-regular-webfont.woff') format('woff'),
         url('fonts/PFBeauSansPro-Regular/pfbeausanspro-regular-webfont.ttf') format('truetype'),
         url('fonts/PFBeauSansPro-Regular/pfbeausanspro-regular-webfont.svg#pf_beausans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pf_beausans_proitalic';
    src: url('fonts/PFBeauSansPro-Italic/pfbeausanspro-italic-webfont.eot');
    src: url('fonts/PFBeauSansPro-Italic/pfbeausanspro-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/PFBeauSansPro-Italic/pfbeausanspro-italic-webfont.woff2') format('woff2'),
         url('fonts/PFBeauSansPro-Italic/pfbeausanspro-italic-webfont.woff') format('woff'),
         url('fonts/PFBeauSansPro-Italic/pfbeausanspro-italic-webfont.ttf') format('truetype'),
         url('fonts/PFBeauSansPro-Italic/pfbeausanspro-italic-webfont.svg#pf_beausans_proitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*========================== Общие классы ==========================*/

.clearfix {
    display:inline-block;
}

.clearfix {
    zoom:1;
    display:block;
}

.clearfix:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden
}

.left {float: left;}
.right {float: right;}

.center {
	margin-left: auto;
	margin-right: auto;
}

/*========================== END ==========================*/

body {
    font-family: 'pf_beausans_proregular';
	font-size: 12px;
}

a {color: #363636; text-decoration: none;}
a:hover {color: #e83d1b;}
strong, b {font-weight: normal; font-family: 'pf_beausans_probold';}
i {font-family: 'pf_beausans_proitalic'; font-style: normal;}

h2, .h2 {
	font-family: 'pf_beausans_probold';
	font-size: 24px;
	text-transform: uppercase;
}

h3 {
	font-size: 18px;
}
h2, h3, h4 {
	color: #e83d1b;
}

.wrapper {
	margin: 0 auto;
	width: 1200px;
}

.header {
	margin: 0 0 14px 0;
	padding: 0 0 0 31px;
}

.center_5 {
    width:1030px;
    margin:0 auto;
}

.menu {
	background: url(img/menu_bg.png) no-repeat left top;
	height: 90px;
	padding-top: 30px;
	width: 515px;
}

.menu.left {
	margin: 0 13px 0 0;
	padding-left: 50px;
}

.menu > ul > li {
	float: left;
	padding-bottom: 35px;	
	position: relative;
}

.menu > ul > li > a {
	color: #fff;
	display: block;
	font-family: 'pf_beausans_probold';
	font-size: 11px;
	padding: 0 21px;
	text-transform: uppercase;
}

.menu > ul > li > a:hover {
	text-decoration: underline;
}

.menu > ul > li > ul {
	background: #fff url(img/pod_menu_bg.png) repeat-x left top;
	-moz-box-shadow: 0 5px 10px rgba(0,0,0,.47);
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.47);
	box-shadow: 0 5px 10px rgba(0,0,0,.47);
	display: none;
	padding: 7px 0 0 0;
	position: absolute;
	left: 4px;
	top: 42px;
	width: 225px;
	z-index: 200;
}

.menu > ul > li + li {
	margin-left: 34px;
}

.menu > ul > li:hover ul {
	display: block;
}

.menu > ul > li > ul > li {
	padding: 0 0 13px 0;
}

.menu > ul > li > ul > li:first-child {
	padding-top: 3px;
}

.menu > ul > li > ul > li > a {
	color: #000;
	display: block;
	font-family: 'pf_beausans_probbook';
	font-size: 14px;
	letter-spacing: 1px;
	padding: 0 0 0 22px;
}

.menu > ul > li > ul > li > a:hover {color: #b73218;}

.menu.right {
	margin: 0 27px 0 0;
	padding-left: 55px;
	text-align: right;
}

.menu.right > ul > li > a {
	line-height: 1.2;
}

.slider_1 {
	position: relative;
}

.slider_1 .slick-slide {
	position: relative;
}

.slider_1 .slider_content {
	background: rgba(29, 29, 29, .8);
	bottom: 0;
	color: #fff;
	left: 148px;
	padding: 75px 45px 0 20px;
	position: absolute;
	top: 0;
	width: 295px;
}

.slider_1 .slick-next {
	right: 0;
	top: 205px;
	width: 149px;
}

.slider_1 .slick-prev:before, .slider_1 .slick-next:before {
	display: none;
}

.slider_1 .slick-prev {
	left: 0;
}

.slider_1 .slick-prev, .slider_1 .slick-next {
	height: 410px;
	width: 149px;
	z-index: 10;
        background-image:none;
}

.slider_1 .slick-dots li button {
	background: url(img/slider_btn.png) no-repeat;
	height: 13px;
	width: 16px;
}

.slider_1 .slick-active {
	background: url(img/slider_btn_active.png) no-repeat;
}

.slider_1 .slick-dots {
	bottom: 9px;
}

.slider_1 .slick-dots {
	left: 365px;
	width: auto;
}

.slider_1 .slick-dots li {
	margin: 0;
}

.slider_1 .slick-dots li + li {margin-left: 2px;}

.slider_1 .slick-dots li button:before {display: none;}

.title_slider {
	font-family: 'pf_beausans_problack';
	font-size: 30px;
	letter-spacing: 1px;
	line-height: 1.3;
	margin: 0 0 25px 0;
	opacity: .8;
	text-transform: uppercase;
}

.slider_descript {
	font-size: 18px;
	height: 92px;
	line-height: 1.3;
	margin: 0 0 34px 0;
	overflow: hidden;
}

.more {
	border: 1px solid #fff;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	color: #ffd;
	display: inline-block;
	font-size: 14px;
	height: 29px;
	line-height: 29px;
	padding: 0 20px;
}

.slider_2 {
	margin: 0 0 5px 0;
}

.slider_2 .h2 {
	font-family: 'pf_beausans_problack';
	letter-spacing: 1px;
	margin: 0 0 0 82px;
}

#slider_2 {
	margin: 31px 0 19px 108px;
	position: relative;
	width: 975px;
}

#slider_2:before {
	background: url(img/slider_2_left.png) no-repeat;
	content: "";
	left: -109px;
	position: absolute;
	height: 400px;
	top: -3px;
	width: 175px;
}

#slider_2:after {
	background: url(img/slider_2_right.png) no-repeat;
	content: "";
	height: 400px;
	position: absolute;
	right: -116px;
	top: 15px;
	width: 186px;
}

#slider_2 .slick-slide {
	height: 430px;
}

#slider_2 .slider_2_ul {
	 margin: 15px 0 0 0;
	position: relative;	
}

#slider_2 .slider_2_ul > li {
	position: absolute;
	top: 0;
	width: 292px;
	z-index: 2;
}

#slider_2 .slider_2_ul > li:hover {
	z-index: 4;
}

#slider_2 .slider_2_ul > li:first-child {
	left: 0;
}

#slider_2 .slider_2_ul > li:nth-child(2) {
	left: 225px;
}

#slider_2 .slider_2_ul > li:nth-child(3) {
	left: 454px;
}

#slider_2 .slider_2_ul > li:nth-child(4) {
	left: 680px;
}

#slider_2 .slick-prev, #slider_2 .slick-next {
	background: url(img/slider_2_arrow.png) no-repeat;
	height: 34px;
	top: 32%;
	transform: none;
	width: 34px;
}

#slider_2 .slick-prev {
	background-position: 0 0;
	left: -91px;
	top: 59%;
}

#slider_2 .slick-next {
	background-position: -34px 0;
	right: -113px;
	z-index: 10;
}

#slider_2 .slick-prev:before, #slider_2 .slick-next:before {
	content: "";
}

#slider_2 .slick-prev.slick-disabled, #slider_2 .slick-next.slick-disabled {
	opacity:0.3;
}

/*========================== odd ==========================*/

.slider_2_ul > li:nth-child(odd) {
	background: url(img/slider_2_bg_1.png) no-repeat;
}

.slider_2_ul > li:nth-child(odd) .slider_2_ul__title {
	margin: 0 0 7px 0;
}

.slider_2_ul > li:nth-child(odd) .descript_products {
	height: 63px;	
}

.slider_2_ul > li:nth-child(odd) img {
	margin: 11px 0 25px 12px;
}

/*========================== even ==========================*/

#slider_2 .slider_2_ul > li:nth-child(even) {
	background: url(img/slider_2_bg_2.png) no-repeat;
	top: -14px;
}

.slider_2_ul > li:nth-child(even) .slider_2_ul__title {
	height: 69px;
	padding: 22px 0 5px 0;
}

.slider_2_ul > li:nth-child(even) .descript_products {
	height: 45px;
	margin-bottom: 5px;
	width: 175px;
}

.slider_2_ul > li:nth-child(even) .box {
	margin-bottom: 26px;
}

.slider_2_ul > li:nth-child(even) img {
	margin: 0 0 20px 14px;
}

/*========================== END even ==========================*/

.slider_2_ul > li a, .slider_2_ul > li img {
	display: block;
}


.slider_2_ul__title {
	color: rgba(0, 0, 0, .8);
	font-family: 'pf_beausans_problack';
	font-size: 18px;	
	letter-spacing: 1px;
	line-height: 1.2;	
	overflow: hidden;
	text-align: center;
	text-transform: uppercase;
}

.slider_2_ul > li a:hover .slider_2_ul__title {
	color: #e83d1b;
}

.descript_products {
	color: #000;
	display: block;
	font-size: 14px;
	line-height: 1;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
	width: 180px;
}

.box {
	height: 0;
	margin: 0 auto 9px;
	width: 0;	
}

.slider_2_ul > li:nth-child(odd) .box {
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 9px solid #4a4a4a;
}

.slider_2_ul > li:nth-child(odd) a:hover .box {
	border-bottom-color: #e83d1b;
}

.slider_2_ul > li:nth-child(even) .box {
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 9px solid #4a4a4a;
}

.slider_2_ul > li:nth-child(even) a:hover .box {
	border-top-color: #e83d1b;
}

.link_1 {
	margin: 16px 0 19px 84px;
	overflow: hidden;
}

.link_1 a {
	border: 1px solid #fff;
	-moz-border-radius: 13px / 12px;
	-webkit-border-radius: 13px / 12px;
	border-radius: 13px / 12px;
	color: #010101;
	float: left;
	font-family: 'pf_beausans_probbook';
	font-size: 18px;
	height: 25px;
	letter-spacing: 1px;
	line-height: 25px;
	margin: 0 5px 0 0;
	padding: 0 10px;
}

a.active {
	border-color: #000;
}

.gord_item {
	height: 300px;
	padding: 22px 0 0 0;
}

.gord .first {
	background: url(img/gord_1.jpg) no-repeat;
}

.gord .two {
	background: url(img/gord_2.jpg) no-repeat;
}

.gord .three {
	background: url(img/gord_3.jpg) no-repeat;
}

.gord .four {
	background: url(img/gord_4.jpg) no-repeat;
}

.gord_txt {
	position:relative;
	background: url(img/gord_txt_bg.png) no-repeat;
	color: #fff;
	font-family: 'pf_beausans_probbook';
	font-size: 18px;
	line-height: 1.3;
	margin: 0 auto;
	text-align: center;
	width: 224px;
}

.gord_txt > div {
	height: 258px;
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}
.gord_txt  a {
	width:100%;
	height:100%;
	position:absolute;
	display:block;
	color:#fff;
}

.gord .slick-prev, .gord .slick-next {
	background: url(img/slider_3_4_arrows.png) no-repeat;
	height: 100px;
	width: 50px;
	z-index: 10;
}
.honeysld .slick-prev, .honeysld .slick-next {
	background: url(img/honeysld_arrows.png) no-repeat;
	width: 25px;
        height: 38px;
	z-index: 10;
        opacity:0.7;
}
.slider-navinnew .slick-prev, .slider-navinnew .slick-next {
	background: url(img/newssl_arrows.png) no-repeat;
	width: 25px;
        height: 30px;
	z-index: 10;
        opacity:0.6;
        top:-44px;
}



.gord .slick-prev {background-position: 0 0; left: 0;}
.gord .slick-next {background-position: -50px 0; right: 0;}

.honeysld  {
    margin-bottom:40px;
}
.honeysld .slick-prev {
    background-position: -40px -5px; 
    left: -55px;
}
.honeysld .slick-next {
    background-position: -5px -5px;
    right:-55px;
}
.slider-navinnew .slick-prev {
    background-position: -0px -0px; 
    left: -24px;
}
.slider-navinnew .slick-next {
    background-position: -0px -30px;
    right:-33px;
}

.gord .slick-prev.slick-disabled, .gord .slick-next.slick-disabled {
	background: none;
}
.honeysld .slick-prev.slick-disabled, .honeysld .slick-next.slick-disabled {
	opacity:.3;
}


.gord .slick-prev:before, .gord .slick-next:before, .slider-navinnew .slick-arrow:before {display: none;}
.honeysld .slick-prev:before, .honeysld .slick-next:before {display: none;}

.slider-navinnew .slick-list {
    padding:0px 4%;
    top:-87px;
    position:relative;
    z-index:2;
   
}
.outinnew .new_shadow {
    position:absolute;
    width:100%;
    bottom:16px;
    height:87px;
    background-color:rgba(0,0,0,.8);
   
}

#tab2 {visibility: hidden;}

.wrap_tab {
	height: 300px;
	margin: 0 0 35px 0;
	position: relative;
}

.tabs {
	left: 0;
	margin: 0 0 36px 0;
	position: absolute;
	top: 0;
	width: 100%;
}


/*========================== content ==========================*/

.content {
	margin: 0 0 43px 0;
}

.content .title_1 {
	color: #e03311;
	font-family: 'pf_beausans_probold';
	font-size: 24px;
	letter-spacing: 1px;
	margin: 0 0 24px 0;
	text-align: center;
	text-transform: none;
}

.content .article, .content .news {
	border: 1px solid rgba(0, 0, 0, .15);
	padding: 14px 28px 21px 28px;
	margin: 0 0 0 75px;
	width: 505px;
}

.content .news {
	margin: 0 75px 0 0;
}

.content .date_news {
	background: rgba(0, 0, 0, .8);
	bottom: 0;
	color: #fff;
	height: 20px;
	line-height: 20px;
	left: 1px;
	position: absolute;
	text-align: center;
	width: 86px;
}

.content_item {
	border-bottom: 1px solid rgba(0, 0, 0, .2);
	margin: 0 0 15px 0;
	overflow: hidden;
	padding: 0 0 16px 26px;
}

.content_item:last-child {
	border-bottom: none;
	padding-bottom: 0;
}

.content_item p {
	line-height: 1.2;
}

.content_item img {
	display: block;
	height: 145px;
	width: 145px;
}

.content_item a.left {
	display: block;
	margin: 0 50px 0 0;
	position: relative;
}

.content_item__title {
	color: #363636;
	font-family: 'pf_beausans_probold';
	font-size: 18px;
	line-height: 1.2;
	margin: 13px 0 5px 0;
}

/*========================== footer ==========================*/

.footer {
	background: #b73218;
	color: #fff;
	font-family: 'pf_beausans_probbook';
	overflow: hidden;
	padding: 17px 0 0 77px;
}

.footer a {color: #fff;}

.footer_ul_1 {
	margin: 0 225px 0 0;
	width: 200px;
}

.footer_ul_1 span {
	background-image: url(img/footer_sprite.png);
	background-repeat: no-repeat;
	display: inline-block;
	position: relative;
}

.footer_phone {
	margin: 0 0 15px 0;
}

.footer_phone span {
	background-position: 0 0;
	height: 16px;
	margin: 0 19px 0 0;
	top: 5px;
	width: 10px;
}

.footer_addr {
	line-height: 1.4;
	margin: 0 0 17px 0;
	padding: 6px 0 0 28px;
	position: relative;
}

.footer_addr span {
	background-position: -10px 0;
	height: 16px;
	left: 1px;
	position: absolute;
	top: 12px;
	width: 9px;
}

.footer_email span {
	background-position: -19px 0;
	height: 12px;
	margin: 0 12px 0 0;
	width: 15px;
}

.footer_menu {
	margin: 6px 0 0 0;
	overflow: hidden;
	width: 250px;
}

.footer_menu a {
	font-size: 10px;
	float: left;
	line-height: 1.4;
	margin: 0 35px 20px 0;
	text-transform: uppercase;
	width: 100px;
}

.footer_menu a:nth-child(2n) {
	margin-right: 0;
}

.soc_btn {
	margin:7px 32px 0px 0px;
	
	
}

.soc_btn a {
	background-image: url(img/sprite_soc_ico.png);
	background-repeat: no-repeat;
	display: block;
	float: left;
	height: 29px;
	width: 30px;
}

.soc_btn a + a {
	margin-left: 14px;
}

.soc_btn a.vk {
	background-position: 0 0;
}

.soc_btn a.fb {
	background-position: -30px 0;
}

.soc_btn .rwr {
	clear:both;
}

.soc_btn .copy {
	position:relative;
	left:-45px;
	margin:62px 0px 0px 0px;
	width:119px;
	height:30px;
	clear:both;
}
.soc_btn .copy  a {
	background:none;
}

.prodscar {
   width:1030px;
   margin:0 auto;
}

.prodscar .prevout {
    float:left;
}
.prodscar .descbox {
    width:489px;
    float:right;
}
.prodscar .descbox h1 {
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top:10px;
    margin-bottom:30px;
    font-size:24px;
    color:rgba(0,0,0,.9);
    font-family: 'pf_beausans_probold';

}
.prodscar .descbox p {
    line-height:1.3em;
   padding:32px 28px 32px 28px; 
   font-family: 'Conv_pfbeausanspro-light';
    font-size:14px;
}
.link_2 a {
    padding:12px 28px 9px 28px;
    display:inline-block;
    font-size:14px;
    color:rgba(0,0,0,.9);
}
.link_2 {
    padding:5px 0px 0px 0px;
    position:relative;
    top:1px;
}
.tabprod {
    width:474px;
}
.tabprod .tabs_2 {
    display:none;
}
.tabprod .tabs_2.active {
    
    display:block;
}
.infotbl, .link_2 a.active {
    border-width: 1px 1px 1px 1px;
    border-style:solid;
    border-color:#e5e5e5;
}
.link_2 a.active {
    border-bottom-color:#fff;    
} 
.infotbl .row {
    margin:0px 0%;
    overflow:hidden;
}
.infotbl .row .itm {
    line-height:1.7em;
    text-align:center;
    float:left;
    width:25%;
}
.infotbl .row .itm  span {
    display:block;
}
.infotbl .row .itm  .ic {
    margin:24px auto 4px auto;
    display:block;
    height:45px;
    background-repeat: no-repeat;
}
.infotbl .row .itm  .ic.value {
    width:39px;
    background-image:url(img/remove/picon_1.png);
}
.infotbl .row .itm .ic.flower {
    width:37px;
    background-image:url(img/remove/picon_2.png);
}
.infotbl .row .itm .ic.place {
    position:relative;
    top:-1px;
    width:44px;
    background-image:url(img/remove/picon_3.png);
}
.infotbl .row .itm .ic.time {
    width:41px;
    background-image:url(img/remove/picon_4.png);
}
.infotbl .row .itm .tit {
   margin:0px 0px 12px 0px; 
   font-size:14px; 
   color:rgba(0,0,0,.5); 
   font-family: 'Conv_pfbeausanspro-light';

}
.infotbl .row .itm .quant {
    font-family: 'Conv_pfbeausanspro-light';
    font-size:16px;
    margin:0px 0px 35px 0px; 
}



.slider-forprod  {
    margin:10px 0px 0px 0px;
    border:1px solid #e3e3e3;
 
}
.slick-prev,  .slick-next {
    background: url(img/slider_3_4_arrows.png) no-repeat;
    height: 100px;
    width: 50px;
    z-index: 10;
}
.slider-prodnav, .slider-forprod  {
     padding:0px 0px 4px 0px;
     width:493px;
}
.slider-innew, .slider-navinnew  {
     width:575px;
}
.slider-navinnew {
    margin:0 auto;
    width:500px;
}
.slider-innew {
   
    margin-bottom:0px;
}
.outinnew {
    position:relative;
    height:360px;
    margin-bottom:5px;
   
}

.slick-initialized .slick-slide  {
    outline:none;
}
.slider-prodnav .slick-track  {
    position:static;
}
.slider-forprod .detail, .slider-prodnav .detail, .honeysld .detail, .slider-innew .detail,  .slider-navinnew .detail  {
  text-align:center;  
  position:relative;
  border:1px solid #e3e3e3;
  display:block;
}
.slider-forprod .detail    {
    height: 416px;   
}
.slider_5 {
     max-width:890px;
    margin:0 auto;
}
.slider_5 .h3.or {
    margin:0px 0px 36px 0px;
}
.slider-innew .detail, .slider-navinnew .detail {
    border:0px;
}
.slider-navinnew .detail  {
    padding:14px 0px 14px 0px;
}
.slider-prodnav .detail, .slider-navinnew .detail {
    cursor:pointer;
}
.slider-prodnav .detail {
      width:100px; 
     margin:15px 0px 5px 0px;
    height:100px;
}
.slider-prodnav .slick-slide:nth-child(2) .detail {
    margin-left:5px;
}
.slider-prodnav .slick-slide:nth-child(3) .detail {
     margin-left:15px;
}
.slider-prodnav .slick-slide:nth-child(4) .detail {
      margin-left:19px;
}
.slider-prodnav .slick-current .detail {
    border:1px solid green;
}

.honeysld .detail {
    border:0px;
    margin:0 0px 0px 0px;
    cursor:pointer;
}
.slider-forprod .detail::before, .slider-prodnav .detail::before, .honeysld .detail::before, .slider-innew .detail::before, .slider-navinnew .detail::before {
  content: " ";
  display: inline-block;
  height: 100%;
  width: 1%;
  vertical-align: middle;
}
.slider-forprod  img, .slider-prodnav  img, .honeysld  img, .slider-innew img, .slider-navinnew img {
  display: inline-block;
  vertical-align: middle;
}

.honeysld .detail {
    
    height:174px;
    background:url(img/honeybg.png) no-repeat center top;
}
.h3.or {
    text-align:center;
    text-transform: uppercase;
    color:#f66d00;
    font-family: 'pf_beausans_probold';
    letter-spacing: 1px;
    margin: 0 0 12px 0px;
}

.newscol {
    padding: 20px 0px 20px 0px;
    float:left;
    width:470px;
    margin:0px 0px 30px 84px;
}
.newscol.style_5 {
    padding-bottom:0px;
    margin-bottom:0px;
}
.newscol .h3.or {
    text-align:left;
     margin-bottom:15px;
}
.newscol .item .date, .news_left .new_date {
       font-family: 'pf_beausans_proregular';
       color:rgba(0,0,0,.5);
       font-size:14px;
       display:block;
}
.newscol .item .date {
    margin:0px 0px 5px 0px;
}
.newscol .item p {
    letter-spacing: 1px;
    line-height:1.5em;
    margin:0px 0px 18px 0px;
}
.newscol .item p a {
    color:rgba(0,0,0,.9);
    font-size:18px;
}
.newscol .item p a:hover {
    text-decoration: underline;
}

.formcol {
    float:left;
    width:412px;
}
.formcol.style_5 {
   
}
.formcol .h3.or {
    margin:3px 0px 23px 0px;
    font-size:14px;
    color:#597533;
}
.formcol.style_5 .logform .form {
   margin-top:22px;
   margin-left:40px;
}
.logform .form {
    border:4px solid #acba99;
    position:relative;
    padding:15px 15px 22px 15px;
    margin:0 auto;
    width:362px;
    /*width: 324px;*/
    box-sizing:border-box;
}
.logform .form .line {
    position:relative;
}
.logform .form input[type=text], .logform .form input[type=password], .logform .form textarea {
    letter-spacing: 1px;
    font-family: '';
    border: 1px solid #d9d9d9;
    color: #b8c3c9; 
    display: inline-block;
    font-size: 12px;
    height: 25px;
    padding: 0px 12px 0px 12px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    width:100%;
    margin:5px auto 15px auto;
    box-sizing:border-box;
    background-repeat: no-repeat;
    vertical-align: middle;
    font-family: 'Conv_pfbeausanspro-light';

}

.logform .form textarea {
    padding: 10px 12px 10px 12px;
    margin:5px auto 19px auto;
    height:66px;
}

.logform .form input[type=text]:focus, .logform .form input[type=password]:focus, .logform .form textarea:focus   {
      color:#919191;
      border-color:#bdc9d3;
}
.logform .form input[type=text]:focus::-webkit-input-placeholder, .logform .form input[type=password]:focus::-webkit-input-placeholder  {
     color:#919191;

}

.logform .form input[type=text]::-webkit-input-placeholder, .logform .form input[type=password]::-webkit-input-placeholder {color:#b8c3c9;   opacity:1;}
.logform .form input[type=text]::-moz-placeholder, .logform .form input[type=password]::-moz-placeholder           {color:#b8c3c9;   opacity:1;}/* Firefox 19+ */
.logform .form input[type=text]:-moz-placeholder, .logform .form input[type=password]:-moz-placeholder            {color:#b8c3c9;   opacity:1;}/* Firefox 18- */
.logform .form input[type=text]:-ms-input-placeholder, .logform .form input[type=password]:-ms-input-placeholder      {color:#b8c3c9;   opacity:1;}
.logform .form input[type=submit] {
    border:1px solid #597533;
    display:inline-block;
    border-radius: 12px;
    color: #597533;
    text-transform: uppercase;
    display: block;
    font-size: 14px;
    padding:2px 16px 2px 16px;
    margin: 13px auto 0 auto;
    font-family: 'pf_beausans_probold';
    background: transparent; /* Old browsers */
}
    .logform .form input[type=submit]:focus   {
      
    }
    .logform .form input[type=submit]:hover {
        background: #597533;
        color:#fff;
 
    }
    .logform .form .line {
        overflow:hidden;
    }
    .logform .form  .sect {
        float:left;
    }
    .logform .form  .sect.right {
        float:right;
    }
    .logform .form  .sect input[type=text] {
        width:132px;
    }
    .logform .form .label {
    display:block;    
    font-family: 'Conv_pfbeausanspro-light';
     font-size:14px;   
     color:rgba(0,0,0,0.9);   
    }
    
   
.checkbox {
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 17px;
  height: 17px;
}

.checkbox + label {
  color:rgba(0,0,0,.9);  
  cursor: pointer;
}

.checkbox:not(checked) {
  position: absolute;
  opacity: 0;
}
.checkbox:not(checked) + label {
  position: relative; 
  padding: 0 0px  0px 25px; 
}
.checkbox:not(checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  width: 18px;
  height: 14px;
  background-repeat:no-repeat;
  background-image:url(img/unchecked.png);
}

.checkbox:checked + label:before {
    background-repeat:no-repeat;
      background-image:url(img/checked.png);


}
.option-group {
    float:left;
    margin:16px 27px 10px 0;
}

.news_left {
    margin-left:81px;
    float:left;
    width:575px;
}
.otherside {
    margin-left:77px;
    float:left;
    width:363px;
}
.otherside .formcol, .otherside .newscol, .otherside .logform .form {
    width:auto;
    float:none;
}
.otherside .newscol {
    padding:37px 21px 14px 21px;
    margin:11px 0px 28px 0px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #e5e5e5;
}
.otherside .newscol .item .date {
    margin:0px 0px 3px 0px;
    font-size:12px;
}
.news_left .new_date  {
    display:block;
    margin-top:10px;
    margin-bottom:11px;
}
.news_left h1 {
    line-height: 1.3em;
    margin-bottom:18px;
    padding-bottom:14px;
    border-bottom:2px solid #be0101;
    font-size:24px;
}
.news_left p {
        line-height: 1.2em;
        color:rgba(0,0,0,.9);
        margin-bottom:30px;
        font-size:16px;
        font-family: 'Conv_pfbeausanspro-light';

}
.news_pagin {
    border-top:2px solid #be0101;
}
.news_pagin .bull  {
    width:210px;
    position:relative;
    margin:23px 0px 0px 0px;
    font-size:18px;
}
.news_pagin .bull p {
    font-size:18px;
    margin-bottom:0px;     
    z-index:1;
    position:relative;
}
.news_pagin .bull p a {
    display:block;
    padding:0px 30px;  
    color:rgba(0,0,0,.9);
}
.news_pagin .bull p a:hover {
    text-decoration: underline;
}
.news_pagin .bull.left {
    float:left;
}
.news_pagin .bull.right {
    float:right;
}
.news_pagin .bull:before {
    content:'';
    top:10px;
    position:absolute;
    background: url(img/news_arrows.png) no-repeat;
    height: 18px;
    width: 18px;
}
.news_pagin .bull.left a {
    padding-right:0px;
}
.news_pagin .bull.right a {
    text-align:right;
    padding-left:0px;
}
.news_pagin .bull.left:before {
    background-position: -0px 0;
    left:-0px;
}
.news_pagin .bull.right:before {
    background-position: 0px -18px;
    right:-5px;
}
.close_nform {
    cursor:pointer;
    position:absolute;
    top:9px;
    right:12px;
    display:block;
    width:10px;
    height:10px;
    background: url(img/close_nform.png) no-repeat;
    
}