/*========================== reset.css ==========================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, time {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a, input, select, textarea, button {
    outline: none;
}

img, input {
	border: none;
	height: auto;
	max-width: 100%;
}

input[type=submit] {
    cursor: pointer;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*========================== END reset.css ==========================*/

@font-face {
  font-family: 'PTSans-Narrow';
  src: url('../fonts/PTSans-Narrow/PTSans-Narrow.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/PTSans-Narrow/PTSans-Narrow.woff') format('woff'),
       url('../fonts/PTSans-Narrow/PTSans-Narrow.ttf')  format('truetype'), 
       url('../fonts/PTSans-Narrow/PTSans-Narrow.svg#PTSans-Narrow') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'pt_sans_narrowregular';
    src: url('../fonts/PTSans_narrow_regular/pt_sans-narrow-web-regular-webfont.eot');
    src: url('../fonts/PTSans_narrow_regular/pt_sans-narrow-web-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PTSans_narrow_regular/pt_sans-narrow-web-regular-webfont.woff2') format('woff2'),
        url('../fonts/PTSans_narrow_regular/pt_sans-narrow-web-regular-webfont.woff') format('woff'),
        url('../fonts/PTSans_narrow_regular/pt_sans-narrow-web-regular-webfont.ttf') format('truetype'),
        url('../fonts/PTSans_narrow_regular/pt_sans-narrow-web-regular-webfont.svg#pt_sans_narrowregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pt_sansbold';
    src: url('../fonts/PTSans_bold/pt_sans-web-bold-webfont.eot');
    src: url('../fonts/PTSans_bold/pt_sans-web-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PTSans_bold/pt_sans-web-bold-webfont.woff') format('woff'),
        url('../fonts/PTSans_bold/pt_sans-web-bold-webfont.ttf') format('truetype'),
        url('../fonts/PTSans_bold/pt_sans-web-bold-webfont.svg#pt_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pt_sans_narrowbold';
    src: url('../fonts/pt_sans_narrow_bold/pt_sans-narrow-web-bold-webfont.eot');
    src: url('../fonts/pt_sans_narrow_bold/pt_sans-narrow-web-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/pt_sans_narrow_bold/pt_sans-narrow-web-bold-webfont.woff2') format('woff2'),
        url('../fonts/pt_sans_narrow_bold/pt_sans-narrow-web-bold-webfont.woff') format('woff'),
        url('../fonts/pt_sans_narrow_bold/pt_sans-narrow-web-bold-webfont.ttf') format('truetype'),
        url('../fonts/pt_sans_narrow_bold/pt_sans-narrow-web-bold-webfont.svg#pt_sans_narrowbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*========================== Общие классы ==========================*/

.clearfix {
    display:inline-block;
}

.clearfix {
    zoom:1;
    display:block;
}

.clearfix:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden
}

.left {float: left;}
.right {float: right;}

.center {
	margin-left: auto;
	margin-right: auto;
    width: 1110px;
}

.btn, .btn_2 {
    background-color: #424e5c;
    border-radius: 6px;
    border-bottom: 3px solid #29303a;
    color: #ffffff;
    display: inline-block;
    font-size: 18px;
    height: 40px;
    line-height: 37px;
    -wibkit-transition: .3s;
    transition: .3s;
}
.btn:hover, .btn_2:hover {
     background-color:#428ca5;
     border-bottom-color:#286478;  
}

.btn:hover .pic, .btn_2:hover .pic {
/*    background-position: -38px -5px;*/
}
.btn_2 {
    border-bottom-color: #29303a;
    display: block;
    height: 43px;
    line-height: 40px;
    margin: 0 auto;
    text-align: center;
    width: 255px;
}

.btn_2 img, .btn_2 .pic {
    display: inline;
    margin: 0 0 0 5px;
    vertical-align: middle;
    position: relative;
    top:-0.1rem;
    left:9px;
    
    
}

.btn.he_1 .pic, .btn_2.he_1 .pic  {
      top:-0.15rem;
}


 .btn_2.he_1, .comanda_main  .btn_2.he_1 {
    line-height: 38px;
    height:40px;
}


.btn_2.he_1 img.prev, .btn_2.he_1 .pic.prev {
    left:-12px;

}
.blue_btn {
    background-color: #428ca5;
    border-bottom: 3px solid #286478;
    border-radius: 6px;
    color: #ffffff;
    display: block;
    font-family: 'pt_sans_narrowregular';
    font-size: 18px;
    height: 39px;
    line-height: 36px;
    text-align: center;
}

/*========================== END ==========================*/

body {
    font-family: 'pt_sans_narrowregular';
    font-size: 14px;
}

input[type=submit] {
    font-family: 'pt_sans_narrowregular';
}

a {
    color: #424e5c;
    text-decoration: none;
}

h2, .title_2 {
    font-family: 'pt_sans_narrowregular';
    font-size: 34px;
}

h3, .title_3 {
    font-family: 'pt_sans_narrowregular';
    font-size: 26px;
}
h5, .title_5 {
    font-family: 'PTSans-Narrow';
    font-size:18px;
}

.wrapper {
    margin: 0 auto;
    max-width: 1900px;
    min-width: 1200px;
}

.header {
    background-color: #424e5c;
    color: #ffffff;
    padding: 0 0 7px 0;
}

.header .center {
    overflow: hidden;
}

.logo {
    padding: 11px 0 7px 0;
}

.slogan {
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 2.3px;
    padding: 27px 0 0 0;
    text-align: center;
    text-transform: uppercase;
    width: 570px;
}

.header_contacts {
    padding: 28px 0 0 0;
    position: relative;
}

.header_contacts:after {
    background-color: rgba(179, 179, 189, 0.5);
    content: '';
    height: 104px;
    left: -18px;
    position: absolute;
    top: 22px;
    width: 1px;
}

.phone {
    background: url('../img/phone_ico.png') no-repeat left center;
    color: #fefeff;
    display: block;
    font-size: 20px;
    padding: 0 0 0 20px;
}

.mail {
    background: url('../img/mail_ico.png') no-repeat left center;
    color: #fefeff;
    display: block;
    font-size: 14px;
    line-height: 34px;
    padding: 0 0 0 25px;
    text-decoration: underline;
}

.enter_reg {
    background-color: #adb3bd;
    border-radius: 6px;
    display: table;
    margin: 2px 0 0 0;
    padding: 3px 0;
    width: 255px;
}

.enter_reg a {
    color: #535266;
    text-decoration: underline;
}
.enter_reg a:hover {
    text-decoration: none;
}
.enter_reg > div {
    display: table-cell;
    height: 29px;
    text-align: center;
    vertical-align: middle;
    width: 50%;
}

.enter_reg > div:first-child {
    border-right: 1px solid #d6d9de;
}

.enter_reg > div:nth-child(2) {
    border-left: 1px solid #848d9c;
}

.reg {
    background: url('../img/ico_reg.png') no-repeat left center;
    padding: 0 0 0 19px;
}

.enter {
    background: url(../img/enter_ico.png) no-repeat left center;
    padding: 0 0 0 15px;
}

.header .soc_btn {
    position: absolute;
    right: 2px;
    top: 28px;
}

.soc_btn {
    overflow: hidden;
}

.soc_btn > li {
    float: left;
}

.soc_btn > li + li {
    margin-left: 6px;
}
.soc_btn > li span, .soc_btn > li span  a {
    background-color:#adb3bd;
    background-image:url(../img/socs_sprite.png);
    background-repeat: no-repeat;
    border-radius: 50%;
    display: block;
    width: 24px;
    height: 24px;
    text-align: center;
}

.soc_btn > li span  a,  .btn .pic i, .btn_2 .pic i {
    text-align: center;
    transition:         opacity 0.29s ease-in-out;
    -moz-transition:    opacity 0.29s ease-in-out;
    -webkit-transition: opacity 0.29s ease-in-out;
    -o-transition:      opacity 0.29s ease-in-out;
}
.soc_btn > li span:hover  a, .btn:hover .pic i, .btn_2:hover .pic i {
    opacity:0;
}
.soc_btn > li span:hover, .soc_btn > li span:hover a {
    background-color:#428ca5;
}


.soc_btn > li span.ok {
     background-position: 3px -25px;
}
.soc_btn > li span.ok a {
     background-position: -32px 0;
    }

.soc_btn > li span.fb  {
    background-position: -13px 0;
}
.soc_btn > li span.fb a {
     background-position: 4px 0;
}

.soc_btn > li span.vk  {
    background-position: -55px 2px;
}
.soc_btn > li span.vk a {
    background-position: -21px -23px;
}

.quote {
    background: url('../img/ico_quote.png') no-repeat left 6px;
    border-top: 1px dotted #7b818d;
    clear: both;
    padding: 3px 0 0 42px;
    width: 825px;
}

.quote_txt {
    font-size: 16px;
    line-height: 24px;
}

.quote_author {
    color: #adb3bd;
    text-align: right;
}

.top_menu {
    background: #eaeaf4;
    height: 40px;
}

.top_menu ul {
    overflow: hidden;
    margin: 0 0 0 22px;
}

.top_menu li {
    float: left;
}

.top_menu li + li {
    margin-left: 169px;
}

.top_menu a {
    color: #29303a;
    display: block;
    font-size: 17px;
    line-height: 35px;
}

.top_menu a:hover {
    color: #075e82;
    text-decoration: underline;
}

.menu_2 {
    background-color: #29303a;
    height: 60px;
    line-height: 60px;
}

.menu_dropdown > li {
    float: left;
    position: relative;
}

.ico_dropdown {
    background: url('../img/ico_3.png') no-repeat;
    display: inline-block;
    height: 7px;
    position: relative;
    right: -11px;
    top: -4px;
    width: 7px;
}

.menu_dropdown > li:first-child {
    margin-left: 31px;
}

.menu_dropdown > li + li {
    margin-left: 70px;
}

.menu_dropdown > li:after {
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 11px solid #428ca5;
    bottom: -15px;
    content: "";
    display: none;
    height: 0;
    left: 50%;
    margin-left: -18px;
    position: absolute;
    width: 0;
    z-index: 100;
}

.menu_dropdown > li > ol {
    background: rgba(255, 255, 255, .9);
    border: 1px solid #dbd9d9;
    box-shadow: 0 4px 27px rgba(0, 0, 0, 0.48);
    display: none;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    z-index: 98;
    transition: all .3s;
}

.menu_dropdown > li:hover ol {
    display: block;
    opacity: 1;
}

.menu_dropdown .ico_menu {
    background: url('../img/icons_spr.png') no-repeat;
    display: inline-block;
    left: -10px;
    position: relative;
}

.menu_dropdown > li .ico_menu_1 {
    background-position: -71px -37px;
    height: 22px;
    left: -12px;
    top: 5px;
    width: 27px;    
}

.menu_dropdown > li:hover:after {
    display: block;
}

.menu_dropdown > li:hover .ico_menu_1 {
    background-position: -71px -5px;
}

.menu_dropdown .ico_menu_2 {
    background-position: -39px -37px;
    height: 19px;
    left: -15px;
    top: 5px;
    width: 22px;
}

.menu_dropdown > li:hover .ico_menu_2 {
    background-position: -6px -37px;
}

.menu_dropdown .ico_menu_3 {
    background-position: -28px -5px; 
    height: 19px;
    width: 14px;
}

.menu_dropdown > li:hover .ico_menu_3 {
    background-position: -5px -5px;     
}

.menu_dropdown > li > a {
    color: #ffffff;
    display: block;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    transition: all .3s;
    width: 301px;
}

.menu_dropdown > li:hover > a {
    background-color: #428ca5;
}

.menu_dropdown > li > ol {
    border-top: 4px solid #428ca5;
    padding: 15px 0 20px 0;
    width: 1110px;
}

.menu_dropdown > li:nth-child(1) > ol {
    left: 0;    
}

.menu_dropdown > li:nth-child(2) > ol {
    left: -402px;    
}

.menu_dropdown > li:nth-child(3) > ol {
    left: -809px;  
}

.menu_dropdown > li > ol > li > ul > li a {
    color: #333333;
    display: block;
    font-size: 16px;
    line-height: 17px;
}

.menu_dropdown > li > ol > li > ul > li a:hover {
    color: #428ca5;
    text-decoration: underline;
}

.menu_dropdown > li > ol > li > ul {
    float: left;
    margin: 0 0 0 20px;
    width: 280px;
}

.menu_dropdown > li > ol > li > ul > li {
    background: url('../img/circle_menu.png') no-repeat left 6px;
    padding: 0 0 0 20px;
}

.menu_dropdown > li > ol > li > ul > li + li {
    margin-top: 5px;
}

.menu_dropdown > li > ol > li > ul + ul {
    margin-left: 78px;
}

.slider_1 {
    background: url('../img/slider_1_bg.jpg') no-repeat;
    height: 414px;
    padding: 26px 0 0 0;
}

#slider_1 {
    box-shadow: 0 0 24px 0.00px rgba(0, 0, 0, 0.39);
    display: none;
    margin: 0 auto;
    position: relative;
    width: 1110px;
}

#slider_2 {display: none;}

#slider_1 .slick-arrow, #slider_2 .slick-arrow {
    background: url('../img/arrows.png') no-repeat;
    border: none;
    cursor: pointer;
    height: 85px;
    margin: -43px 0 0 0;
    padding: 0;
    position: absolute;
    top: 50%;
    text-indent: -9999px;
    width: 29px;
    z-index: 10;
}

#slider_1 .slick-prev, #slider_2 .slick-prev  {
    background-position: 0 0;
    left: -59px;
}

#slider_1 .slick-prev:hover, #slider_2 .slick-prev:hover {
    background-position: 0 -85px;
}

#slider_1 .slick-next, #slider_2 .slick-next {
    background-position: -29px 0;
    right: -59px;
}

#slider_1 .slick-next:hover, #slider_2 .slick-next:hover {
    background-position: -29px -85px;    
}

#slider_1 .slick-slide {
    position: relative;
}

.slider_title {
    color: #29303a;
    font-family: 'pt_sansbold';
    font-size: 30px;
    margin: 0 0 14px 0;
    text-transform: uppercase;
}

.slider_title span {
    color: #535266;
    display: block;
    font-size: 82px;
}

.slider_content {
    font-size: 15px;
    position: absolute;
    right: 87px;
    top: 49px;
    width: 375px;
}

.slider_descript {
    line-height: 20px;    
}

.slider_content .btn {
    display: block;
    margin: 26px 0 0 2px;
    text-align: center;
    width: 188px;
}

.slider_content .btn img, .slider_content .btn .pic {
    display: inline;
    position: relative;
    right: -15px;
    top: -3px;
    vertical-align: middle;
}
.slider_content .btn .pic {
    display:inline-block;  
}
 .btn .pic, .btn_2 .pic, .btn .pic i, .btn_2 .pic i {
    display:inline-block;    
    width:23px;
    height:23px;
    background-repeat: no-repeat;
    background-image:url('../img/btn_arrow_sprite.png');
    background-position: -5px -5px;    
  }
  .btn .pic i, .btn_2 .pic i {
    opacity:0;    
  }
  .btn .pic i {
    background-position: -38px -7px;
  }
  .btn_2 .pic i {
       background-position: -38px -8px;
  }
.block_1 {
    background: #ffffff;
    background: -moz-linear-gradient(left,  #ffffff 0%, #ffffff 50%, #e1e1e1 51%, #e1e1e1 100%);
    background: -webkit-linear-gradient(left,  #ffffff 0%,#ffffff 50%,#e1e1e1 51%,#e1e1e1 100%);
    background: linear-gradient(to right,  #ffffff 0%,#ffffff 50%,#e1e1e1 51%,#e1e1e1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1e1e1',GradientType=1 );
}

.block_1_1 {
    background: #fff;
    overflow: hidden;
    padding: 10px 0 7px 0;
    width: 821px;
}

.popular {
    position: relative;
}

.popular:after {
    background-color: #d7d7d7;
    bottom: 0;
    content: "";
    height: 100%;
    position: absolute;
    right: 14px;
    top: 8px;
    width: 1px;
}

.form_search input[type=text] {
    background-color: #ffffff;
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    box-shadow: 0 1px 7px 0.00px rgba(0, 0, 0, 0.14);
    color: #999999;
    float: left;
    font-family: 'pt_sans_narrowregular';
    font-size: 15px;
    height: 41px;
    padding: 0 0 0 20px;
    width: 661px;
}

.form_search input[type=submit] {
    background-image: url('../img/ico_search.png');
    background-repeat: no-repeat;
    background-position: 49px center;
    border-radius: 0;
    height: 41px;
    padding: 0 0 0 38px;
    width: 160px;
}

.popular .title_2, .new .title_2 {
    color: #333333;
}

.popular .title_2 {
    margin: 0 0 0 6px;
}

.new {
    width: 385px;
}

.new .title_2 {
    margin: 0 0 20px 0;
    text-align: center;
}

.new .title_2 a {
    color: #333333;
}

.new_people {
    overflow: hidden;
}

.new_people > li {
    color: #333333;
    float: left;
    text-align: center;
    width: 95px;
}

.new_people > li img {
    border-radius: 50%;
    display: block;
    height: 82px;
    margin: 0 auto 11px;
    width: 82px;
}

.new_people > li a {
    color: #333333;
}

.new_people > li a img {
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    
}

.new_people > li a:hover img {
    opacity: .7;
}

.popular_d {
    list-style-type: decimal;
    margin: 6px 0 0 21px;
}

.popular_d > li {
    color: #428ca5;
    float: left;
    font-size: 18px;
    line-height: 28px;
}

.popular_d > li > a {
    color:#428ca5;
}

.popular_d > li:nth-child(2n+1) {
    clear: both;
    width: 210px;
}

.popular_d > li:nth-child(even) {
    width: 195px;
}

.block_1 .center {
    overflow: hidden;
}

.form_search {
    margin: 0 0 16px 0;
}

.wrap_slider_2 .title_2, .wrap_slider_2 .title_2 a {
    color: #ffffff;
}

.wrap_slider_2 .title_2 img {
    margin: 0 17px 0 0;
    position: relative;
    top: -4px;
}

.title_right, .title_left {
    height: 58px;
    line-height: 58px;
    text-align: center;
}

.title_left {
    margin: 0 0 21px 0;
}

.wrap_slider_2 {
    background: url('../img/wrap_for_slider_2_bg.jpg') no-repeat center top;
    height: 696px;
}

.item_right_2 {
    width: 270px;
}
.frds_btn .btn {
    margin-bottom:3px;
}
.foto_item {
    overflow: hidden;
}

.foto_item span {
    height: 90px;
    width: 90px;
    overflow:hidden;
    float:left;
}

.foto_item img {
    display: block;
    float: left;
    height: 90px;
    width: 90px;
}

.foto_item span img, .gal_2 li img  {
    -webkit-transform:scale(1);
    transform:scale(1);
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.foto_item span:hover  img {
    -webkit-transform:scale(1.3);
    transform:scale(1.3);
}
.gal_2 li:hover img {
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
}

.wrap_slider_2 .center {
    overflow: hidden;
}

.slider_2_left {
    width: 840px;
}

.slider_2_ul {
    overflow: hidden;
}

.slider_2_ul > li {
    background-repeat: no-repeat;
    background-color: #ffffff;
    float: left;
    height: 232px;
    transition: all .5s;
    width: 161px;
    position:relative;
}
.slider_2_ul > li:after {
    content:'';
    opacity:0;
    transition: all 0.6s;
    position:absolute;
    left:0px;
    top:0px;
    width: 100%;
    height:100%;
    
}
.slider_2_ul > li:hover:after {
    opacity:1;
}

.slider_2_img_wrap {
    height: 129px;
}

.slider_2_ul:first-child {
    margin: 0 0 63px 0;
}

.slider_2_ul > li img {
    display: block;
    height: 129px;
    width: 100%;
}

.slider_2_ul > li + li {
    margin-left: 30px;
}

.slider_2_descript {
    color: #535266;
    display: block;
    font-family: 'pt_sans_narrowbold';
    line-height: 16px;
    padding: 11px 0 0 8px;
    position:relative;
    z-index: 1;
}

.slider_2_title {
    color: #333333;
    font-size: 16px;
    text-transform: uppercase;
}

.slider_2_header {
    height: 46px;
    line-height: 46px;
    overflow: hidden;
    padding: 0 0 0 9px;
    position: relative;
    z-index: 1;
}

.slider_2_date {
    bottom: 0;
    color: #333333;
    position: absolute;
    right: 0;
    top: -4px;
}

.slider_2_date span {
    display: block;
}

.first_date {
    font-family: 'pt_sans_narrowbold';
    font-size: 22px;
    padding: 0 21px 0 0;
}

.last_date {
    bottom: -13px;
    font-family: 'pt_sans_narrowbold';
    font-size: 14px;
    position: absolute;
    right: 7px;
}

.line_date {
    background: rgba(51, 51, 51, 0.5);
    border: none;
    color: rgba(51, 51, 51, 0.5);
    height: 1px;
    margin: 0;
    position: absolute;
    right: 5px;
    top: 30px;
    -ms-transform: rotate(-37deg);
    -webkit-transform: rotate(-37deg);
    -moz-transform: rotate(-37deg);
    -o-transform: rotate(-37deg);
    transform: rotate(-37deg);
    width: 30px;
}

.dis_n {
    display: none;
}

.title_white {
    color: #ffffff;
    display: block;
    font-family: 'pt_sans_narrowbold';
    line-height: 16px;
    padding: 6px 0 0 10px;
}

.p_1 {
    position:relative;
    z-index: 1;
    color: #cccccc;
    line-height: 16px;
    padding: 10px 0 0 10px;
}

.slider_2_descript .btn {
    text-indent: -5px;
    background-color: #428ca5;
    border-bottom-color: #286478;
    display: none;
    font-family: 'pt_sans_narrowregular';
    text-align: center;
    width: 136px;
    font-size:16px;
    padding:0px 0px 0px 0px;
    border-bottom: 2px solid #29303a;
    position:relative;
}

.slider_2_descript .btn img, .slider_2_descript .btn .pic {
    display: inline;
    padding: 0 0 0 10px;
    margin:0px 0px 0px 9px;
    position: absolute;
    top: 8px;
    vertical-align: middle;
}
.slider_2_descript .btn .pic i {
    top:auto;
    position: static;
    margin:0px;
}
/*.slider_2_descript .btn .pic {
    display:inline-block;
    background-position: -0px -38px;
}*/
/*.slider_2_descript .btn .pic {
    display: inline-block;
    background-position: -38px -5px;
}*/
.slider_2_descript .btn .pic  i {
    opacity: 0;
}

.slider_2_ul > li.slider_2_img_1:after {
    background-image: url('../images/slider_2_img_1.png');
    -webkit-background-size: cover;
    background-size: cover;
}

.slider_2_ul > li.slider_2_img_2:after {
    background-image: url('../images/slider_2_img_2.jpg');
    -webkit-background-size: cover;
    background-size: cover;
}

.slider_2_ul > li.slider_2_img_3:after {
    background-image: url('../images/slider_2_img_3.jpg');
    -webkit-background-size: cover;
    background-size: cover;
}

.slider_2_ul > li.slider_2_img_4:after {
    background-image: url('../images/slider_2_img_4.jpg');
    -webkit-background-size: cover;
    background-size: cover;
}

.slider_2_ul > li:hover .slider_2_img, .slider_2_ul > li:hover .d_n {
    display: none;
}

.slider_2_ul > li:hover .dis_n, .slider_2_ul > li:hover .btn {
    display: block;
    top:-9px;
}

.slider_2_ul > li:hover .slider_2_title {
    color: #76c3d4;
}

.slider_2_ul > li:hover .first_date, .slider_2_ul > li:hover .last_date {
    color: #ffffff;
}

.slider_2_ul > li:hover .line_date {
    background: rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.5);
}

.wrap_slider_2 .btn_2 {
    clear: both;
    margin-top: 20px;
}

.block_2 {
    background: url('../images/block_2_bg.png') no-repeat;
    display: table;
    height: 278px;
    padding: 12px 10px;
}

.block_2_item {
    background-color: rgba(41, 48, 58, 0.6);
    color: #ffffff;
    display: table-cell;
    height: 253px;
    text-align: center;
    vertical-align: middle;
    width: 250px;
}

#slider_2 .slick-arrow {
    background: url('../img/arrows2.png') no-repeat;
    height: 59px;
    left: auto;
    margin: 0;
    right: 52px;
    top: 0;
    width: 20px;
}

#slider_2 .slick-next {
    background-position: -20px 0;
    right: 52px;
    top: 88px;
}

#slider_2 .slick-next:hover {
    background-position: -20px -59px;    
    top: 88px;
}

#slider_2 .slick-prev {
    background-position: 0 0;
    top: 382px;
}

#slider_2 .slick-prev:hover {
    background-position: 0 -59px;
}

.style_1 {
    text-transform: uppercase;
}

.style_1 span {
    font-size: 24px;
}

.location {
    background: url('../img/location_bg.jpg') no-repeat center top;
    height: 602px;
}

.location .center {
    overflow: hidden;
}

.location .title_2 {
    color: #333333;
    margin: 0 0 21px 0;
    text-align: center;
}

.location .title_2 a {
    color: #333333;
}

.location .title_2 img, .otchet .title_2 img, .block_news .title_2 img {
    left: -15px;
    position: relative;
    vertical-align: top;
}

.loc_wrap {
    padding: 0 15px 0 0;
}

.location_item {
    width: 840px;
}

.location {
    padding: 20px 0 0 0;
}

.loc_item_2 {
    height: 441px;
    position: relative;
    width: 350px;
}

.loc_item {
    height: 204px;
    position: relative;
    width: 445px;
}

.loc_item:first-child {
    margin: 0 0 32px 0;
}

.loc_item img {
    bottom: 0;
    height: 204px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 445px;
    z-index: 5;
}

.loc_item img:hover {
    opacity: 0;
}

.location_descript {
    background-color: rgba(41, 48, 58, 0.78);
    box-shadow: 0 0 18px 0.00px rgba(0, 0, 0, 0.75);    
    bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    left: 0;
    opacity: 0;
    padding: 0 10px;
    position: absolute;
    right: 0;
    text-align: center;
    transition: all .3s;
    top: 0;
    z-index: 10;
}

.loc_item .location_descript:hover, .loc_item_2 .location_descript:hover {
    opacity: 1;
}

.location_title {
    color: #76c3d4;
    font-size: 18px;
    padding: 0 0 10px 0;
    text-transform: uppercase;
}

.location_txt {
    color: #ffffff;
    font-size: 16px;
    line-height: 22px;
}

.loc_b {
    margin: 57px 0 0 0;
    width: 270px;
}
.loc_b.mar_02 {
    margin: 3px 0 60px 0;
}
.loc_b .block_2 {
    background: url('../images/bg_1.jpg') no-repeat;
    height: 438px;
    padding-top: 19px;
    padding-bottom: 19px;
}

.location_wrap {
    margin: 0 0 16px 0;
}

.content_item {
    margin: 0 0 33px 0;
    overflow: hidden;
}

.content_item img.left {
    width: 350px;
}

.content_1 {
    margin: 0 0 0 31px;
    width: 445px;
}

.date_otch {
    color: #6f6e81;
    display: block;
    font-size: 13px;
    margin: 0 0 8px 0;
}

.title_5 {
    color: #535266;
    font-family: 'pt_sans_narrowbold';
    line-height: 21px;
}

.otch_descr {
    color: #666666;
    font-size: 16px;
    line-height: 21px;
    margin: 14px 0 15px 0;
}

.read_more {
    color: #535266;
    display: block;
    font-size: 16px;
    text-decoration: underline;
}
.read_more:hover {
    text-decoration:none;
}
.otchet {
    padding: 19px 0 0 0;
    width: 840px;
}

.otchet .title_2 {
    margin: 0 0 21px 0;
    text-align: center;
}

.block_news {
    background-color: rgba(225, 225, 225, 0.3);
    padding: 19px 0 48px 0;
    width: 269px;
}

.otchet .title_2 img {
    top: 3px;
}

.block_news .title_2 {
    margin: 0 0 18px 0;
    text-align: center;
}

.block_news .title_2 img {
    top: 8px;
}

.block_news .btn_2 {
    margin: -11px auto 0;
    width: 223px;
}

.news_item {
    overflow: hidden;
    padding: 0 0 34px 22px;
}

.news_item a {
    color: #535266;
}

.news_item a:hover {
    text-decoration: underline;
}

.news_date {
    color: #6f6e81;
    display: block;
    font-size: 13px;
    margin: 0 0 10px 0;
}

.news_item .title_5 {
    margin: 0 0 7px 0;
}

.news_txt {
    color: #666666;
    font-size: 16px;
    line-height: 21px;
}

.footer {
    background-color: #1b1b27;
    clear: both;
    color: #ffffff;
    padding: 16px 0 12px 0;
}

.footer .center {
    overflow: hidden;
}

.footer a {
    color: #ffffff;
}

.footer_menu {
    margin: 0 0 37px 0;
    overflow: hidden;
}

.footer_menu > li {
    float: left;
}

.footer_menu > li + li {
    margin-left: 39px;
}

.footer_menu > li a {
    font-size: 16px;
    text-decoration: underline;
}

.footer_menu > li a:hover {
    text-decoration: none;
}

.footer_right .soc_btn {
    float: right;
}

.to_top {
    bottom: 132px;
    cursor: pointer;
    position: fixed;
    right: 1%;
}

#calendar {
    background: #fff;
    border-radius: 3px;
    box-shadow: 2px 4px 8px 0.00px rgba(0, 0, 0, 0.14);
    margin: 11px 0 12px 0;
    position: relative;
    width: 270px; 
}
.cal-context {
    float:right;
}

#calendar .cal-month-day, .block-inform #calendar .cal-month-day {
    color: #999999;
    font-size: 16px;
}

#calendar .cal-month-box a .cal-row-fluid:last-child .cal-month-day  {
    margin-top:3px;
}

#calendar .cal-month-box .cal-row-fluid:last-child .cal-month-day   {
   
    margin-bottom:5px;
}

.cal-month-box .cal-row-fluid:last-child {
    
}

.cal-year-box [class*="span"], .cal-month-box [class*="cal-cell"] {
    border-right: none;
}

.cal-year-box .row-fluid, .cal-month-box .cal-row-fluid {
    border-bottom: none;
}

.cal-day-today {
    background-color: #ffffff;
}

.cal-row-head {
    background: #29303a;
    color: #fff;
    height: 31px;
    padding:0px 0px 0px 4px;
}

.calendar_title, .month {
    background: #424e5c;
    color: #feffff;
    font-size: 20px;
    padding: 9px 0 0 0;
    text-align: center;
}

.month {
    color: #cccbd4;
    font-size: 18px;
    padding: 5px 0 8px 0;
}

#calendar .cal-year-box [class*="span"], #calendar .cal-month-box [class*="cal-cell"], .block-inform #calendar .cal-year-box [class*="span"], .block-inform #calendar .cal-month-box [class*="cal-cell"] {
    min-height: 23px;
}

#calendar .cal-month-day, .block-inform #calendar .cal-month-day {
    height: 23px;
}

#calendar span[data-cal-date], .block-inform #calendar span[data-cal-date] {
    color: #000;
    margin-top: 3px;
}

.cal-row-head [class*="cal-cell"]:first-child, .cal-row-head [class*="cal-cell"] {
    padding-top: 9px;
}

#calendar .event, .block-inform #calendar .event {
    background: #535266;
    height: 5px;
    width: 5px;
}

.events-list {
    border-radius: 50%;
    left: auto;
    right: 1px;
    top: 5px;
}

#calendar .cal-month-day:hover {
    background: #075e82;
    border-radius: 3px;
}

#calendar .cal-month-day:hover > span {
    color: #fff;
    opacity: 1;
}

#cal-slide-box {
    border-top: 0 solid #8c8c8c;
}
#cal-slide-box {
    position: relative;
}

#cal-slide-tick.tick-day3 {
    left: 35.7143%;
}

#cal-slide-tick {
    height: 9px;
    margin-left: -7px;
    position: absolute;
    top: -1px;
    width: 16px;
    z-index: 1;
}

#cal-slide-content {
    background: #000;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5) inset;
    color: #fff;
    padding: 20px;
}

#cal-slide-content {
    padding: 5px;
}

#cal-slide-content ul li {
    border-bottom: 1px dashed #fff;
    line-height: 14px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
}

#cal-slide-content a.event-item {
    color: #fff;
    font-size: 12px;
    font-weight: normal;
    line-height: 13px !important;
}

#cal-slide-tick.tick-day3 {
    left: 35.7143%;
}

#cal-slide-tick {
    background-image: url("../img/tick.png");
}
.wrap_for_bg { 
    background: #ffffff;
    background: -moz-linear-gradient(left,  #ffffff 0%, #ffffff 822px, #e1e1e1 51%, #e1e1e1 100%);
    background: -webkit-linear-gradient(left,  #ffffff 0%,#ffffff 822px,#e1e1e1 51%,#e1e1e1 100%);
    background: linear-gradient(to right,  #ffffff 0%,#ffffff 822px,#e1e1e1 51%,#e1e1e1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1e1e1',GradientType=1 );
    overflow: hidden;
}

.cal-cell1:nth-child(6), .cal-cell1:nth-child(7) {
    color: #5096ad;
}

#slider_2 .slick-slide {
    width: 190px !important;
}

#slider_2 .slick-list {
    overflow: hidden;
    width: 730px;
}

.content_main {
    background: #fff;
    padding: 14px 0 0 0;
}

.content_main:after {
     content:'';
     display:table;
     clear:both;
}

.content_main_left {
    width: 825px;
}

.content_main_right {
    width: 270px;
}

.content_main_right .blue_btn img {
    left: -10px;
    position: relative;
    top: 6px;
}

.content_main_right .btn {
    display: block;
    text-align: center;
}

.content_main_right .btn img, .content_main_right .btn .pic {
    position: relative;
    right: -8px;
    top: 8px;
}

.personal_name {
    margin: 0 0 20px 0;
    overflow: hidden;
}

.personal_name > li {
    float: left;
    height: 39px;
    line-height: 39px;
    text-align: center;
}

.personal_name > li a {
    width: 215px;
}

.personal_name > li:nth-child(2) {
    color: #333333;
    font-size: 34px;
    text-transform: capitalize;
    width: 395px;
}

.personal_name > li a img, .personal_name > li a .pic {
    position: relative;
    right: -8px;
    top: 8px;
}

.raiting_txt {
    color: #666666;
    font-size: 16px;
    font-style: italic;
}

.count_raiting {
    background: url(../img/raiting_ico.png) no-repeat;
    color: #ffffff;
    display: block;
    height: 49px;
    line-height: 54px;
    text-align: center;
    width: 52px;
}

.h_2 {
    display:block;
    color: #333333;
    font-size: 34px;
}

.slider-for {
    width: 350px;
}

.personal_account {
    margin: 0 0 19px 0;
    overflow: hidden;
}

.account_data {
    position: relative;
    width: 443px;
}

.data_1 {
    color: #666666;
    font-size: 16px;
    line-height: 21px;
    margin: -5px 0 11px 0;
}

.personal_data {
    margin: 0 0 13px 0;
}

.personal_data > li {
    color: #424e5c;    
    font-size: 16px;
}

.personal_data > li + li {
    margin-top: 11px;
}

.personal_data .phone {
    background-image: url(../img/personal_phone.png);
    color: #333333;
}

.personal_data__email {
    background: url(../img/email_personal.png) no-repeat left center; 
    padding: 0 0 0 23px;
}

.personal_skype {
    background: url(../img/skype_ico.png) no-repeat left center;
    padding: 0 0 0 23px;
}

.name_sport_ul {
    margin: 0 0 15px 0;
    overflow: hidden;
}

.name_sport {
    float: left;
    list-style-type: decimal;
    padding: 0 0 0 12px;
    width: 190px;
}

.name_sport:first-child {
    margin: 0 55px 0 0;
}

.name_sport > li {
    color: #333333;
    font-size: 16px;
}

.name_sport > li + li {
    margin-top: 3px;
}

.name_sport > li a {
    color: #333333;
}

.name_sport > li span {
    background-color: #428ca5;
    border-radius: 4px;
    color: #ffffff;
    display: inline-block;
    font-size: 12px;
    height: 14px;
    line-height: 14px;
    position: relative;
    right: -3px;
    top: -4px;
    text-align: center;
    text-transform: uppercase;
    width: 32px;
}

.slider-nav {
    clear: both;
    overflow: hidden;
}

.content_main_left .title_3 {
    color: #cccccc;
    letter-spacing: 32px;
    line-height: 34px;
    text-align: center;
    text-transform: uppercase;
}

.descript_1 {
    color: #666666;
    font-size: 16px;
    line-height: 21px;
    margin: 5px 0 0 0;
}

.raiting {
    position: absolute;
    right: 80px;
    top: 77px;
    width: 130px;
}

.count_raiting {
    position: absolute;
    right: 13px;
    top: -18px;
}

.tabs {
    
    border-radius: 3px;
    margin: 16px 0 41px 0;
    overflow: hidden;
}

.review_box .tabs {
    margin-top:10px;
    margin-bottom:0px;
}
.tabs_main .inner_tabs {
    box-shadow: 0px 1px 7px 0px rgba(0,0,0,.14);
}
.tabs_main .inner_tabs .comanda_main .row {
   border-bottom: 1px dotted #b3b3bd;
}
.tabs_main .inner_tabs  .comanda_main:last-child  .row{
    border-bottom:0px;
}
.tabs > li {
    background-color: #428ca5;
    background-repeat: no-repeat;
    border-bottom: 3px solid #3a4653;
    color: #ffffff;
    float: left;
    height: 39px;
    line-height: 32px;
    position: relative;
    text-align: center;
    width: 137.5px;
}

.tabs > li:before {
    background: url(../img/tabs_right.png) no-repeat;
    bottom: 0;
    content: "";
    position: absolute;
    right: -25px;
    top: 0;
    width: 25px;
    z-index: 10;
}

.tabs > li:last-child:before {
    display: none;
}

.tabs > li:hover, .tabs > li.active {
    background-color: #424e5c;
}

.tabs > li:hover:before, .tabs > li.active:before {
    background-position: 0 -36px;    
}

.tabs > li a {
    color: #fff;
    display: block;
    font-size: 16px;
}

 .tabs > li.advent {
    background-image: url('../img/tabs_ico_1.png');
    background-position: 19px 10px;
    padding: 0 0 0 32px;
}

.tabs > li.loc {
    background-image: url('../img/tabs_ico_2.png');
    background-position: 40px 8px;
    padding: 0 0 0 33px;
}

.tabs > li.gall {
    background-image: url('../img/tabs_ico_3.png');
    background-position: 24px 9px;
    padding: 0 0 0 39px;
}

.tabs > li.video {
    background-image: url('../img/tabs_ico_4.png');
    background-position: 39px 8px;
    padding: 0 0 0 32px;
}

.tabs > li.revs {
    background-image: url('../img/tabs_ico_5.png');
    background-position: 37px 10px;
    padding: 0 0 0 32px;
}

.tabs > li.teams {
    background-image: url('../img/tabs_ico_6.png');
    background-position: 31px 10px;
    padding: 0 0 0 38px;
}

.tabs > li.dates {
    background-image: url('../img/tabs_ico_7.png');
    background-position: 31px 9px;
    padding: 0 0 0 18px;
}
.tabs > li.descript {
    background-image: url('../img/tabs_ico_8.png');
    background-position: 31px 9px;
    padding: 0 0 0 27px;
}
.tabs > li.forum {
    background-image: url('../img/tabs_ico_9.png');
    background-position: 36px 9px;
    padding: 0 0 0 33px;
}
.comanda_main {
    border-bottom: 1px dotted #b3b3bd;
    margin: 0 20px 19px 19px;
    padding: 0 0 19px 0;
    overflow: hidden;
}

.comanda_main .btn_2 {
    height: 36px;
    line-height: 33px;
    margin: 53px 0 0 0;
    width: 160px;
}

.review_box .comanda_main {
    padding:0px 0px 4px 0px;
}
.review_box .comanda_main {
    border-bottom:0px;
}
.comanda_title {
    color: #424e5c;
    display: block;
    font-family: 'pt_sans_narrowbold';
    font-size: 18px;
    line-height: 21px;
}
.review_box .comanda_title {
    margin:0px 0px 4px 0px;
}

.sport_name {
    color: #333333;
    display: block;
    font-size: 16px;
    line-height: 28px;
    margin: 5px 0 7px 0;
}

.comanda_count {
    color: #666666;
    display: block;
    font-size: 16px;
    font-style: italic;
}

.comanda_count span {
    color: #333333;
    font-style: normal;
}

.comanda_main .foto_item {
    width: 574px;
}

.comanda_main .foto_item span, .comanda_main .foto_item img {
    height: 83px;
    width: 82px;
}

.comanda_data {
    width: 210px;
}

.accbox {
    
    font-size:16px;
}
.accbox .h_2 {
 margin:8px 0px 20px 0px;   
 text-align:center;   
}
.accbox .desc {
    float:left;
}
.accbox .info {
    width:255px;
    float:left;
    margin:0px 0px 0px 30px
}
.accbox .info .row {
    
    overflow:hidden;
}

.accbox .info .row.stm_1 {
    border-bottom:1px dotted #d9d9de;
    margin:0px 0px 15px 0px;
}
.accbox .info  .list {
    float:left;
    margin:0px 0px 10px 0px;
}
.accbox .info  .list li {
    color:#333;
    margin:0px 0px 5px 46px;
}
.accbox .info  .list li span {
    display:inline-block;
    margin-right:3px;
}
.accbox .bprice .num {
    float:left;
    margin:0px 23px 19px 47px;
    color:#424e5c;
    font-size:24px;
    font-family: 'pt_sans_narrowbold';
}
.accbox .info .pres_2 {
   
   
}
.accbox .info .pres_2 .btn_2 {
    width:auto;
    display:block;
}
.accbox .info .pres_2 .btn_2 img, .accbox .info .pres_2 .btn_2 .pic {
    top:-0.2rem;
}
.accbox .info strong {
    font-weight: normal;
    float:left;
    font-style: italic;
    color:#666666;
    margin-left:3px;
    margin-top:2px;
    

}
.askq {
    display:block;
    overflow:hidden;
    margin:19px 0px 12px 0px;
}
.askq .te {
    text-align:center;
    width:200px;
    float:left;
    margin:3px 0px 5px 0px;
    font-size:16px;
    color:#424e5c;
}
.askq .te .lnk {
    text-decoration: underline;
}
.askq .icon {
    width:23px;
    height:23px;
    display:block;
    background: no-repeat url('../img/askq.png');
}
.askq .icon.one {
    float:left;
}
.askq .icon.two {
    float:right;
}

.review_box {
    
}
.review_box .pick {
    margin:1px 19px 0px 0px;
    float:left;
}

.review_box .item_pick {
    overflow:hidden;
}
.review_box .item_pick .btn_2 {
    margin:14px auto 26px auto;
}
.tabs_main .tdate {
    display: block;
    font-size: 13px;
    line-height: 21px;  
    color:#424e5c;
    margin:0px 0px 3px 0px;
}
.tabs_main .ptext {
     line-height: 1.3em;
     margin:0px 0px 8px 0px;
     font-size:16px;
     color:#666;
}
.tabs_main .shmore {
     display:block;
     text-decoration: underline;
     color:#424e5c;
     font-size:16px;
     padding:0px 0px 18px 0px;
}
.tabs_main .shmore a {
     float:left;
     padding-right:15px;
    
}
.tabs_main .shmore:after {
    content:'';
    position:relative;
    display:inline-block;
    margin:0px 0px 0px 0px;
    top:-1px;
    right:6px;
    width:8px;
    height:7px;
    background: no-repeat url('../img/arrow_r.png');
}
.tabs_main .gal_2 {
    overflow:hidden;
}
.tabs_main .gal_2 li  {
   width:65px;
   height:65px;
   overflow:hidden;
   margin:0px 10px 20px 0px;
   float:left;   
}
.gal_2 li img {
    
}
.tabs_main .gal_2 li:last-child {
   margin-right:0px;
}
.review_box h5 {
    text-align:center;
    text-transform: uppercase;
    color:#333333;
    margin:27px 0px 21px 0px;
}
.btn_2.w_01 {
    margin-top:10px;
    width:323px;
}

.under_comm  {
    margin: 30px 0px 60px 99px;
}

.content_main_right #calendar {
    margin-bottom: 7px;
    margin-top: 17px;
}
.revbar #calendar {
    margin-top:0px;
}

.content_main_right .block_news {
    padding-top: 26px;
}

.answer {
    background: url(../img/answer_ico.png) no-repeat left 1px;
    color: #424e5c;
    float: right;
    font-size: 16px;
    margin: 0 24px 0 0;
    padding: 5px 0 0 27px;
}

.content_main_right .news_item {
    padding-bottom: 15px;
}

.pagination {
    margin: 0 0 0 19px;
    overflow: hidden;
}

.pagination > li {
    color: #666666;
    float: left;
    font-size: 16px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    width: 25px;
}

.pagination > li + li {
    margin-left: 10px;
}

.pagination > li:first-child {
    font-size: 20px;
}

.pagination > li a {
    display: block;
    height: 25px;
    width: 25px;
}

.pagination > li:hover a {
    background-color: #424e5c;
    border-radius: 4px;
    color: #ffffff;
}

.pagination > li:first-child a:hover, .pagination > li:last-child a:hover {
    background: none;
}

.pagin_arrows span {
    background: url(../img/pagination_arrows.png) no-repeat;
    display: block;
    height: 14px;
    left: 4px;
    position: relative;
    top: 6px;
    width: 19px;
}

.arrows_left span {
    background-position: 0 0;
}

.pagination > li:first-child a:hover span {
    background-position: -19px 0;
}

.arrows_right span {
    background-position: 0 -14px;
}

.pagination > li:last-child a:hover span {
    background-position: -19px -14px;
}

.calendar_user {
    left: 5px;
    position: absolute;
    top: 5px;
}

.slick-list.draggable {
    padding: 0 !important;
}

.slider-nav .slick-slide {
    cursor: pointer;
}

.slider_nav_wrapper {
    overflow: hidden;
    width: 425px;
}

.minthree .slick-track {
    transform: none!important;
}

.pl_1 {
    padding-left: 60px;
}

.pl_2 {
    padding-left: 63px;
}

.header_img {
    display: block;
}

.article_item {
    color: #666666;
    font-size: 16px;
    line-height: 21px;
    overflow: hidden;
}

.article_item img {
    float: left;
    margin: 5px 30px 0 0;
}

.article_item p {
    margin: 0 0 25px 0;
}

.article_item .title_2 {
    margin: 0 0 20px 0;
    text-align: center;
}

.article_item_2 .title_2 {
    text-align: center;
}

.art_item_2_img {
    display: block;
    margin: 15px 0 5px 0;
}

.tabs_four > li {
    width: 25%;
}

.tabs_content .title_5 {
    color: #333333;
    font-family: "PTSans-Narrow";
    margin: 0 0 20px 0;
    text-align: center;
    text-transform: uppercase;
}

.descript_2 {
    color: #666666;
    font-size: 16px;
    line-height: 21px;
}

#tab2, #tab3, #tab4 {
    display: none;
}

.tab_article {
    overflow: hidden;
}

.tab_article + .tab_article {
    margin-top: 32px;
}

.tab_article img.left {
    display: block;
    margin: 0 12px 0 0;
}

.tab_article_descr {
    width: 510px;
}

.tab_article_descr .title_5 {
    color: #535266;
    font-family: 'pt_sans_narrowbold';
    margin: 0;
    text-align: left;
    text-transform: none;
}

.tab_article_descr .read_more {
    margin-top: 9px;
}

.mCustomScrollbar {
    height: 980px;
    overflow-y: scroll;
}

.mCSB_scrollTools .mCSB_draggerRail {
    border-radius: 0;
    width: 15px;
}

.mCSB_scrollTools .mCSB_draggerContainer {
    z-index: 2;
}

.mCS-dark.mCSB_scrollTools .mCSB_draggerRail {
    background-color: #eaeaf4;
}

.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background: #424e5c url(../img/scroll_ico.png) no-repeat center center;
    border-radius: 4px;
    width: 15px;
}

.tabs_content {
    padding: 0 0 20px 0;
}

@media only screen and (max-width:1000px) {
    body {
        
     transform: scale(.72); 
    -webkit-transform: scale(.72);
    -webkit-transform-origin: 0 0;
    -moz-transform: scale(.72);
    -moz-transform-origin: 0 0;
    -o-transform: scale(.72);
    -o-transform-origin: 0 0;
    -ms-transform: scale(.72);
    -ms-transform-origin: 0 0;
    }
}
@media only screen and (max-width:900px) {
    body {
        
     transform: scale(.64); 
    -webkit-transform: scale(.64);
    -webkit-transform-origin: 0 0;
    -moz-transform: scale(.64);
    -moz-transform-origin: 0 0;
    -o-transform: scale(.64);
    -o-transform-origin: 0 0;
    -ms-transform: scale(.64);
    -ms-transform-origin: 0 0;
    }
}
@media only screen and (max-width:800px) {
    body {
        
     transform: scale(.57); 
    -webkit-transform: scale(.57);
    -webkit-transform-origin: 0 0;
    -moz-transform: scale(.57);
    -moz-transform-origin: 0 0;
    -o-transform: scale(.57);
    -o-transform-origin: 0 0;
    -ms-transform: scale(.57);
    -ms-transform-origin: 0 0;
    }
}
@media only screen and (max-width:700px) {
    body {
        
     transform: scale(.5); 
    -webkit-transform: scale(.5);
    -webkit-transform-origin: 0 0;
    -moz-transform: scale(.5);
    -moz-transform-origin: 0 0;
    -o-transform: scale(.5);
    -o-transform-origin: 0 0;
    -ms-transform: scale(.5);
    -ms-transform-origin: 0 0;
    }
}
@media only screen and (max-width:625px) {
    body {
        
     transform: scale(.48); 
    -webkit-transform: scale(.48);
    -webkit-transform-origin: 0 0;
    -moz-transform: scale(.48);
    -moz-transform-origin: 0 0;
    -o-transform: scale(.48);
    -o-transform-origin: 0 0;
    -ms-transform: scale(.48);
    -ms-transform-origin: 0 0;
    }
}
@media only screen and (max-width:600px) {
    body {
        
     transform: scale(.45); 
    -webkit-transform: scale(.45);
    -webkit-transform-origin: 0 0;
    -moz-transform: scale(.45);
    -moz-transform-origin: 0 0;
    -o-transform: scale(.45);
    -o-transform-origin: 0 0;
    -ms-transform: scale(.45);
    -ms-transform-origin: 0 0;
    }
}

@media only screen and (max-width:560px) {
    body {
     transform: scale(0.41); 
    -webkit-transform: scale(0.41);
    -webkit-transform-origin: 0 0 ;
    -moz-transform: scale(0.41);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.41);
    -o-transform-origin: 0% 0;
    -ms-transform: scale(0.41);
    -ms-transform-origin: 0 0;
    }
}

@media only screen and (max-width:525px) {
    body {
     transform: scale(0.39); 
    -webkit-transform: scale(0.39);
    -webkit-transform-origin: 0 0 ;
    -moz-transform: scale(0.39);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.39);
    -o-transform-origin: 0% 0;
    -ms-transform: scale(0.39);
    -ms-transform-origin: 0 0;
    }
}
@media only screen and (max-width:480px) {
    body {
     transform: scale(0.37); 
    -webkit-transform: scale(0.37);
    -webkit-transform-origin: 0 0 ;
    -moz-transform: scale(0.37);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.37);
    -o-transform-origin: 0% 0;
    -ms-transform: scale(0.37);
    -ms-transform-origin: 0 0;
    }
}
@media only screen and (max-width:460px) {
    body {
     transform: scale(0.35); 
    -webkit-transform: scale(0.35);
    -webkit-transform-origin: 0 0 ;
    -moz-transform: scale(0.35);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.35);
    -o-transform-origin: 0% 0;
    -ms-transform: scale(0.35);
    -ms-transform-origin: 0 0;
    }
}
@media only screen and (max-width:350px) {
    body {
     transform: scale(0.32); 
    -webkit-transform: scale(0.32);
    -webkit-transform-origin: 0 0 ;
    -moz-transform: scale(0.32);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.32);
    -o-transform-origin: 0% 0;
    -ms-transform: scale(0.32);
    -ms-transform-origin: 0 0;
    }
}


