/* 641 - 1250 */

@media only screen and (max-width: 640px) {
    .p3Bl1{
        width: 100%;
    }
    .p3Bl1 .miniNav{
        display: none;
    }
    .p3Bl1 .h1norm{
        font-size: 40px;
        text-align: center;
        padding-top: 40px;
        letter-spacing: normal;
    }
    .p3Bl1 .h1bold{
        font-size: 60px;
        line-height: 1.4;
        letter-spacing: normal;
        text-align: center;
    }
    .contBlocks .owlFoto{
        display: none;
    }
    .contBlocks .owl_st3Topbl{display: block;}
    .bl1Tab,.bl2Tab,.specificContBlok{display: none;}
    #bl1Introduction,#bl2Features,#bl3Goverment{
        display: block;
    }
    .tabsNav{
        display: none;
    }
    .contBlocks{height: auto;}
    .contBlocks .textBlocks{
        float: none;
        padding-top: 50px;
        width: 100%;
        height: auto;
        padding-left: 0;
    }
    .contBlocks .textBlocks p{
        width: 100%;
    }
    .contBlocks .textBlocks .bl1 .textBlh{
        font-size: 60px;
        font-weight: 700;
        letter-spacing: 3px;
        padding-bottom: 42px;
        border-top: 10px solid #e20c18;
        padding-top: 15px;
        margin-left: 7%;
    }
    .contBlocks .textBlocks .bl1 p{
        font-size: 26px;

        font-weight: 500;
        color: #000926;
        padding: 0;
        padding-bottom: 26px;
        line-height: 1.55;
        width: 87%;
        margin: 0 7%;
    }
    .contBlocks .textBlocks .bl1 p.hidePme{display: none;}
    .contBlocks .textBlocks .bl2 .textBlh{
        font-size: 60px;
        font-weight: 700;
        letter-spacing: 3px;
        padding-bottom: 37px;
        border-top: 10px solid #e20c18;
        padding-top: 15px;
        margin-left: 7%;
        padding-left: 2px;
        margin-top: 49px;
    }
    .contBlocks .textBlocks .bl2 p{
        font-size: 26px;
        font-weight: 500;
        color: #000926;
        padding: 0;
        padding-bottom: 19px;
        line-height: 1.55;
        width: 87%;
        margin: 0 7%;
        padding-left: 2px;
    }
    .specificationBlock{
        width: 100%;
        padding-top: 52px;
    }
    .relBlForTabs{
        display: none;
    }
    .specificationBlock .textBlh{
        font-size: 60px;
        font-weight: 700;
        letter-spacing: 3px;
        padding-bottom: 36px;
        border-top: 10px solid #e20c18;
        padding-top: 15px;
        margin-left: 7%;
        padding-left: 2px;
    }
    .specificationBlock .specificContBlok{
        width: 100%;
        height: auto;
    }
    .specificationBlock .specificContBlok .bl1,.specificationBlock .specificContBlok .bl2{
        width: 87%;
        float: none;
        content: " ";
        display: table;
        margin-left: 8%;
        padding-bottom: 40px;
    }
    .specificationBlock .specificContBlok .bl2{
        display: none;
    }
    .specificationBlock .specificContBlok .bl1 table {
        width: 100%;
        margin-left: 0;
    }
    .specificationBlock .specificContBlok .bl1 td,.specificationBlock .specificContBlok .bl1 th{
        padding-bottom: 16px;
        padding-top: 10px;
    }
    .specificationBlock .specificContBlok th p.hmLess640,.specificationBlock .specificContBlok td p.hmLess640{
        display: none;
    }
    .specificationBlock .specificContBlok th p.smLess640,.specificationBlock .specificContBlok td p.smLess640{
        display: block;
    }
    .specificationBlock .specificContBlok p{
        font-size: 22px;
        float: left;
        font-weight: 400;
        line-height: 1.5;
    }
    .specificationBlock .specificContBlok p span{
        font-size: 22px;
    }
    .BannerBlock{
        border-top: 9px solid #E20C18;
    }
    .BannerBlock .BannerBlockCont{
        width: 100%;
        margin: 0 auto;
    }
    .BannerBlock .BannerBlockCont .textH{
        font-size: 57px;
        color: #000926;
        letter-spacing: 5px;
        line-height: 1.2;
        padding-bottom: 40px;
        padding-left: 5px;
        padding-top: 50px;
    }
    .BannerBlock .BannerBlockCont .desk_bl{display: block!important;}
    .BannerBlock .BannerBlockCont .show640{
        display: block;
    }
    .BannerBlock .BannerBlockCont .hide640{
        display: none!important;
    }
    .BannerBlock .ProductBlockCont{
        width: 100%;
        margin: 0 auto;
    }
    .BannerBlock .ProductBlockCont .textH{
        font-size: 60px;
        font-weight: 700;
        color: #000926;
        letter-spacing: 5px;
        line-height: 1.25;
        text-transform: uppercase;
        padding-bottom: 60px;
        padding-left: 5px;
        padding-top: 60px;
        text-align: center;
    }
    .BannerBlock .ProductBlockCont .ImgBlok .hideMe{
        display: block;
    }
    .BannerBlock .ProductBlockCont .ImgBlok>img{
        display: none;
    }
    .contactFormPageWrapper{
        background-color: #E20C18;
        color: #fff;
        height: auto;
    }
    .contactFormPageWrapper .contactFormPage{
        width: 86%;
        margin-left: 7%;
    }
    .contactFormPageWrapper .contactFormPage .textH{
        font-size: 60px;
        font-weight: 700;
        letter-spacing: 5px;
        text-transform: uppercase;
        padding-bottom: 0;
        padding-left: 5px;
        padding-top: 55px;
        text-align: center;
    }
    .contactFormPageWrapper .contactFormPage .blDesc{
        width: 100%;
        float: none;
        padding-right: 0;
        padding-left: 0;
    }
    .contactFormPageWrapper .contactFormPage .blDesc .hDesc{
        font-size: 29px;
        font-weight: 500;
        padding-bottom: 50px;
        padding-left: 0;
        padding-top: 15px;
        line-height: 1.35;
        text-align: center;
    }
    .contactFormPageWrapper .contactFormPage .blDesc .addresBl{
        font-size: 25px;
        font-weight: 400;
        padding-left: 3px;
        border-left: none;
        line-height: 1.4;
        padding-top: 16px;
        width: 80%;
    }
    .contactFormPageWrapper .contactFormPage .blDesc .addresBl p{
        height: 30px;
        width: 100%;
    }
    .contactFormPageWrapper .contactFormPage .formBlok{
        width: 100%;
        float: none;
        padding-top: 44px;
        padding-left: 0;
    }
    .contactFormPageWrapper .contactFormPage .formBlok p{
        font-size: 30px;
        font-weight: 400;
        line-height: 1.35;
        padding: 4px 0 6px 6px;
    }
    .contactFormPageWrapper .contactFormPage .formBlok .formButton{
        width: 50%;
        margin-top: 60px;
        margin-left: 25%;
        margin-bottom: 88px;
    }
    /*страница 1*/
    .p1Bl1{
        width: 95%;
        padding-top: 55px;
        padding-bottom: 57px;
    }
    .p1Bl1 .outcsel{
        display: block;
        margin-top: 0;
    }
    .p1Bl1 .descTopList ul{
        display: none;
    }
    .p1BanerTop .owl_st1Top{
        height: auto;
        width: 100%;
        position: absolute;
        top: 0;
    }
    .p1BanerTop .owl-carousel .owl-item img.owl_st1Top_img{
        display: none;
    }
    .p1BanerTop .owl-carousel .owl-item img.owl_st1Top_img640{
        display: block;
    }
    .p1BanerTop .owl_st1Top_title{
        line-height: 0.5;
        font-size: 30px;
        letter-spacing:2px;
    }
    .p1BanerTop .owl_st1Top_title span{
        font-size: 120px;
        letter-spacing:7px;
        padding-bottom: 50px;
        line-height: 1.5;
    }
    .contBlocksP1 .contH{
        display: none;
    }
    .contBlocksP1 .contH640{
        display: block;
        font-size: 27px;
        text-align: center;
        padding-top: 45px;
        padding-bottom: 64px;
        width: 87%;
        margin: 0 auto;
        line-height: 1.3;
    }
    .contBlocksP1{
        width: 100%;
    }
    .contBlocksP1 .rightBlokContact{
        display: none;
    }
    .contBlocksP1 .contentBl{
        width: 100%;
    }
    .contBlocksP1 .bloks>div{
        width: 100%;
        float: none;
        margin-left: 0;
    }
    .contBlocksP1 .bloks{
        height: auto;
    }
    .contBlocksP1 .bloks>div .img img.img640{
        display: block;
    }
    .contBlocksP1 .bloks>div .img img.imgDescTop{
        display: none;
    }
    .contBlocksP1 .bloks>div.s_1 .img{
        height: auto;
    }
    .contBlocksP1 .bloks>div.s_1 .img img{
        position: static;
    }
    .contBlocksP1 .bloks>div .img span.one{
        top: 150px;
        left: 40px;
        font-size: 55px;
        font-weight: 400;
    }
    .contBlocksP1 .bloks>div .img span{
        top: 120px;
        left: 40px;
        font-size: 55px;
        font-weight: 400;
    }
    .contBlocksP1 .bloks>div .desc{
        font-size: 27px;
        color: #191A20;
        font-weight: 400;
        padding: 18px 0 70px 0;
        margin: 0 auto;
        width: 90%;
        line-height: 1.35;
    }
    .contentBl{
        padding-bottom: 0;
    }
    .owl_st1banberCont{
        margin-bottom: 10px;
        width: 100%;
        margin-left: 0;
    }
    .owl_st1banberCont .desk_bl{
        display: block!important;
    }
    .owl_st1banberCont img.imgDesc{
        display: none!important;
    }
    .owl_st1banberCont img.img640{
        display: block!important;
    }
    .owl_st1banberCont.banner1 .owl_1_title {
        line-height: 1.35;
        font-size:40px;
        letter-spacing: 1.5px;
        padding: 10px 50px;
    }
    .owl_st1banberCont.banner1 .owl_1_title a {
        font-size:27px;
    }
    .owl_st1banberCont.banner2 .owl_1_title {
        line-height: 1.35;
        font-size:40px;
        letter-spacing: 1.5px;
    }
    .owl_st1banberCont.banner2 .owl_1_title a {
        font-size:27px;
    }
    .partnerBlok .pbH{
        display: none;
    }
    .partnerBlok .pbH640{
        display: block;
        font-weight: 700;
        font-size: 60px;
        text-align: center;
        padding-top: 50px;
        padding-bottom: 65px;
        letter-spacing: 2px;
        line-height: 1.30;
    }
    
    .pbOwl{
        padding: 0;
    }
    .partnerBlok .pbOwl.owl1p{
        display: none;
    }
    .pbOwl .carousel_img img {
        margin:20px auto;
        width:auto;
    }
    .partnerBlok .pbOwl.owl2p{
        display: block;
    }
    .partnerBlok .buttonBl{
        display: none;
    }
    .pageFooter .footbox .rpart{
        border: none;
    }
    .pageFooter .footbox .sideinf:before {
        content:'';
        width:0;
    }
    .pageFooter .footbox .lpart, .footbox .ostaff, .copy {
        display: none;
    }
    .pageFooter .sideinf, .footbox .rpart {
        float: none;
    }
    .pageFooter .sideinf .loc p {
        font-size: 28px;
        line-height: 35px;
    }
    .pageFooter .soclks li a {
        height: 87px !important;
        width: 87px !important;
    }
    .pageFooter .soclks li a {
        background-image: url(img/footer-soc-mobile.png);
    }
    .pageFooter .soclks li.fb a {
        background-position: 0 0;
    }
    .pageFooter .soclks li.fb a:hover {
        background-position: -87px 0;
    }
    .pageFooter .soclks li.tw a {
        background-position: 0 -87px;
    }
    .pageFooter .soclks li.tw a:hover {
        background-position: -87px -87px;
    }
    .pageFooter .soclks li.plus a {
        background-position: 0 -174px;
    }
    .pageFooter .soclks li.plus a:hover {
        background-position: -88px -174px;
    }
    .pageFooter .soclks li.photo a {
        background-position: 0 -261px;
    }
    .pageFooter .soclks li.photo a:hover {
        background-position: -88px -261px;
    }
}
@media only screen and (max-width: 580px) {
    .p3Bl1 .h1norm{
        font-size: 35px;
    }
    .p3Bl1 .h1bold{
        font-size: 50px;
    }
    .contBlocks .textBlocks .bl1 .textBlh{
        font-size: 50px;

    }
    .contBlocks .textBlocks .bl1 p{
        font-size: 22px;
    }
    .contBlocks .textBlocks .bl2 .textBlh{
        font-size: 50px;
    }
    .contBlocks .textBlocks .bl2 p{
        font-size: 22px;
    }
    .specificationBlock .textBlh{
        font-size: 50px;
    }
    .specificationBlock .specificContBlok p,.specificationBlock .specificContBlok p span{
        font-size: 18px;
        padding-right: 5px;
    }
    .BannerBlock .BannerBlockCont .textH{
        font-size: 45px;
    }
    .BannerBlock .ProductBlockCont .textH{
        font-size: 50px;
    }
    .contactFormPageWrapper .contactFormPage .textH{
        font-size: 50px;
    }
    .contactFormPageWrapper .contactFormPage .blDesc .hDesc{
        font-size: 25px;
        padding-bottom: 20px;
    }
    .contactFormPageWrapper .contactFormPage .blDesc .addresBl{
        font-size: 22px;
    }
    .contactFormPageWrapper .contactFormPage .blDesc .addresBl p{
        height: 30px;
    }
    .contactFormPageWrapper .contactFormPage .formBlok p{
        font-size: 35px;
    }
    .specificationBlock .specificContBlok tr{
        background: none;
    }
    .specificationBlock .specificContBlok td,.specificationBlock .specificContBlok th{
        border-bottom: 1px solid #000;
    }
    /*страница 1*/
    .p1Bl1{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .p1BanerTop {
        height: 400px;
    }
    .p1BanerTop .owl_st1Top_title{
        font-size: 18px;
        letter-spacing:normal;
        height: 100%;
    }
    .p1BanerTop .owl_st1Top_title span{
        font-size: 90px;
        letter-spacing:5px;
    }
    .contBlocksP1 .contH640{
        font-size: 25px;
        padding-top: 20px;
        padding-bottom: 30px;
    }
    .contBlocksP1 .bloks>div .img span.one{
        font-size: 45px;
    }
    .contBlocksP1 .bloks>div .img span{
        font-size: 45px;
    }
    .contBlocksP1 .bloks>div .desc{
        font-size: 20px;
    }
    .owl_st1banberCont.banner1 .owl_1_title {
        font-size:30px;
    }
    .owl_st1banberCont.banner1 .owl_1_title a {
        font-size:20px;
    }
    .owl_st1banberCont.banner2 .owl_1_title {
        font-size:30px;
    }
    .owl_st1banberCont.banner2 .owl_1_title a {
        font-size:20px;
    }
    .partnerBlok .pbH640{
        font-size: 45px;
    }
}
@media only screen and (max-width: 555px) {
/*страница 1*/
    .p1BanerTop {
        height: 380px;
    }
    .contBlocksP1 .bloks>div .img span.one{
        bottom: 25px;
        top: auto;
        font-size: 40px;
    }
    .contBlocksP1 .bloks>div .img span{
        font-size: 40px;
        bottom: 10px;
        top: auto;
    }
}
@media only screen and (max-width: 490px) {
    .p3Bl1 .h1norm{
        font-size: 30px;
    }
    .p3Bl1 .h1bold{
        font-size: 45px;
    }
    .contBlocks .textBlocks .bl1 .textBlh{
        font-size: 45px;
    }
    .contBlocks .textBlocks .bl1 p{
        font-size: 18px;
    }
    .contBlocks .textBlocks .bl2 .textBlh{
        font-size: 45px;
    }
    .contBlocks .textBlocks .bl2 p{
        font-size: 18px;
    }
    .specificationBlock .textBlh{
        font-size: 45px;
    }
    .specificationBlock .specificContBlok p,.specificationBlock .specificContBlok p span{
        font-size: 16px;
        padding-right: 5px;
    }
    .BannerBlock .BannerBlockCont .textH{
        font-size: 43px;
    }
    .BannerBlock .ProductBlockCont .textH{
        font-size: 45px;
    }
    .contactFormPageWrapper .contactFormPage .textH{
        font-size: 45px;
    }
    .contactFormPageWrapper .contactFormPage .blDesc .hDesc{
        font-size: 20px;
    }
    .contactFormPageWrapper .contactFormPage .blDesc .addresBl{
        font-size: 16px;
    }
    .contactFormPageWrapper .contactFormPage .blDesc .addresBl p{
        height: 20px;
    }
    .contactFormPageWrapper .contactFormPage .formBlok p{
        font-size: 20px;
    }
     .contactFormPageWrapper .contactFormPage .formBlok .inputF{
        height: 40px;
        margin-bottom: 10px;
    }
    .contactFormPageWrapper .contactFormPage .formBlok .textareaF{
        height: 150px;
    }
    .contactFormPageWrapper .contactFormPage .formBlok .formButton{
        height: 50px;
        margin-top: 20px;
        cursor: pointer;
        margin-bottom: 40px;
    }
    .contactFormPageWrapper .contactFormPage .formBlok{
        padding-top: 20px;
    }
    /*page1*/
    .footbox .rpart {
        margin-left:0px;
    }
    .footbox .sideinf .loc p {
        font-size: 18px;
        line-height: 35px;
    }
    .footbox .sideinf .loc p {
        margin: 20px 0px 0px 0px;
        line-height: 1.3;
    }
    .footbox .soclks li a {
        height: 40px !important;
        width: 40px !important;
    }
    .footbox .soclks li a {
        background-image: url(img/soclks_spr.png);
        background-repeat: no-repeat;
        display: block;
    }

    .footbox .soclks li.fb a {
        width: 36px;
        height: 36px;
        background-position: -20px -20px;
    }
    .footbox .soclks li.fb a:hover {
        background-position: -20px -96px;
    }

    .footbox .soclks li.photo a {
        width: 36px;
        height: 35px;
        background-position: -20px -172px;
    }
    .footbox .soclks li.photo a:hover {
        background-position: -20px -247px;
    }

    .footbox .soclks li.plus a {
        width: 37px;
        height: 36px;
        background-position: -20px -322px;
    }
    .footbox .soclks li.plus a:hover {
        background-position: -20px -398px;
    }

    .footbox .soclks li.tw a {
        width: 37px;
        height: 36px;
        background-position: -20px -474px;
    }

    .footbox .soclks li.tw a:hover {
        background-position: -20px -550px;
    }
}

@media only screen and (max-width: 460px)  {
    .p3Bl1 .h1norm{
        font-size: 28px;
    }
    .p3Bl1 .h1bold{
        font-size: 38px;
    }
    .contBlocks .textBlocks .bl1 .textBlh{
        font-size: 40px;
        border-top: 5px solid #e20c18;
    }
    .contBlocks .textBlocks .bl1 p{
        font-size: 16px;
    }
    .contBlocks .textBlocks .bl2 .textBlh{
        font-size: 40px;
        border-top: 5px solid #e20c18;
    }
    .contBlocks .textBlocks .bl2 p{
        font-size: 16px;
    }
    .specificationBlock .textBlh{
        font-size: 40px;
        border-top: 5px solid #e20c18;
    }
    .specificationBlock .specificContBlok p,.specificationBlock .specificContBlok p span{
        font-size: 15px;
        padding-right: 5px;
    }
    .BannerBlock .BannerBlockCont .textH{
        font-size: 38px;
    }
    .BannerBlock .ProductBlockCont .textH{
        font-size: 40px;
    }
    .contactFormPageWrapper .contactFormPage .textH{
        font-size: 40px;
    }
    .contactFormPageWrapper .contactFormPage .blDesc .hDesc{
        font-size: 18px;
    }
     /*страница 1*/
    .p1BanerTop {
        height: 320px;
    }
    .p1Bl1{
        padding-top: 20px;
        padding-bottom: 25px;
    }
    .p1BanerTop .owl_st1Top_title{
        font-size: 16px;
    }
    .p1BanerTop .owl_st1Top_title span{
        font-size: 70px;
        letter-spacing:3px;
    }
    .contBlocksP1 .contH640{
        font-size: 20px;
        padding-top:0;
    }
    .contBlocksP1 .bloks>div .img span.one{
        font-size: 35px;
    }
    .contBlocksP1 .bloks>div .img span{
        font-size: 35px;
    }
    .contBlocksP1 .bloks>div .desc{
        font-size: 16px;
        padding-bottom: 20px;
    }
    .owl_st1banberCont.banner1 .owl_1_title {
        font-size:25px;
    }
    .owl_st1banberCont.banner1 .owl_1_title a {
        font-size:16px;
    }
    .owl_st1banberCont.banner2 .owl_1_title {
        font-size:25px;
    }
    .owl_st1banberCont.banner2 .owl_1_title a {
        font-size:16px;
    }
    .partnerBlok .pbH640{
        font-size: 35px;
    }
    .p1BanerTop .owl_st1Top_title span{
        padding-bottom: 10px;
    }
}

@media only screen and (max-width: 410px)  {
    .p3Bl1 .h1norm{
        font-size: 25px;
    }
    .p3Bl1 .h1bold{
        font-size: 35px;
    }
    .contBlocks .textBlocks .bl1 .textBlh{
        font-size: 33px;
        padding-bottom: 20px;
        letter-spacing: normal;
    }
    .contBlocks .textBlocks .bl1 p{
        font-size: 15px;
        padding-bottom: 10px;
    }
    .contBlocks .textBlocks .bl2 .textBlh{
        font-size: 33px;
        padding-bottom: 20px;
        letter-spacing: normal;
    }
    .contBlocks .textBlocks .bl2 p{
        font-size: 15px;
        padding-bottom: 10px;
    }
    .specificationBlock .textBlh{
        font-size: 33px;
        letter-spacing: normal;
    }
    .specificationBlock .specificContBlok p,.specificationBlock .specificContBlok p span{
        font-size: 14px;
        padding-right: 5px;
    }
    .BannerBlock .BannerBlockCont .textH{
        font-size: 30px;
        letter-spacing: normal;
    }
    .BannerBlock .ProductBlockCont .textH{
        font-size: 33px;
        letter-spacing: normal;
    }
    .contactFormPageWrapper .contactFormPage .textH{
        font-size: 33px;
        letter-spacing: normal;
    }
    .contactFormPageWrapper .contactFormPage .blDesc .hDesc{
        font-size: 16px;
    }
}

@media only screen and (max-width: 385px) {
    .p3Bl1 .h1norm{
        font-size: 20px;
    }
    .p3Bl1 .h1bold{
        font-size: 30px;
    }
    .contBlocks .textBlocks .bl1 .textBlh{
        font-size: 25px;
        padding-bottom: 20px;
        letter-spacing: normal;
    }
    .contBlocks .textBlocks .bl1 p{
        font-size: 14px;
        padding-bottom: 7px;
    }
    .contBlocks .textBlocks .bl2 .textBlh{
        font-size: 25px;
        padding-bottom: 20px;
        letter-spacing: normal;
    }
    .contBlocks .textBlocks .bl2 p{
        font-size: 14px;
        padding-bottom: 7px;
    }
    .specificationBlock .textBlh{
        font-size: 25px;
        letter-spacing: normal;
    }
    .BannerBlock .BannerBlockCont .textH{
        font-size: 20px;
        letter-spacing: normal;
    }
    .BannerBlock .ProductBlockCont .textH{
        font-size: 25px;
        letter-spacing: normal;
    }
    .contactFormPageWrapper .contactFormPage .textH{
        font-size: 25px;
        letter-spacing: normal;
    }
    .contactFormPageWrapper .contactFormPage .blDesc .addresBl{
        font-size: 16px;
        padding-right: 20px;
        width: 100%;
    }
    .contactFormPageWrapper .contactFormPage .blDesc .addresBl p{
        height: 20px;
    }
    .contactFormPageWrapper .contactFormPage .formBlok .formButton{
        height: 50px;
        margin-top: 20px;
        cursor: pointer;
        margin-bottom: 40px;
        width: 70%;
        margin-left: 15%;
    }
    .wrapper{
        min-width:320px;
    }
    /*страница 1*/
    .p1BanerTop {
        height: 270px;
    }
    .p1BanerTop .owl_st1Top_title{
        font-size: 14px;
    }
    .p1BanerTop .owl_st1Top_title span{
        font-size: 60px;
        letter-spacing:normal;
    }
    .contBlocksP1 .contH640{
        font-size: 16px;
    }
    .contBlocksP1 .bloks>div .img span.one{
        font-size: 25px;
    }
    .contBlocksP1 .bloks>div .img span{
        font-size: 25px;
    }
    .contBlocksP1 .bloks>div .desc{
        font-size: 14px;
        padding-bottom: 16px;
    }
    .owl_st1banberCont.banner1 .owl_1_title {
        font-size:20px;
    }
    .owl_st1banberCont.banner1 .owl_1_title a {
        font-size:14px;
    }
    .owl_st1banberCont.banner2 .owl_1_title {
        font-size:20px;
    }
    .owl_st1banberCont.banner2 .owl_1_title a {
        font-size:14px;
    }
    .partnerBlok .pbH640{
        font-size: 28px;
        padding-top: 35px;
        padding-bottom: 15px;
    }
    .pbSlaid640 .owl-dots {
        margin: 40px 0 0 0;
    }
    .partnerBlok{
        padding-bottom: 30px;
    }
}

@media only screen and (max-width: 342px) {
    /*страница 1*/
    .p1BanerTop {
        height: 240px;
    }
}