.content_page3{
    background-color: #F1F1F1;
}
.p3Bl1{
    margin: 0 auto;
    width: 1170px;
}
.p3Bl1 .miniNav{
    padding: 30px 0 27px 15px;
}
.p3Bl1 .miniNav ul>li{
    display: inline;
     color: #717171;
}
.p3Bl1 .miniNav ul>li>a{
    color: #E20C18;
    text-decoration: underline;
    font-size: 13px;
}
.p3Bl1 .h1norm{
    font-size: 80px;
    font-weight: 300;
    color: #000926;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding-top:27px;
}
.p3Bl1 .h1bold{
    font-size: 100px;
    color: #000926;
    line-height: 1.3;
    font-weight: 700;
    letter-spacing: 10px;
    text-transform: uppercase;
}
.contBlocks{
    width: 100%;
    float: none;
    height: 1460px;
    overflow: hidden;
}
.contBlocks .owlFoto{
    width: 50%;
    height: 1500px;
    overflow: hidden;
    float: left;
    padding-top: 136px;
    padding-right: 70px;
}
.contBlocks .owlFoto img{
    float: right;
    padding-bottom: 21px;
}
.contBlocks .owlFoto img.last{
    float: right;
    padding-top: 48px;
}
.contBlocks .owl_st3Topbl{
    margin-bottom: 12px;
    padding-top: 60px;
    display: none;
}
.contBlocks .owl_st3Topbl img{
    width: 80%;
    margin: 0 auto;
}
.contBlocks .owl-dots {
    margin: 55px 0 0 0;
    text-align: center;
}
.contBlocks .owl-dots .owl-dot + .owl-dot {margin-left: 35px;}

.contBlocks .owl-dots .owl-dot {
    border-radius: 50%;
    display: inline-block;
    height: 22px;
    width: 22px;
    background-color: #2C2E33;
}
.contBlocks .owl-dots .owl-dot.active{
    background-color: #E20C18;
}
.contBlocks .textBlocks{
    float: left;
    padding-top: 50px;
    width: 50%;
    height: 1500px;
    padding-left: 60px;
}
.contBlocks .textBlocks .tabsNav{
    
}
.contBlocks .textBlocks p{
    width: 550px;
}
.bl1Tab,.bl2Tab,.specificContBlok{display: none;}
#bl1Introduction,#bl2Features,#bl3Goverment{
    display: block;
}
.contBlocks .textBlocks .bl1 .tabsNav ul{
     border-top: 10px solid #E20C18;
     padding-bottom: 41px;
     padding-top: 6px;
}
.contBlocks .textBlocks .bl1 .tabsNav ul>li{
    display: inline;
    padding: 9px 20px 11px 17px;
}
.contBlocks .textBlocks .bl1 .tabsNav ul>li.active{
    background-color: #E20C18;
    border-bottom: none;
}
.contBlocks .textBlocks .bl1 .tabsNav ul>li.active a{
    color: #fff;
    border-bottom: none;
}
.contBlocks .textBlocks .bl1 .tabsNav ul>li>a{
    color: #000926;
    font-size: 20px;
    font-weight: 400;
    border-bottom: 1px dotted #000926;
    text-decoration: none;
}
.contBlocks .textBlocks .bl1 .tabsNav ul>li>a:hover{
    color: #E20C18;
    font-size: 20px;
    font-weight: 400;
    border-bottom: 1px dotted #E20C18;
    text-decoration: none;
}
.contBlocks .textBlocks .bl1 .tabsNav ul>li.active a:hover{
    color: #fff;
    border-bottom: none;
}
.contBlocks .textBlocks .bl1 .textBlh{
    font-size: 60px;
    font-weight: 700;
    color: #000926;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding-bottom: 23px;
}
.contBlocks .textBlocks .bl1 p{
    font-size: 18px;
    font-weight: 500;
    color: #000926;
    padding: 0 0 25px 5px;
    line-height: 1.5;
}
.contBlocks .textBlocks .bl1 p span{
    font-weight: 600;
}
.contBlocks .textBlocks .bl2 .tabsNav{
     border-top: 10px solid #E20C18;
     padding-bottom: 51px;
     padding-top: 6px;
     margin-top: 15px;
}
.contBlocks .textBlocks .bl2 .tabsNav ul>li{
    display: inline;
    padding: 9px 20px 11px 17px;
}
.contBlocks .textBlocks .bl2 .tabsNav ul>li.active{
    background-color: #E20C18;
    border-bottom: none;
}
.contBlocks .textBlocks .bl2 .tabsNav ul>li.active a{
    color: #fff;
    border-bottom: none;
}
.contBlocks .textBlocks .bl2 .tabsNav ul>li>a{
    color: #000926;
    font-size: 20px;
    font-weight: 400;
    border-bottom: 1px dotted #000926;
    text-decoration: none;
}
.contBlocks .textBlocks .bl2 .textBlh{
    font-size: 60px;
    font-weight: 700;
    color: #000926;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding-bottom: 28px;
}
.contBlocks .textBlocks .bl2 p{
    font-size: 18px;
    font-weight: 500;
    color: #000926;
    padding: 0 0 15px 5px;
    line-height: 1.5;
}
.specificationBlock{
    width: 1170px;
    margin: 0 auto;
    padding-top: 66px;
}
.relBlForTabs{
    width: 100%;
    position: relative;
}
.relBlForTabs .tabsNav{
     border-top: 10px solid #E20C18;
     padding-bottom: 51px;
     padding-top: 6px;
     width: 37%;
     position: absolute;
     left: 0;
     top: -20px;
}
.relBlForTabs .tabsNav ul{
    float: right;
}
.relBlForTabs .tabsNav ul>li{
    display: inline;
    padding: 9px 20px 11px 17px;
}
.relBlForTabs .tabsNav ul>li.active{
    background-color: #E20C18;
    border-bottom: none;
}
.relBlForTabs .tabsNav ul>li.active a{
    color: #fff;
    border-bottom: none;
}
.relBlForTabs .tabsNav ul>li>a{
    color: #000926;
    font-size: 20px;
    font-weight: 400;
    border-bottom: 1px dotted #000926;
    text-decoration: none;
}
.specificationBlock .textBlh{
    font-size: 60px;
    font-weight: 700;
    color: #000926;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding-bottom: 50px;
    padding-left: 5px;
}
.specificationBlock .specificContBlok{
    width: 100%;
    height: 778px;
}
.specificationBlock .specificContBlok .bl1,.specificationBlock .specificContBlok .bl2{
    width: 50%;
    float: left;
    content: " ";
    display: table;
}
.specificationBlock .specificContBlok .bl1 table {
    width: 95%;
    margin-left: 6px;
}

.specificationBlock .specificContBlok .bl1 td,.specificationBlock .specificContBlok .bl1 th{
    vertical-align: top;
    text-align: left;
    padding-bottom: 16px;
    padding-top: 10px;
}
.specificationBlock .specificContBlok .bl2 table {
    width: 95%;
    margin-left: 67px;
}
.specificationBlock .specificContBlok .bl2 td,.specificationBlock .specificContBlok .bl2 th{
    vertical-align: top;
    text-align: left;
    padding-bottom: 16px;
    padding-top: 10px;
}
.specificationBlock .specificContBlok p{
    font-size: 18px;
    float: left;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    background-color: #F1F1F1;
}
.specificationBlock .specificContBlok tr{
    background-image: url('img/page3/dots.png');
    background-repeat: no-repeat;
    background-position: center 25px;
}
.specificationBlock .specificContBlok p span{
    font-size: 18px;
    font-weight: 600;
    background-color: #F1F1F1;
    width: 100%;
}
.specificationBlock .specificContBlok p.fullWidth{
    width: 100%;
}
.BannerBlock{
    width: 100%;
    border-top: 18px solid #E20C18;
    background-color: #fff;
}
.BannerBlock .BannerBlockCont{
    width: 1170px;
    margin: 0 auto;
}
.BannerBlock .BannerBlockCont .textH{
    font-size: 60px;
    font-weight: 700;
    color: #000926;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding-bottom: 60px;
    padding-left: 5px;
    padding-top: 100px;
    text-align: center;
}
.BannerBlock .BannerBlockCont .owl_st3 .owl_1_title {
    line-height: 1em;
    font-weight:600;
    font-size:30px;
}
.BannerBlock .BannerBlockCont .owl_st3 .owl_1_title a {
    color:#fff;
    font-weight: 400;
    font-size:18px;
}
.BannerBlock .BannerBlockCont .owl_st3 .owl_1_title .link {
    display:block;
}
.BannerBlock .BannerBlockCont .show640{
    display: none;
}
.BannerBlock .BannerBlockCont .owl_st3{
    position: relative;   
    width:100%;   
}
.BannerBlock .ProductBlockCont{
    width: 1140px;
    margin: 0 auto;
}
.BannerBlock .ProductBlockCont .textH{
    font-size: 60px;
    font-weight: 700;
    color: #000926;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding-bottom: 60px;
    padding-left: 5px;
    padding-top: 80px;
    text-align: center;
}
.ProductBlockCont .ImgBlok{
    margin: 0 auto;
    padding: 7px 0 90px 0;
    max-width:1170px;
}
.ProductBlockCont .ImgBlok .carousel_img{

}
.ProductBlockCont .ImgBlok .carousel_img img {
    margin:0 auto;
    width:auto;
}
.ImgBlok .carousel_img .pick  {
   margin:0;  
   position: relative;  
   height: 159px;
}
.ImgBlok .carousel_img .pick .mob {
    display:none;
}
.ImgBlok .owl-carousel .owl-nav .owl-prev{
    left: -50px;
}
.ImgBlok .owl-carousel .owl-nav .owl-next{
    right: -50px;
}
.ImgBlok .carousel_img .pick .fillbg {
    display:none;
    position: absolute;
    background-size:contain;
    background-position:center center;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    background-repeat: no-repeat; 
}

.ImgBlok .carousel_img .pick img.desc, .ImgBlok .carousel_img .pick img.mob {
    max-width:inherit;
    position: absolute;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.BannerBlock .ProductBlockCont .ImgBlok .owl-dots {
    margin: 87px 0 0 0;
    text-align: center;
}
.BannerBlock .ProductBlockCont .ImgBlok .owl-dots .owl-dot + .owl-dot {margin-left: 35px;}

.BannerBlock .ProductBlockCont .ImgBlok  .owl-dots .owl-dot {
    border-radius: 50%;
    display: inline-block;
    height: 22px;
    width: 22px;
    background-color: #2C2E33;
}
.BannerBlock .ProductBlockCont .ImgBlok .owl-dots .owl-dot.active{
    background-color: #E20C18;
}
/*formBl*/
.contactFormPageWrapper{
    background-color: #E20C18;
    color: #fff;
    height: 836px;
}
.contactFormPageWrapper .contactFormPage{
    width: 1150px;
    margin: 0 auto;
}
.contactFormPageWrapper .contactFormPage .textH{
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding-bottom: 60px;
    padding-left: 5px;
    padding-top: 80px;
    text-align: center;
}
.contactFormPageWrapper .contactFormPage .blDesc{
    width: 45%;
    float: left;
    padding-right: 5%;
    padding-left: 70px;
}
.contactFormPageWrapper .contactFormPage .blDesc .hDesc{
    font-size: 33px;
    font-weight: 600;
    padding-bottom: 50px;
    padding-left: 37px;
    padding-top: 40px;
    line-height: 1.35;
}
.contactFormPageWrapper .contactFormPage .blDesc .addresBl{
    font-size: 20px;
    font-weight: 300;
    padding-left: 25px;
    border-left: 10px solid #fff;
    line-height: 1.35;
    padding-top: 0px;
}
.contactFormPageWrapper .contactFormPage .blDesc .addresBl p{
    height: 55px;
    width: 100%;
}
.contactFormPageWrapper .contactFormPage .formBlok{
    width: 55%;
    float: left;
    padding-top: 44px;
    padding-left: 50px;
}
.contactFormPageWrapper .contactFormPage .formBlok p{
    font-size: 20px;
    font-weight: 300;
    line-height: 1.35;
    padding: 0 0 10px 6px;
}
.contactFormPageWrapper .contactFormPage .formBlok .inputF{
    width: 100%;
    font-size: 20px;
    color: #000;
    height: 60px;
    margin-bottom: 40px;
    padding-left: 10px;
}
.contactFormPageWrapper .contactFormPage .formBlok .textareaF{
    width: 100%;
    font-size: 20px;
    color: #000;
    height: 225px;
    padding-left: 10px;
    padding-top: 10px;
}
.contactFormPageWrapper .contactFormPage .formBlok .formButton{
    font-family: 'Open Sans';
    width: 240px;
    font-weight: 400;
    font-size: 19px;
    color: #fff;
    height: 76px;
    text-align: center;
    background-color: #E20C18;
    border: 2px solid #fff;
    margin-top: 45px;
    cursor: pointer;
}
/*page1*/
.content_page1{
    background-color: #fff;
}
.p1Bl1{
    margin: 0 auto;
    width: 950px;
}
.p1Bl1 .outcsel{
    display: none;
}
.p1Bl1 .descTopList ul{
    text-align: center;
    padding: 36px 30px 38px 30px;
}
.p1Bl1 .descTopList ul>li{
    display: inline;
    text-align: center;
    padding: 5px 17.5px;
}
.p1Bl1 .descTopList ul>li.active{
    background-color: #E20C18;
}
.p1Bl1 .descTopList ul>li.active a{
    text-decoration: none;
    color: #fff;
}
.p1Bl1 .descTopList ul>li.active a:hover {
    color: #fff;
}
.p1Bl1 .descTopList ul>li a{
    color: #000000;
    font-size: 16px;
    line-height: 2.6;
    text-decoration: underline;
    font-weight: 500;
}
.p1Bl1 .descTopList ul>li a:hover{
    color: #E20C18;
}
.p1Bl1 .descTopList ul>li a.active:hover{
    color: #fff;
}
.p1BanerTop {
    width: 100%;
    overflow-x: hidden;
    position: relative;
    height: 440px;
}
.p1BanerTop .owl_st1Top{
    height: 440px;
    width: 1920px;
    position: absolute;
    top: 0;
}
.p1BanerTop .owl-carousel .owl-item img.owl_st1Top_img640{
    display: none;
}
.p1BanerTop #owl_st1Top .owl-carousel .owl-item img {
    height: 100%;
}
.p1BanerTop .owl_st1Top_title{
    color: #fff;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    flex-direction: column;
    top: 0;
    font-size: 30px;
    left: 0;
    line-height: 2;
    position: absolute;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing:3px;
    height: 440px;
}
.p1BanerTop .owl_st1Top_title span{
    font-size: 125px;
    font-weight: 700;
    letter-spacing:9px;
    line-height: 1.15;
    padding-bottom: 20px;
}
.contBlP1Wrapp{
    width: 100%;
    overflow-x: hidden;
}
.contBlocksP1{
    margin: 0 auto;
    width: 1170px;
}
.contBlocksP1 .contH{
    font-size: 48px;
    padding: 83px 0 76px 10px;
    color: #000926;
    font-weight: 600;
    line-height: 1.35;
}
.contBlocksP1 .rightBlokContact{
    width: 100%;
    position: absolute;
    top: 0;
    left: 940px;
    border-top: 10px solid #E20C18;
    font-size: 30px;
    color: #000926;
    padding-top: 8px;
    font-weight: 700;
    line-height: 1.3;
}
.contBlocksP1 .rightBlokContact .buttonBlFlag{
    background-color: #E20C18;
    width: 220px;
    height: 75px;
    text-align: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 5px;
    cursor: pointer;
    transition: 0.5s all ease;
}
.contBlocksP1 .rightBlokContact .buttonBlFlag:hover{
    background-color: #000926;

}
.contBlocksP1 .rightBlokContact .buttonBlFlag a{
    color: #fff;
    text-align: center;
    width: 100%;
    line-height: 35px;
    font-weight: 400;
    font-size: 20px;
}
.contBlocksP1 .contentBl{
    position: relative;
    width: 880px;
}
.contBlocksP1 .bloks{
    width: 100%;
    height: 975px;
}

.contBlocksP1 .contH640{
    display: none;
}
.contBlocksP1 .bloks>div{
    width: 280px;
    float: left;
    margin-left: 10px;
}
/*.contBlocksP1 .bloks>div.s_1 {
    height:280px;
    width:280px;
}
.contBlocksP1 .bloks>div.s_1 .href:hover {
    background-position:0px -280px;
}
.contBlocksP1 .bloks>div .img{
    position: relative;
    height:280px;
}
.contBlocksP1 .bloks>div .img .ton, .contBlocksP1 .bloks>div .img .href  {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background-repeat: no-repeat;
}
.contBlocksP1 .bloks>div .href {
    z-index: 3;
}
.contBlocksP1 .bloks>div .img .ton {
    background-color: rgba(0,0,0,.45);
}*/
.contBlocksP1 .bloks>div .img{
    position: relative;
}
.contBlocksP1 .bloks>div .img img{
    width: 100%;
    z-index: 1;
    left: 0;
    top: 0;
}
.contBlocksP1 .bloks>div.s_1 .img{
    overflow: hidden;
    height: 280px;
}
.contBlocksP1 .bloks>div.s_1 .img img{
    position: absolute;
    top: 0;
    left: 0;
}
.contBlocksP1 .bloks>div .img .ton{
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    opacity: 0.4;
    z-index: 2;
    transition: all 0.3s ease;
}
.contBlocksP1 .bloks>div .img:hover .ton{
    z-index: 5;
    opacity: 0;
}
.contBlocksP1 .bloks>div .img:hover img{
    top: -280px;
}
.contBlocksP1 .bloks>div .img .img640{
    display: none;
}
.contBlocksP1 .bloks>div .img span{
    position: absolute;
    top: 180px;
    left: 18px;
    color: #fff;
    text-decoration: underline;
    font-size: 31px;
    font-weight: 600;
    line-height: 1.2;
    z-index: 4;
}
.contBlocksP1 .bloks>div .desc{
    font-size: 15px;
    color: #191A20;
    font-weight: 400;
    padding: 13px 0 72px 15px;
    line-height: 1.55;
}
.owl_st1banberCont{
    margin-bottom: 10px;
    width: 855px;
    margin-left: 7px;
}
.owl_st1banberCont img{
    z-index: 1;
}
.owl_st1banberCont .ton{
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    opacity: 0.4;
    z-index: 2;
    transition: all 0.3s ease;
}
.owl_st1banberCont .owl_1_title{
    z-index: 3;
}
.owl_st1banberCont:hover .ton{
    opacity: 0;
}
.owl_st1banberCont.banner1 .owl_1_title {
    line-height: 2em;
    font-weight:600;
    font-size:31px;
    padding-top: 30px;
    letter-spacing: 1.5px;
}
.owl_st1banberCont.banner1 .owl_1_title a {
    color:#fff;
    font-weight: 400;
    font-size:18px;
    letter-spacing: normal;
}
.owl_st1banberCont.banner1 .owl_1_title .link {
    display:block;
    line-height: 0.5em;
}
.owl_st1banberCont.banner2 .owl_1_title {
    line-height: 2em;
    font-weight:600;
    font-size:31px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.owl_st1banberCont.banner2 .owl_1_title a {
    color:#fff;
    font-weight: 400;
    font-size:18px;
    text-transform: lowercase;
    letter-spacing: normal;
}
.owl_st1banberCont.banner2 .owl_1_title .link {
    display:block;
    line-height: 0.5em;
}
.owl_st1banberCont img.img640{
    display: none;
}
.contentBl{
    padding-bottom: 122px;
}
.partnerBlok{
    background-color: #D9E1E4;
    padding-bottom: 80px;
}
.partnerBlok .pbH{
    font-weight: 700;
    font-size: 63px;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 65px;
    letter-spacing: 3px;
}
.partnerBlok .pbH640{
    display: none;
}
.pbOwl{
    margin: 0 auto;
    padding: 76px 0 90px 0;
    max-width:1020px;
}
.pbOwl .carousel_img img {
    margin:0 auto;
    width:auto;
}
.partnerBlok .pbOwl.owl2p{
    display: none;
}
.partnerBlok .pbSlaid{
    width: 1170px;
    margin: 0 auto;
    padding-bottom: 87px;
}
.partnerBlok .pbSlaid img{
    width: 86%;
    margin-left: 7%;
}
.partnerBlok .owl-dots {
    margin: 55px 0 0 0;
    text-align: center;
}
.partnerBlok .owl-dots .owl-dot + .owl-dot {margin-left: 35px;}

.partnerBlok .owl-dots .owl-dot {
    border-radius: 50%;
    display: inline-block;
    height: 22px;
    width: 22px;
    background-color: #2C2E33;
}
.partnerBlok .owl-dots .owl-dot.active{
    background-color: #E20C18;
}
.partnerBlok .buttonBl{
    background-color: #2C2E33;
    width: 260px;
    height: 75px;
    text-align: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.partnerBlok .buttonBl a{
    color: #fff;
    text-align: center;
    width: 100%;
    line-height: 35px;
    font-size: 20px;
}
.pageFooter{
    background-color: #D9E1E4;
}
.pageFooter .footbox {
    overflow:hidden;

    border-top:18px solid  #e20c18;
}
.pageFooter .footbox  .center {
    position: relative; 
}
.pageFooter .footbox .lpart {
    float:left;
    margin-left:50px;
    width:830px;
    overflow:hidden;
}
.pageFooter .pageFooter .footbox .lpart .box {
    margin:40px 0px 0px 20px;
}
.pageFooter .footbox .lpart .col:first-child .box {
    margin-left:0px;
}
.pageFooter .footbox .lpart .col {
    padding:20px 0px 50px 0px;
}

.pageFooter .footbox .lpart .col {
    float:left;
    width:25%;
}

.pageFooter .footbox .lpart .box .tit {
    font-size:18px;
    font-weight:700;
}
.pageFooter .footbox .lpart .box .tit a {
    text-transform: uppercase;
    text-decoration: underline;
    color:#191a20;  
}
.pageFooter .footbox .lpart .box .tit a:hover {
    color:#e20c18;
}
.pageFooter .footbox .lpart .list {
    margin:12px 0px 0px 0px;
}
.pageFooter .footbox .lpart .list li {
    margin:6px 0px 6px 0px;  
}
.pageFooter .footbox .lpart .list li a {
    line-height: 1.33em;
    font-size:15px;
    color:#191a20;
}
.pageFooter .footbox .lpart .list li a:hover {
    color:#e20c18;
}
.pageFooter .footbox .rpart {
    float:left;
    overflow:hidden;
    margin-left:44px;
}
.pageFooter .footbox .sideinf:before {
    content:'';
    width:9px;
    height:100%;
    position: absolute;
    left:910px;
    top:64px;
    background:#e20c18;
}

.pageFooter .sideinf {
    margin-left:0;
    float:left;
}
.pageFooter .sideinf .loc {
    margin:0px 0px 0px  20px;   
}
.pageFooter .sideinf .loc p {
    margin:58px 0px 0px  0px;  
    color:#191a20;
    font-size:18px;
    line-height: 1.7em;
}

.pageFooter .soclks {
    overflow:hidden;

}
.pageFooter .soclks ul {
    overflow:hidden;
    margin:0px 0px 50px 21px; 
}
.pageFooter .soclks li {
    margin:43px 19px 20px 0px;
    float:left;
}
.pageFooter .soclks li:last-child {
    margin-right:0px;
}
.pageFooter .soclks li a {
    background-image: url(img/soclks_spr.png);
    background-repeat: no-repeat;
    display: block;
}

.pageFooter .soclks li.fb a {
    width: 36px;
    height: 36px;
    background-position: -20px -20px;
}
.pageFooter .soclks li.fb a:hover {
    background-position: -20px -96px;
}

.pageFooter .soclks li.photo a {
    width: 36px;
    height: 35px;
    background-position: -20px -172px;
}
.pageFooter .soclks li.photo a:hover {
    background-position: -20px -247px;
}

.pageFooter .soclks li.plus a {
    width: 37px;
    height: 36px;
    background-position: -20px -322px;
}
.pageFooter .soclks li.plus a:hover {
    background-position: -20px -398px;
}

.pageFooter .soclks li.tw a {
    width: 37px;
    height: 36px;
    background-position: -20px -474px;
}

.pageFooter .soclks li.tw a:hover {
    background-position: -20px -550px;
}
.pageFooter .copy {
    margin:18px 0px 30px 0px;
}
.pageFooter .copy .pick {
    width:93px;
    height:38px;
    margin:0px 18px 0px 20px;
    float:left;
}
.pageFooter .copy .t {
    overflow:hidden;
}
.pageFooter .copy .t a {
    text-decoration:underline;
    font-size:11.4px;
    color:#1a1a20;
}
.pageFooter .copy .t a:hover {
    text-decoration:none;
}

.pageFooter .icon {
    display: none;
}