
body {
    margin: 0;
    padding: 0;
}

* {
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
    line-height:normal;
}

ul li {list-style-type: none;}

a {color: #000; text-decoration: none;}

.clearfix {
    display:inline-block;
}

.clearfix {
    zoom:1;
    display:block;
}

.clearfix:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden
}

.left {float: left;}
.right {float: right;}

.wrapper {
    font-family: 'PFDinTextCondProRegular';
    margin: 0 auto;
	max-width: 1920px;
    min-width: 1280px;
	overflow: hidden;
}

.center {
	margin: 0 auto;
	width: 1280px;
}

.header {
    background: #f2f2f2;
    height: 47px;
    line-height: 47px;
}

.header .top_menu {margin: 0 0 0 5px; overflow: hidden;}

.header .top_menu li {
    float: left;
}

.header .top_menu li + li {
    margin-left: 29px;
}

.header .top_menu li a {
    display: block;
    font-size: 17px;
}

.header .header_basket {
    background: url(../img/basket_ico.png) no-repeat left center;
    color: #6d2885;
    font-size: 19px;
    margin: 0 189px 0 0;
    padding: 0 0 0 40px;
    text-decoration: underline;
}

.header .header_basket:hover {
    opacity: .2;
}

.block_1 .logo {
    background: url(../img/logo.png) no-repeat left 17px;
    color: #000000;
    display: block;
    font-family: 'PT Sans';
    font-size: 18px;
    letter-spacing: 5px;
    line-height: 25px;
    margin: 23px 178px 15px 48px;
    padding: 0 0 0 69px;
    width: 326px;
}

.block_1 .logo .padding_1 {
    display: block;
    padding: 42px 0 0 0;
}

.block_1 .ul_1 {
    margin: 17px 157px 0 0;
    width: 225px;
}

.block_1 .ul_1 > li a {
    display: block;
    font-size: 17px;
    line-height: 18px;
    padding: 0 0 0 50px;
    text-decoration: underline;
}

.block_1 .ul_1 > li + li {
    margin-top: 17px;
}

.block_1 .ul_1 > li:nth-child(1) a {
    background: url(../img/ico_1.png) no-repeat left 4px;
}

.block_1 .ul_1 > li:nth-child(2) a {
    background: url(../img/ico_2.png) no-repeat 4px 3px;
}

.block_1 .block_phone .number_phone {
    display: block;
    font-family: "MyriadProRegular";
    font-size: 36px;
    margin: 0 0 10px 0;
}

.block_1 .block_phone .number_phone span {
    font-size: 26px;
}

.block_1 .txt_1, .txt_2 {
    color: #505a6b;
    display: block;
    font-family: 'PT Sans';
    font-size: 13px;
}

.block_1 .txt_2 {
    font-family: 'clear_sansregular';
}

.block_1 .block_phone {
    margin: 20px 0 0 0;
}

.block_1 .owl_wrap {
    clear: both;
    margin: 0 0 43px 0;
    overflow: hidden;
}

.block_2 {
    background: #9147aa;
    margin: 0 0 54px 0;
}

.block_1 .owl_wrap .owl-dots {
    text-align: center;
}

.block_1 .owl_wrap .owl-dot {
    background: #e6e6e6;
    border-radius: 50%;
    display: inline-block;
    height: 15px;
    margin: 0 5px;
    width: 15px;
}

.block_1 .owl_wrap .owl-dot.active {
    background: #898989;
}

.block_1 .owl_wrap .owl-dot span {display: none;}

.block_1 .owl_wrap .owl-prev, .block_1 .owl_wrap .owl-next {
    background: url(../owl.carousel/custom/arrow.png) no-repeat;
    height: 24px;
    position: absolute;
    width: 14px;
}

.block_1 .owl_wrap .owl-prev {
    background-position: 0 0;
    bottom: 0;
    left: 45%;
}

.block_1 .owl_wrap .owl-next {
    background-position: -14px 0;
    bottom: 0;
    right: 45%;
}

.block_1 .owl_wrap .owl-nav {
    bottom: 0;
    position: absolute;
    width: 100%;
}

.block_1 .owl-carousel .owl-stage-outer {
    margin: 0 0 17px 0;
}

.block_2 .block_2_ul {
    overflow: hidden;
}

.block_2 .block_2_ul > li {
    color: #ffffff;
    float: left;
    height: 240px;
    padding-top: 21px;
    width: 390px;
}

.block_2 .block_2_ul > li:first-child {
    padding-left: 35px;
    padding-right: 15px; 
}

.block_2 .block_2_ul > li:nth-child(2) {
    background: #81379a;
    padding-left: 85px;
    padding-right: 15px;
    width: 485px;
}

.block_2 .block_2_ul > li:nth-child(3) {
    background: #681f80;
    padding-left: 85px;
    padding-right: 15px;
}

.block_2 .block_2_ul > li .span_1, .block_2 .block_2_ul > li .span_2 {
    display: block;
    font-size: 30px;
    line-height: 1;
    text-decoration: underline;
}

.block_2 .block_2_ul > li .span_1 {
    line-height: 28px;
    padding-bottom: 5px;
}

.block_2 .block_2_ul > li .mb1 {
    margin: 0 0 23px 0;
}

.block_2 .block_2_ul > li .span_2 {
    font-size: 24px;
    letter-spacing: -1px;
    padding: 0 0 25px 0;
}

.block_2 .block_2_ul > li .span_3 {
    display: block;
    font-size: 20px;
    letter-spacing: -1px;
    line-height: 22px;
}

.title_1 {
    color: #000000;
    display: block;
    font-size: 32px;
    text-align: center;
    text-decoration: underline;
}

.products_main {
    margin: 25px 0 0 15px;
}

.wrap_img {
    height: 168px;
    text-align: center;
}

.wrap_img img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.products .products_main > div {
    border: 1px solid #d5d5d5;
    float: left;
    height: 337px;
    margin: 0 16px 15px 0;
    padding: 0 0 11px 0;
    position: relative;
    text-align: center;
    width: 234px;
}

.products .products_main > div:nth-child(5n) {
    margin-right: 0;
}

.products .products_main > div .border_hover {
    border: 4px solid transparent;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: -4px;
}

.products .products_main > div:hover {
    border-color: transparent;
}

.products .products_main > div:hover .border_hover {
    border: 4px solid #cc9edc;
}

.products .products_main .products_name {
    color: #269cd0;
    display: block;
    font-family: 'PFDinTextCompProRegular';
    font-size: 23px;
    margin: 10px 0 8px 0;
    text-decoration: underline;
}

.products_descr {
    display: block;
    font-size: 16px;
}

.products_main .produts_price {
    display: table;
    margin: 10px 0 0 0;
    width: 100%;
}

.products_main .produts_price div {
    display: table-cell;
    vertical-align: middle;
}

.products_main .produts_price div:nth-child(2) {
    text-align: left;
}

.products_main .produts_price span {
    font-family: 'PFDinTextCompProRegular';
    font-size: 28px;
}

.products_main .produts_price .link_basket {
    background: #702c87 url(../img/basket_ico_2.png) no-repeat center center;
    border-radius: 50%;
    display: inline-block;
    height: 53px;
    width: 53px;
} 

.products_main .produts_price .link_basket:hover {
    background-color: #5cc4f1;
}

.products_main .hit {
    background-color: rgba(92, 196, 241, 0.82);
    border: 5px solid #fff;
    border-radius: 50%;
    color: #ffffff;
    font-family: 'PFDinTextCompProRegular';
    font-size: 21px;
    height: 97px;
    left: 50%;
    line-height: 18px;
    margin-left: -48px;
    padding: 22px 0 0 0;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    top: 75px;
    width: 97px;
    z-index: 4;
}

.products_main .gray_line {
    background: #d5d5d5;
    border: none;
    color: #d5d5d5;
    height: 1px;
    margin: 20px auto 0;
    width: 206px;
}

.products .link_1 {
    color: #3eb1e2;
    display: block;
    font-family: 'PFDinTextCompProRegular';
    font-size: 21px;
    margin: 16px 0 0 0;
    text-align: center;
    text-decoration: underline;
}