
body {
    margin: 0;
    padding: 0;
}

html, body {
    line-height:normal;
}

ul li {list-style-type: none;}

a {color: #000; text-decoration: none;}

.clearfix {
    display:inline-block;
}

.clearfix {
    zoom:1;
    display:block;
}

.clearfix:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden
}

.wrapper .left {float: left;}
.wrapper .right {float: right;}

.wrapper {
    font-family: 'PFDinTextCondProRegular';
    margin: 0 auto;
	max-width: 1920px;
    min-width: 1280px;
	overflow: hidden;
}

.wrapper .center {
	margin: 0 auto;
	width: 1280px;
}

.wrapper .header {
    background: #f2f2f2;
    height: 47px;
    line-height: 47px;
}

.header .top_menu {margin: 0 0 0 5px; overflow: hidden;}

.header .top_menu li {
    float: left;
}

.header .top_menu li + li {
    margin-left: 29px;
}

.header .top_menu li a {
    display: block;
    font-size: 17px;
}

.header .header_basket {
    background: url(../img/basket_ico.png) no-repeat left center;
    color: #6d2885;
    font-size: 19px;
    margin: 0 189px 0 0;
    padding: 0 0 0 40px;
    text-decoration: underline;
}

.header .header_basket:hover {
    opacity: .7;
}

.block_1 .logo {
    background: url(../img/logo.png) no-repeat left 17px;
    color: #000000;
    display: block;
    font-family: 'PT Sans';
    font-size: 18px;
    letter-spacing: 5px;
    line-height: 25px;
    margin: 23px 178px 15px 48px;
    padding: 0 0 0 69px;
    width: 326px;
}

.block_1 .logo .padding_1 {
    display: block;
    padding: 42px 0 0 0;
}

.block_1 .ul_1 {
    margin: 17px 157px 0 0;
    width: 225px;
}

.block_1 .ul_1 > li a {
    display: block;
    font-size: 17px;
    line-height: 18px;
    padding: 0 0 0 50px;
    text-decoration: underline;
}

.block_1 .ul_1 > li + li {
    margin-top: 17px;
}

.block_1 .ul_1 > li:nth-child(1) a {
    background: url(../img/ico_1.png) no-repeat left 4px;
}

.block_1 .ul_1 > li:nth-child(2) a {
    background: url(../img/ico_2.png) no-repeat 4px 3px;
}

.block_1 .block_phone .number_phone, .footer .footer_right .block_phone .number_phone {
    display: block;
    font-family: "MyriadProRegular";
    font-size: 36px;
    margin: 0 0 10px 0;
}

.block_1 .block_phone .number_phone span, .footer .block_phone .number_phone span {
    font-size: 26px;
}

.block_1 .txt_1, .txt_2, .footer .txt_1 {
    color: #505a6b;
    display: block;
    font-family: 'PT Sans';
    font-size: 13px;
}

.block_1 .txt_2 {
    font-family: 'clear_sansregular';
}

.block_1 .block_phone {
    margin: 20px 0 0 0;
}

.block_2 {
    background: #9147aa;
    margin: 0 0 54px 0;
}

.block_2 .block_2_ul {
    overflow: hidden;
}

.block_2 .block_2_ul > li {
    color: #ffffff;
    float: left;
    height: 240px;
    padding-top: 21px;
    width: 390px;
}

.block_2 .block_2_ul > li:first-child {
    padding-left: 35px;
    padding-right: 15px; 
}

.block_2 .block_2_ul > li:nth-child(2) {
    background: #81379a;
    padding-left: 85px;
    padding-right: 15px;
    width: 485px;
}

.block_2 .block_2_ul > li:nth-child(3) {
    background: #681f80;
    padding-left: 85px;
    padding-right: 15px;
}

.block_2 .block_2_ul > li .span_1, .block_2 .block_2_ul > li .span_2 {
    display: block;
    font-size: 30px;
    line-height: 1;
    text-decoration: underline;
}

.block_2 .block_2_ul > li .span_1 {
    line-height: 28px;
    padding-bottom: 5px;
}

.block_2 .block_2_ul > li .mb1 {
    margin: 0 0 23px 0;
}

.block_2 .block_2_ul > li .span_2 {
    font-size: 24px;
    letter-spacing: -1px;
    padding: 0 0 25px 0;
}

.block_2 .block_2_ul > li .span_3 {
    display: block;
    font-size: 20px;
    letter-spacing: -1px;
    line-height: 22px;
}

.wrapper .title_1 {
    color: #000000;
    display: block;
    font-size: 32px;
    text-align: center;
    text-decoration: underline;
}

.products_main {
    margin: 25px 0 0 15px;
}

.wrapper .wrap_img {
    height: 168px;
    text-align: center;
}

.wrapper  .wrap_img img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.wrapper  .products {
    margin-bottom: 39px;
}

.products .products_main > div {
    border: 1px solid #d5d5d5;
    float: left;
    height: 337px;
    margin: 0 16px 15px 0;
    padding: 0 0 11px 0;
    position: relative;
    text-align: center;
    width: 234px;
}

.products .products_main > div:nth-child(5n) {
    margin-right: 0;
}

.products .products_main > div .border_hover {
    border: 2px solid transparent;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: -2px;
}

.products .products_main > div:hover {
    border-color: transparent;
}

.products .products_main > div:hover .border_hover {
    border: 4px solid #cc9edc;
}

.products .products_main .products_name {
    color: #269cd0;
    display: block;
    font-family: 'PFDinTextCompProRegular';
    font-size: 23px;
    margin: 10px 0 8px 0;
    text-decoration: underline;
}

.products_descr {
    display: block;
    font-size: 16px;
}

.products_main .produts_price {
    display: table;
    margin: 10px 0 0 0;
    width: 100%;
}

.products_main .produts_price div {
    display: table-cell;
    vertical-align: middle;
}

.products_main .produts_price div:nth-child(2) {
    text-align: left;
}

.products_main .produts_price span {
    font-family: 'PFDinTextCompProRegular';
    font-size: 28px;
}

.products_main .produts_price .link_basket {
    background: #702c87 url(../img/basket_ico_2.png) no-repeat center center;
    border-radius: 50%;
    display: inline-block;
    height: 53px;
    width: 53px;
} 

.products_main .produts_price .link_basket:hover {
    background-color: #5cc4f1;
}

.products_main .hit {
    background-color: rgba(92, 196, 241, 0.82);
    border: 5px solid #fff;
    border-radius: 50%;
    color: #ffffff;
    font-family: 'PFDinTextCompProRegular';
    font-size: 21px;
    height: 97px;
    left: 50%;
    line-height: 18px;
    margin-left: -48px;
    padding: 22px 0 0 0;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    top: 75px;
    width: 97px;
    z-index: 4;
}

.products_main .gray_line {
    background: #d5d5d5;
    border: none;
    color: #d5d5d5;
    height: 1px;
    margin: 20px auto 0;
    width: 206px;
}

.products .link_1, .block_gray .link_1 {
    color: #3eb1e2;
    display: block;
    font-family: 'PFDinTextCompProRegular';
    font-size: 21px;
    margin: 16px 0 0 0;
    text-align: center;
    text-decoration: underline;
}

.form_1 {
    background: url(../img/form.jpg) no-repeat center top;
    border: 4px solid #ffffff;
    height: 166px;
}

.form_1 .form_1_block {
    color: #ffffff;
    display: table;
    margin: 0 0 0 282px;
}

.form_1 .form_1_block > div {
    display: table-cell;
    height: 160px;
    vertical-align: middle;
}

.form_1 .form_1_block > .form_descript {
    font-size: 34px;
    line-height: 38px;
    padding: 0 55px 0 0;
    text-align: right;
    text-transform: uppercase;
}

.form_1 .form_1_block > .form_descript span {
    display: block;
    font-size: 49px;
}

.form_1 .form_1_block .form_submit {
    background: transparent;
    border: 3px solid #fff; 
    color: #ffffff;
    cursor: pointer;
    font-family: 'PFDinTextCondProRegular';
    font-size: 25px;
    height: 48px;
    line-height: 37px;
    margin: 0;
    padding: 0 38px;
}

.owl_wrap_2 {
    border-bottom: 4px solid #fff;
}

.block_gray {
    background: url(../img/gray_bg.jpg) repeat;
    padding: 76px 0 27px 0;
}

.block_gray .ul_2 {
    overflow: hidden;
}

.block_gray .ul_2 > li {
    color: #272727;
    float: left;
    font-size: 25px;
    line-height: 26px;
    text-align: center;
    width: 255px;
}

.block_gray .ul_2 > li + li {
    border-left: 1px solid #c5c5c5;
}

.block_gray .ul_2 > li a {
    color: #272727;
    display: block;
}

.block_gray .ul_2 > li a:hover {
    color: #2796c5;
}

.block_gray .link_1 {
    margin-top: 83px;
}

.wrapper .map {
    border-top: 4px solid #fff;
    height: 420px;
}

.wrapper .menu_bottom {
    border-bottom: 1px solid #cfcfcf;
    text-align: center;
}

.wrapper .menu_bottom a {
    color: #000000;
    display: inline-block;
    font-size: 17px;
    padding: 16px 0 8px 0;
}

.wrapper .menu_bottom a + a {
    margin-left: 19px;
}

.wrapper .footer {
    padding: 0 0 20px 0;
    overflow: hidden;
}

.wrapper .footer .footer_contacts {
    border-right: 1px solid #cfcfcf;
    color: #000000;
    font-family: 'PFDinTextCondProLight';
    font-size: 17px;
    line-height: 25px;
    margin: 21px 0 0 0;
    padding: 0 0 0 27px;
    width: 506px;
}

.footer .footer_contacts span {
    color: #2796c5;
}

.footer .footer_right {
    margin: 20px 0 0 0;
    overflow: hidden;
    width: 736px;
}

.footer .footer_right .block_phone .number_phone {
    font-family: 'PFDinTextCondProRegular'; 
    font-size: 41px;
    margin-bottom: 0;
}

.footer .block_phone .number_phone span {
    font-size: 30px;
}

.footer .footer_right .soc_btn {
    margin: 12px 0 0 89px;
}

.footer .footer_right .soc_btn a {
    border-radius: 7px;
    display: inline-block;
    height: 32px;
    width: 32px;
}

.footer .footer_right .soc_btn a + a {
    margin-left: 10px;
}

.footer .footer_right .soc_btn a.vk {
    background: url(../img/vk.png) no-repeat;
}

.footer .footer_right .soc_btn a.inst {
    background: url(../img/inst.png) no-repeat;
}

.footer .footer_right .block_phone {
    margin: 0 0 31px 0;
}

.footer .footer_right .link_2 {
    clear: both;
}

.footer .footer_right .count_site {
    margin: 35px 0 0 0;
    overflow: hidden;
}

.footer .footer_right .count_site > li {
    float: left;
}

.footer .footer_right .count_site > li + li {
    margin-left: 3px;
}