@media only screen and (max-width: 1080px) { /* mobile menu */
	.top_menu, .mobile_menu, .product_descript .close_btn {
		display: none;
	}
	.btn_menu {
		display: block;
	}
	.product_descript .close_btn {
		right: 20px;
	}
	.product_foto.left {
		float: none;
	}
	
	.wrap_bootle.bg_style {
		background: #004f1f;
	}
	
	.wrap_bootle {
		background-image: url(img/bottle_mobile.jpg);
	}
	.img_1, .menu_left {display: none;}
	.header_other, .header {
		background: #00742f;
		height: 120px;
	}
	.header_other .logo img, .header .logo img {
		width: 244px;
	}
	.header_other .logo, .header .logo {
		left: 50%;
		margin-left: -122px;
		top: 28px;
	}
	.mobile_img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		z-index: 10;
	}
/*	.close_btn {display: none;}*/
	.table_1, .game {display: none;}
	.product_descript.left {
		float: none;
		padding: 0 2%;
		width: 100%;
	}
	.list_pobed {
		display: block;
		padding: 0 0 0 30px;
	}
	.play {display: none;}
	.game_mobile {
		display: block;
		margin: 65px 0 0 0;
	}
	.reg_kod {
		display: block;
	}
	.pagination {
		margin: 40px 0 0 0;
	}
	.pagination > li {
		margin-bottom: 20px;
	}
	.pagination > li a {
		background-color: #008937;
		background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMTQlIiB4Mj0iNTAlIiB5Mj0iLTE0JSI+CjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmYmM3MjciIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhOTdmMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==);
		background-image: -moz-linear-gradient(bottom, #fbc727 -14%, #a97f00 114%);
		background-image: -o-linear-gradient(bottom, #fbc727 -14%, #a97f00 114%);
		background-image: -webkit-linear-gradient(bottom, #fbc727 -14%, #a97f00 114%);
		background-image: linear-gradient(bottom, #fbc727 -14%, #a97f00 114%);
		border: 1px solid #fbc727;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		font-size: 30px;
		height: 50px;
		line-height: 50px;
		text-shadow: 0 1px 2px rgba(146,50,8,.35);
		text-decoration: none;
		width: 55px;
	}
	.pagination > li a:hover, .pagination > li a:active {
		background-color: #008937;
		background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSItMTQlIiB4Mj0iNTAlIiB5Mj0iMTE0JSI+CjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmYmM3MjciIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhOTdmMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==);
		background-image: -moz-linear-gradient(top, #fbc727 -14%, #a97f00 114%);
		background-image: -o-linear-gradient(top, #fbc727 -14%, #a97f00 114%);
		background-image: -webkit-linear-gradient(top, #fbc727 -14%, #a97f00 114%);
		background-image: linear-gradient(top, #fbc727 -14%, #a97f00 114%);
	}
	.pagination_top {display: block; margin-bottom: 25px;}
	.pagination > li a.active, .pagination > li a.tochka {
		background: transparent;
		border-color: transparent
	}
	.pagination > li a.tochka {
		width: auto;
	}
	.name_authoriz {
/*		background: url(img/ico_2_mobile.png) no-repeat left center;*/
		-webkit-background-size: 44px 42px;
		background-size: 44px 42px;
		padding-left: 65px;
		padding-top: 5px;
	}
	.product_descript .h1 {
		margin-top: 50px;
	}
	.sort {
		display: block;
	}
	.bg_mobile, .bg_mobile.wrapper {
		background: url(img/bg_mobile.jpg) no-repeat center top / cover;
	}
	.pscrbox.mCustomScrollbar {
		height: auto !important;
	}
	.product_foto {
		display: none;
	}
	.bottle_2 {
		display: block;
		height: 785px;
		margin-top: -225px;
		position: relative;
		width: 227px;
	}
	
	.bottle_2 img {
		position: absolute;
		top: 0;
		z-index: 20;
	}
	.product_descript .close_btn {
		top: 0;
	}
}


@media only screen and (max-width: 900px) {
	.feedback .form.st_1, .reg_page .form.st_1 {
		padding-left: 3%;
		padding-right: 3%;
	}
}

@media only screen and (max-width: 799px) {
	
	.warning {
		display: none;
	}
	.logform .form .mil a {
		background: #00742f;
		color: #fff;
		display: block;
		font-size: 20px;
		height: 60px;
		line-height: 60px;
	}
	
	
	.recovery_pasw .mil {
		display: block;
		text-align: center;
	}
 	/*========================== feedback ==========================*/
	
	.feedback .outsubmit {text-align: center;}
	
	.akc_products > li {
		margin-bottom: 100px;
	}
}

@media only screen and (max-width: 768px) {
        .bottle_2 {
            width:200px;
            margin-top:-190px;
           
        }
	.wrapper {background: none;}
	.thank_you_page .logform .close_btn {
		top: 68px;
	}
	.thank_you_page .logform .form {
		padding-left: 0;
		padding-right: 0;
	}
	.logform .close_btn {
		background: url(img/close_ic_mobile.png) no-repeat;
                background-size:90%;
		height: 65px;
		right: 3%;
		top: 70px;
		width: 100px;
	}
	.pb { background: #452317; padding-bottom: 170px;}
	.warning_2 {display: block;}
	.recovery_pasw .logform .form, .feedback .logform .form, .reg_page .logform .form {
		background-color: transparent;
		border: none!important;
		border-radius: 0;
	}
	.mobile_bg {
		background-image: url(img/mobile_bg.png)!important;
		background-repeat: no-repeat!important;
		background-position: center bottom!important;
		background-size: contain;
	}
	.product_descript .h1 {
		font-size: 100px;
		line-height: 1;
	}
	.product_descript {
		font-size: 36px;
	}
	.product_descript p {
		margin-bottom: 35px;
	}
	.pagination > li a {
		font-size: 48px;
		height: 87px;
		line-height: 87px;
		width: 92px;
	}
	.sort > li {
		font-size: 48px;
	}
	.name_pobed {
		font-size: 48px;
	}
	.descript_pobed {
		font-size: 30px;
		position: relative;
		top: -15px;
	}
	.mobile_img_1 {
		display: block;
		position: absolute;
		right: 0;
		top: 120px;
	}
	.akc_products {
		margin-top: 75px;
	}
	.soc_btn, .dn_db {
		display: block;
	}
	.mobile_img_3 {
		display: block;
		margin-top: -140px;
	}
	.slider {
		background: transparent;
		border-bottom: 2px dashed #edc63d;
	}
	.slider .title_1 {
		border-bottom: 2px dashed #edc63d;
		color: #f1e636;
		font-size: 72px;
		text-align: center;
	}
	.sliderout .slick-initialized .slick-slide span {
		height: 402px;
		margin: 0 auto;
		width: 399px;
	}
	.sliderout .slick-initialized .slick-slide span img {
		display: block;
		height: 100%;
		width: 100%;
	}
	.sliderout .slick-prev, .sliderout .slick-next {
		background: url(img/slide_arrows_mob.png) no-repeat 0 0;
		height: 113px;
		width: 75px;
	}
	.sliderout .slick-next {
		background-position: -75px 0;
	}
	.sliderout .slick-prev:hover, .sliderout .slick-prev:focus, .sliderout .slick-next:hover, .sliderout .slick-next:focus {
		background-image: url(img/slide_arrows_mob.png);
	}
	.sliderout .slick-next, .sliderout .slick-next:hover, .sliderout .slick-next:focus {
		background-position: -75px 0;
	}
	.product_descript .close_btn {
		display: none;
	}
	.product_descript .h1 {
		padding-right: 10px;
	}
	.logform .vercode, .logform .refresh, .logform .form input[type="text"], .logform .form input[type="password"], .logform .form textarea {
		height: 88px;
		font-size: 30px;
	}
	.logform .form .label {
		font-size: 36px;
	}
	.logform .row .itm {
		height: auto;
	}
	#nletter + label, #agree + label {
		background: url(img/radio_bg_2.png) no-repeat 0 0;
		height: 84px;
		padding-left: 100px;
		font-size: 24px;
	}
	#nletter:checked + label, #agree:checked + label {
		background-position: 0 -84px;
	}
	/* form */
	.logform .form {
		position: static;
		margin-right: 0;
		transform: none;
	}
	.logform .h2 {
		font-size: 100px;
	}
	.logform .col.two {
		float: none;
		width: 100%;
	}
	.feedback .logform .col.one, .recovery_pasw .logform .col.one {
		float: none;
		margin-right: 0;
		width: 100%;
	}
	.reg_page .logform .row .itm {
		float: none;
		width: 100%;
	}
	.reg_page .logform .radio-group, .logform .form .rbox {
		float: none;
	}
	.outsubmit {text-align: center;}
	.logform .form .rbox .sbt {
		color: #f5e700;
		text-align: center;
		width: 100%;
	}
	.logform .vercode, .logform .single .vercode {
		width: calc(100% - 150px);
	}
	.logform .refresh {
		height: 92px;
		width: 92px;
	}
	.logform .refresh::after {
		background-image: url(img/refresh_icon_big.png);
		height: 52px;
		margin-left: -26px;
		margin-top: -26px;
		width: 52px;
	}
	.logform .outsubmit input[type=submit] {
		height: 87px;
		font-size: 24px;
	}
	.logform .form textarea {
		min-height: 350px;
	}
	.logform .form .rbox .sbt {
		font-size: 30px;
	}
	/* END form */
	.notif_tit .el_eleven {
		background-image: url(img/is_eleven_big.png);
		-webkit-background-size: contain;
		background-size: contain;
		height: 199px;
		width: 100%;
	}
	.notif_tit .bts.yes {
		background-image: url(img/bts_yes_big.png);
		-webkit-background-size: contain;
		background-size: contain;
		height: 129px;
		margin-top: 12px;
		width: 40%;
	}
	.notif_tit .bts.no {
		background-image: url(img/bts_no_big.png);
		-webkit-background-size: contain;
		background-size: contain;
		height: 129px;
		margin-top: -2px;
		width: 40%;
	}
	
	.radio:not(checked) + label::after {
		height: 70px;
		width: 70px;
	}
	.radio:not(checked) + label::before {
		height: 46px;
		left: 14px;
		top: 14px;
		width: 46px;
	}
	.radio + label {
		font-size: 24px;
	}
	.radio:not(checked) + label {
		padding-left: 110px;
	}
	.pris, .akc_products {
		display: table;
		margin-left: auto;
		margin-right: auto;
		margin-top: 175px;
	}
        .akc_products  {
            margin-top:80px;
        }
	.pris > li, .akc_products > li {
		float: none;
		height: 362px;
		width: 480px;
	}
	.pris.akc_products li {
		margin-bottom: 320px;		
	}
	.akc_products > li {
		margin-bottom: 190px;
		text-align: center;
	}
	.pris > li:last-child, .akc_products > li:last-child {
		margin-bottom: 150px;
	}
	.foto_pris {
		height: 304px;
		top: -152px;
	}
	.name_pris {
		font-size: 207px;
		margin-top: 217px;
	}
	.pris.akc_products .btn_1 {
		bottom: -57.5px;
		font-size: 30px;
		height: 115px;
		line-height: 115px;
		margin-left: -207.5px;
		padding: 0;
		width: 415px;
	}
	.golos {
		bottom: -115px;
		font-size: 24px;
	}
	.btn_2 {
		font-size: 30px;
		height: 117px;
		line-height: 117px;
		bottom: -58.5px;
		margin-left: -207.5px;
		width: 415px;
	}
	.kod_title {
		text-align: center;
	}
	.form_1 .input_txt {
		display: block;
		float: none;
		font-size: 48px;
		height: 88px;
		margin: 0 2% 72px 2%;
		width: 96%;
	}
	.form_1 .submit {
		display: block;
		float: none;
		font-size: 30px;
		height: 104px;
		margin-left: auto;
		margin-right: auto;
		width: 517px;
	}
	.akc_products > li .akc_products_img {
		height: 487px;
	}
	.akc_products_img {display: none;}
	.akc_products2 {
		display: block;
	}
	.akc_descript {
		height: 224px;
		top: 70px;
		width: 336px;
	}
	.logform .form .rbox .subm {
		font-size: 24px;
		height: 87px;
		line-height: 87px;
		padding: 0;
		width: 411px;
	}
	.logform .form.enter_form {
		padding: 0;
		margin-left: auto;
		margin-right: auto;
		width: 90%;
	}
	.logform .form.enter_form .col.single {
		width: 100%;
	}
	.logform .form.enter_form .r_3 input[type="submit"], .logform .form.enter_form .r_3 .hrefsub {
		height: 88px;
		font-size: 24px;
		text-align: center;
		width: 285px;
	}
	.logform .form.enter_form .r_3 .hrefsub {
		line-height: 88px;
		padding: 0;
	}
	.logform .form.enter_form .hlink {
		font-size: 24px;
	}
	.logform .form .inpmask.err {
		font-size: 30px;
    height: 88px;
		line-height: 88px;
		padding: 0 0 0 12px;
		top: 42px;
	}
	.logform .form.enter_form .r_4 .rbox .sbt {
		font-size: 30px;
	}
	.logform .form .mil a {
		font-size: 30px;
		height: 100px;
		line-height: 100px;
	}
	.feedback .form.st_1, .reg_page .form.st_1 {
		background: #224c23;
	}
	.wrapper.feedback, .wrapper.reg_page {
		background: #224c23;
	}
	.spec_header {
		display: block;
	}
	.recovery_pasw .logform .form {
		margin-left: auto;
		margin-right: auto;
		padding-left: 0;
		padding-right: 0;
		width: 95%;
	}
	.recovery_pasw  .logform .col.single {
		width: 100%;
	}
	.soclist.min a, .soclist.big a {
		background-image: url(img/socsprite_23.png);
		height: 87px;
		width: 87px;
	}
	.soclist.min a.vk, .soclist.big a.vk {
		background-position: -199px -102px;
	}
	.soclist.min a.vk:focus, .soclist.min a.vk:hover, .soclist.big a.vk:hover, .soclist.big a.vk:focus {
		background-position: -199px -5px;
	}
	.soclist.min a.fb, .soclist.big a.fb {
		background-position: -102px -5px;
	}
	.soclist.min a.klass, .soclist.big a.klass {
		background-position: -102px -102px;
	}
	.soclist.min a.klass:hover, .soclist.min a.klass:focus, .soclist.big a.klass:hover, .soclist.big a.klass:focus {
		background-position: -5px -102px;
	}
	.reg_page .form.st_1 {
		top: 50%;
	}
	.akc1_descript .span1 {
		font-size: 228.97px;
	}
	.akc1_descript .span2 {
		font-size: 91.59px;
	}
	.akc_products > li:first-child .akc1 img, .akc_products > li:nth-child(2) .akc1 img, .akc_products > li:nth-child(4) .akc1 img, .akc_products > li:nth-child(3) .akc1 img {
		width: auto;
	}
	.akc1_descript .span1 {
		padding: 0 50px;
	}
	
	.posa1 {
		bottom: -210px;
		left: -150px;
	}
	.posa2 {
		bottom: -258px;
		left: -340px;
	}
	.posa3 {
		bottom: -231px;
		left: -210px;
	}
	.posa4 {
		bottom: -217px;
		left: -405px;
	}
	.wrapper.pos_game.pb .wrap_bootle.mobile_bg {
		min-height: auto !important;
	}
	.mt0 {
		margin-top: 0 !important;
	}
	.pt1 {
		padding-top: 35px !important;
	}
	.akc_products > li {
		margin-right: 0;
	}
}

@media only screen and (max-width: 767px) {
	.reg_page .form.st_1 {
		top: 43%;
	}
}

@media only screen and (max-width: 720px) {
        .bottle_2 {
            width: 175px;
            margin-top: -163px;
        }
        
	.akc1_descript .span2 {
		white-space: normal;
	}
	.posa1 {
		bottom: -295px;
	}
	
	.posa3 {
		bottom: -308px;
		left: -66px;
	}
	
	.posa4 {
		bottom: -380px;
		left: -77px;
	}
	.akc_products {
		padding-bottom: 90px;
	}
}

@media only screen and (max-width: 710px) {
	
	.soclist.min.right {
		float: none;
		text-align: center;
	}
	.mobile_menu {
		left: 0;
	}
	.mobile_menu .out {
		display: block;
		margin-top: 30px;
		margin-left: 77px;
	}
	.mobile_menu .out::before {display: none;}
	
	.header_other .logo img, .header .logo img {
		width: 202px
	}
	.header_other .logo, .header .logo {
		top: 45px;
	}
	.recovery_pasw .logform .h2 {
		font-size: 54px;
	}
}

@media only screen and (max-width: 660px) {
    
      .bottle_2 {
            width: 153px;
            margin-top: -130px;
          
        }
     
	.wrap_item_menu, .menu_mobile_ul > li a {
		padding-left: 2%;
		padding-right: 2%;
	}
	.close_menu {
		right: 2%;
	}
	.logform .row .itm {
		float: none;
		width: 100%;
	}
	.sliderout .slick-initialized .slick-slide span {
		height: 302px;
		margin: 0 auto;
		width: 299px;
	}
	.notif_tit .bts.no {
		margin-top: 0;
	}

	.logform .form.enter_form .r_3 input[type="submit"], .logform .form.enter_form .r_3 .hrefsub {
		font-size: 14px;
		height: auto;
		width: auto;
	}
	.logform .form.enter_form .r_3 .hrefsub {
		line-height: 1;
		padding: 16px 25px 17.5px;
	}
}

@media only screen and (max-width: 630px) {
	.product_descript .h1 {
		font-size: 72px;
	}
	.product_descript {
		font-size: 20px;
	}
	.name_pobed {
		font-size: 25px;
	}
	.descript_pobed {
		font-size: 15px;
		top: 0;
	}
	.pagination > li a {
		font-size: 30px;
		height: 50px;
		line-height: 50px;
		width: 55px;
	}
	.sort > li {
		font-size: 20px;
	}

}

@media only screen and (max-width: 610px) {
	.header_other .logo, .header .logo {
		margin-left: -150px;
	}
	.mobile_img_2 {display: none;}
	.akc1_descript .span1 {
		font-size: 185.97px;
	}
	
	.posa1 {
		bottom: -295px;
		left: -72px;
	}
	.posa2 {
		bottom: -211px;
		left: -252px;
	}
	
	.posa3 {
		bottom: -292px;
		left: -15px;
	}
	
	.posa4 {
		bottom: -360px;
		left: -36px;
	}
}

@media only screen and (max-width: 580px) {
	.form.st_2 {
		padding-left: 2%;
		padding-right: 2%;
	}
	.mobile_menu .tooltip {
		width: auto;
	}
	.name_authoriz a {
		display: block;
	}
	.header_other .logo img, .header .logo img {
		width: 170px;
	}
	.header_other .logo, .header .logo {
		top: 55px;
	}
	.mobile_menu .tooltip {
		font-size: 20px;
		top: -108px;
		width: 265px;
	}
	.logform .enter_form .hlink {
		clear: both;
		display: block;
		float: none;
		margin-bottom: 50px;
	}
	.is_chrome .mobile_menu .tooltip, .is_opera .mobile_menu .tooltip {
		top: -204px;
	}
}

@media only screen and (max-width: 570px) {
	.radio-group .item {
		margin-bottom: 45px;
	}
}

@media only screen and (max-width: 550px) {
	.thank_you .logform .form {
		padding-left: 2%;
		padding-right: 2%;
	}
	.product_descript .h1 {
		font-size: 60px;
	}
	.header_other .logo, .header .logo {
		display: none;
	}
	.sliderout .slick-initialized .slick-slide span {
		height: 202px;
		margin: 0 auto;
		width: 199px;
	}
	.sliderout .slick-prev, .sliderout .slick-next {
		background: url(img/slide_arrows.png) no-repeat 0 0;
		height: 42px;
		width: 30px;
	}
	.sliderout .slick-next, .sliderout .slick-next:hover, .sliderout .slick-next:focus {
		background-position: -30px 0;
	}
	.sliderout .slick-prev:hover, .sliderout .slick-prev:focus, .sliderout .slick-next:hover, .sliderout .slick-next:focus {
		background-image: url(img/slide_arrows.png);
	}
	.slider .title_1 {
		font-size: 40px;
	}
	.logform .h2 {
		font-size: 54px;
	}
	.pris, .akc_products {
		margin-top: 75px;
	}
	.pris > li, .akc_products > li {
		height: 145px;
		width: 192px;
	}
	.pris.akc_products li {
		margin-bottom: 200px;
	}
	.pris > li:last-child, .akc_products > li:last-child {
		margin-bottom: 150px;
	}
	.foto_pris {
		height: 122px;
		top: -61px;
	}
	.name_pris {
		font-size: 118.85px;
		margin-top: 73px;
	}
	.pris.akc_products .btn_1 {
		bottom: -23px;
		font-size: 14px;
		height: 45px;
		line-height: 45px;
		margin-left: -83px;
		padding: 0;
		width: 166px;
	}
	.golos {
		bottom: -60px;
		font-size: 12px;
	}
	.btn_2 {
		bottom: -23px;
		font-size: 14px;
		height: 45px;
		line-height: 45px;
		margin-left: -83px;
		width: 166px;
	}
	.kod_title {
		text-align: center;
	}
	.form_1 .input_txt {
		font-size: 24px;
		height: 45px;
		margin: 0 2% 30px 2%;
		width: 96%;
	}
	.form_1 .submit {
		font-size: 14px;
		height: 45px;
		width: 96%;
	}
	.akc_products_img {display: BLOCK;}
	.akc_products2 {
		display: none;
	}
	.akc_descript {
		height: auto;
		top: 17px;
		width: auto;
	}
	.akc_products > li .akc_products_img {
		height: auto;
	}
	.akc_products > li {
		margin-bottom: 93px;
	}
	.akc1_descript .span1 {
		font-size: 58.97px;
	}

	.akc1_descript .span2 {
		font-size: 44.59px;
	}
	.akc_products > li:first-child .akc1 img {
		width: 80px;
	}

	.akc_products > li:nth-child(2) .akc1 img {
		width: 100px;
	}

	.akc_products > li:nth-child(3) .akc1 img {
		width: 150px;
	}

	.akc_products > li:nth-child(4) .akc1 img {
		width: 122px;
	}
	.posa1 {
		bottom: -70px;
		left: -103px;
	}

	.posa2 {
		bottom: -70px;
		left: -87px;
	}

	.posa3 {
		bottom: -70px;
		left: -120px;
	}

	.posa4 {
		bottom: -70px;
		left: -223px;
	}
	.akc1_descript .span2 {
		white-space: nowrap;
	}
	.akc_products {
		padding-bottom: 0;
	}
}

@media only screen and (max-width: 500px) {
	
	.product_descript .h1 {
		font-size: 55px;
	}
	.product_descript {
		font-size: 20px;
	}
	.ul_link > li {
		float: none;
		text-align: center;
		width: 100%;
	}
	.ul_link > li a {
		height: 100px;
		line-height: 100px;
	}
	.ul_link > li:last-child::before {
		display: none;
	}
	.notif_tit .bts.no {
		margin-top: -29px;
	}
	.notif_tit .bts.yes {
		margin-top: -27px;
	}
}

@media only screen and (max-width: 450px) {
	.bottle_2 {
		margin-top: -114px;
		width: 165px;
	}
	.close_menu {
		z-index: 100;
	}
	/* обычная форма */
	.logform .vercode, .logform .refresh, .logform .form input[type="text"], .logform .form input[type="password"], .logform .form textarea {
		height: 49px;
	}
	.logform .form .label {
		font-size: 20px;
	}
	#nletter + label, #agree + label {
		background: url("img/radio_bg.png") no-repeat scroll 0 0;
		height: 48px;
		font-size: 13px;
		padding-left: 60px;
	}
	#nletter:checked + label, #agree:checked + label {
		background-position: 0 -49px;
	}
	.logform .form input[type=text], .logform .form input[type=password], .logform .form textarea {
		font-size: 18px;
	}
	.logform .h2 {
		font-size: 50px;
	}
	.logform .vercode {
		width: calc(100% - 80px);
	}
	.logform .refresh {
		height: 49px;
    	width: 50px;
	}
	.logform .refresh::after {
		background-image: url("img/refresh_icon.png");
		height: 29px;
		margin-left: -14.5px;
   		margin-top: -14px;
		width: 29px;
	}
	.logform .outsubmit input[type=submit] {
		height: auto;
		font-size: 14px;
	}
	.logform .form textarea {
		min-height: 230px;
	}
	.logform .form .rbox .sbt {
		font-size: 20px;
	}
	.radio:not(checked) + label::after {
		height: 37px;
		width: 37px;
	}
	.radio:not(checked) + label::before {
		left: 7px;
		top:7px;
		width:27px;
		height:27px;
	}
	.radio + label {
		font-size: 14px;
	}
	.radio:not(checked) + label {
		padding-left: 60px;
	}
	.logform .form .rbox .subm {
		font-size: 14px;
		height: auto;
		line-height: 1.2;
		padding: 15px 52px 14px;
		width: 194px;
	}
	.logform .form .inpmask.err {
		font-size: 18px;
		height: 50px;
		line-height: 50px;
		padding: 0 0 0 12px;
		top: 26px;
	}
	.logform .form.enter_form .hlink {
		font-size: 14px;
	}
	.reg_page .form.st_1 {
		top: 45%;
	}
	.feedback .logform .form {
		top: 50%;
	}
	.mt1 {
		margin-top: 100px!important;
	}
}

@media only screen and (max-width: 430px) {
	.reg_page .checkbox-group .item {
		margin-bottom: 35px;
	}
	
}

@media only screen and (max-width: 400px) {
	.notif_tit .el_eleven {
		background-size: contain;
		width: 100%;
	}
	.notif_tit .bts.yes {
		margin-bottom: 50px;
	}
	.bottle_2 {
		height: 410px;
		width: 100px;
	}
	.notif_tit .bts.yes {
		margin-top: -55px;
	}
	.notif_tit .bts.no {
		margin-top: -52px;
	}

}

@media only screen and (max-width: 380px) {
	.logform .h2 {
		font-size: 50px;
	}
	.reg_form {
		width: 100%;
	}
	.thank_you .submit {
		padding-left: 9% !important;
		padding-right: 9% !important;
	}
	.logform .form.enter_form .r_3 input[type="submit"], .logform .form.enter_form .r_3 .hrefsub {
		float: none;
		width: 100%;
	}
	.logform .form.enter_form .r_3 input[type="submit"] {
		margin-bottom: 25px;
	}
}

@media only screen and (max-width: 350px) {
	.logform .col.single {
		width: 100%;
	}
	.logform .form {
		padding-left: 2%;
		padding-right: 2%;
	}
	.logform .form .r_3 input[type="submit"] {
		display: block;
		float: none;
		margin-bottom: 20px;
		width: 100%;
	}
	.logform .form .r_3 .hrefsub {
		display: block;
		float: none;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	.logform .checkbox-group, .logform .form .hlink {
		float: none;
	}
	.logform .form .hlink {
		display: block;
		margin-bottom: 30px;
		margin-top: 50px;
	}
	.logform .h2 {
		font-size: 45px;
	}
	.bottle_2 {
		display: none;
	}
	.slick-prev {
		left: -38px;
	}
	.pb {
		padding-bottom: 105px;
	}
	.form_1 {
		margin-bottom: 50px;
	}
	.logform .close_btn {
		background: rgba(0, 0, 0, 0) url("img/close_ic.png") no-repeat scroll 0 0;
		height: 50px;
		top: 85px;
		width: 71px;
	}
	.logform .form .mil a {
		font-size: 24px;
		height: 60px;
		line-height: 60px;
	}
	.notif_tit .bts.yes {
		margin-top: -64px;
	}
	.notif_tit .bts.no {
		margin-top: -59px;
	}
	
}

@media only screen and (max-width: 319px) {
	body {
		overflow-x: auto;
		width: 320px;
	}
}
