/*========================== reset.css ==========================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, time {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a, input, select, textarea {
    outline: none;
}

img, input {
	border: none;
	height: auto;
	max-width: 100%;
}

input[type=submit] {
    cursor: pointer;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*========================== END reset.css ==========================*/

/*========================== Общие классы ==========================*/

.clearfix {
    display:inline-block;
}

.clearfix {
    zoom:1;
    display:block;
}

.clearfix:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden
}

.left {float: left;}
.right {float: right;}

.center {
	margin-left: auto;
	margin-right: auto;
}

/*========================== END ==========================*/

@font-face {
	font-family: 'MyriadPro-BoldCond';
	src: url('fonts/MyriadPro-BoldCond/MyriadPro-BoldCond.eot');
	src: local('☺'), url('fonts/MyriadPro-BoldCond/MyriadPro-BoldCond.woff') format('woff'), 
		url('fonts/MyriadPro-BoldCond/MyriadPro-BoldCond.ttf') format('truetype'), 
		url('fonts/MyriadPro-BoldCond/MyriadPro-BoldCond.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* font-family: "MyriadProCondRegular"; */
@font-face {
    font-family: "MyriadProCondRegular";
    src: url("fonts/MyriadProCondRegular/MyriadProCondRegular.eot");
    src: url("fonts/MyriadProCondRegular/MyriadProCondRegular.eot?#iefix")format("embedded-opentype"),
    url("fonts/MyriadProCondRegular/MyriadProCondRegular.woff") format("woff"),
    url("fonts/MyriadProCondRegular/MyriadProCondRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
	color: #fff;
	font-family: Arial;
	font-size: 13px;
}

a {
	color: #fff;
	text-decoration: none;
}

.wrapper {
    background: url(img/body_bg.jpg) no-repeat 0 0 / cover;
	height: 100vh;
	position: relative;
	max-width: 1366px;
	margin: 0 auto;
	overflow: hidden;
}

.wrap_bootle {
	background: url(img/bottle.png) no-repeat center top / cover, url(img/green_bg.png) repeat-x;	
	height: 100vh;
}

.green_bg {
	background: url(img/green_bg.png) repeat-x;
	height: 45px;
	line-height: 45px;
	padding: 0 44px 0 0;
	width: 340px;
}

.logo {
	left: 87px;
	position: absolute;
	top: 12px;
	z-index: 10;
}

.top_menu a, .top_menu span {
	border-bottom: 1px solid rgba(255, 255, 255, .25);
}

.warning {
	bottom: 10px;
	position: absolute;
	z-index: 999;
}

a.reg {
	background-color: #008937;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMTQlIiB4Mj0iNTAlIiB5Mj0iLTE0JSI+CjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmYmM3MjciIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhOTdmMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==);
	background-image: -moz-linear-gradient(bottom, #fbc727 -14%, #a97f00 114%);
	background-image: -o-linear-gradient(bottom, #fbc727 -14%, #a97f00 114%);
	background-image: -webkit-linear-gradient(bottom, #fbc727 -14%, #a97f00 114%);
	background-image: linear-gradient(bottom, #fbc727 -14%, #a97f00 114%);
	border: 1px solid #fbc727;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	height: 33px;
	line-height: 33px;
	margin: 6px 0 0 203px;
	padding: 0 15px;
	text-shadow: 0 1px 2px rgba(146,50,8,.35);
	text-transform: uppercase;
}

a.reg img {
	padding: 0 10px 0 0;
	vertical-align: middle;
}

a.reg:hover {
	border: 1px solid #fbc727;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #008937;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSItMTQlIiB4Mj0iNTAlIiB5Mj0iMTE0JSI+CjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmYmM3MjciIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhOTdmMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==);
	background-image: -moz-linear-gradient(top, #fbc727 -14%, #a97f00 114%);
	background-image: -o-linear-gradient(top, #fbc727 -14%, #a97f00 114%);
	background-image: -webkit-linear-gradient(top, #fbc727 -14%, #a97f00 114%);
	background-image: linear-gradient(top, #fbc727 -14%, #a97f00 114%);
}

.ml_1 {
	margin: 0 0 0 24px;
}

.name_authoriz {
	background: url(img/ico_2.png) no-repeat left center;
	margin: 0 0 0 15px;
	padding: 0 0 0 24px;
}

.out {
	margin: 0 0 0 25px;
	position: relative;
}

.out:before {
	background: #fbc727;
	content: "";
	height: 24px;
	left: -15px;
	position: absolute;
	top: -4px;
	width: 1px;
}

.block_left {
	position: relative;
	width: 545px;
}

.block_left .img_1 {
    left: -45px;
    position: absolute;
    top: -77px;
    z-index: 2;
}

.menu_left {
	margin: 350px 0 0 0;
/*	transform: rotate(-12deg);*/
}

.menu_left > li {
	background: #004f1f url(img/ico_3.png) no-repeat left center;
	clear: both;
	float: left;
	-webkit-transform: skew(10deg); -moz-transform: skew(10deg); -o-transform: skew(10deg);
}

.menu_left > li a {
	font-family: 'MyriadPro-BoldCond';
	font-size: 35px;
	display: block;
	line-height: 1.2;
	padding: 0 10px 0 35px;
	text-transform: uppercase;
}

